.menu__item_price {
  background: $orange;
}

.popup
{
    display: none;
}
tr
{
    border: 1px solid $primary-color;
}

td.group
{
    padding: 10px;

    cursor: pointer;
    text-align: center;

    color: #5c3b2c;
    background: #feecdf;

    font-size: 18px;
    font-weight: 700;
}

tbody
{
    width: 100%;
}

td
{
    display: table-cell;
}

.thead td
{
    vertical-align: middle;

    color: white;
    background: $primary-color;

    font-size: 16px;
}

.slide,
tr
{
    width: 100%;
}

tr.body td
{
    padding: 12px 4px;

    text-align: center;

    color: #5a534f;
    border: 1px dotted #aec136;

    font-family: Arial;
    font-size: 14px;
}

.body
{
    display: none;
}

.show_row
{
    display: table-row;
}

tr
{
    td b
    {
        text-transform: uppercase;

        font-size: 16px;
        font-weight: bold;
    }
}
@media (min-width:320px) {
  tr.body td {
    padding: 12px 2px;
  }
}
