<!--Футер -->
<footer class="footer">
  <div class="section__agreement">
    <div class="payment_systems"></div>
    <p class="text text_size_xs footer__text_agreement">
      <a href="#"> Соглашение </a> на обработку персональных данных<br>
      Лицензия № ЛО-61-01-005670 от 24.01.2017
    </p>
  </div>
</footer>
