<header class="header">
  <div class="header__container_flex">
    <div class="header__logo">
      <a href="index.html">
        <img src="./static/img/logo_med.png" alt="Семейный мед.центр"class="header__logo_item" tabindex="0">
      </a>
    </div>

    <div class="header__contact-info">
      <div class="header__contact-box">
        <p class="header__text_up"><span class="text_green">пн-сб:</span> 08.00-20.00</p>
        <p><span class="text_red">вс: 08.00-18.00</span></p>
      </div>
      <div class="header__contact-box">
        <p class="header__text_up"><span class="text_green">8 (800)</span> 555-80-62</p>
        <p><span class="text_green">8 (863)</span> 230-04-30</p>
      </div>

      <div class="header__contact-box">
        <p class="header__text_up"><span class="text_green">8 (863)</span> 230-04-33</p>
        <p><span class="text_green">8 (863)</span> 310-91-31 </p>
      </div>

      <div class="header__location">
        <p>г. Ростов-на-Дону<br>бул. Комарова<br>7a/16a</p>
      </div>
    </div>

    <div class="networks_desktop">
      <ul class="networks__list">
        <li class="networks__item">
          <a href="https://www.facebook.com/semmedcentr/" class="networks__link networks__link_fb" target="blank" tabindex="0"></a>
        </li>
        <li class="networks__item">
          <a href="https://vk.com/semmedcentr" class="networks__link networks__link_vk" target="blank" tabindex="0"></a>
        </li>
        <li class="networks__item">
          <a href="https://www.instagram.com/semmedcentr/" class="networks__link networks__link_ig" target="blank" tabindex="0"></a>
        </li>
        <li class="networks__item">
          <a href="https://ok.ru/semeynymed" class="networks__link networks__link_ok" target="blank" tabindex="0"></a>
        </li>
      </ul>
    </div>

    <p class="license__text text text_size_xs">Лицензия<br> № ЛО-61-01-005670 от 24.01.2017</p>
    <div class="header__children"></div>
  </div>



    <div class="header__tools">
      <input type="text" placeholder="Поиск по сайту" class="header__input">
      <a href="index.html" class="header__logo_mobile  header__tools_item header__tools_item_big"></a>
      <span class="header__visit header__tools_item_big header__tools_item"></span>
      <span class="header__reference  header__tools_item header__tools_item_big"></span>
      <span class="header__phone   header__tools_item header__tools_item_small"></span>
      <span class="header__search  header__tools_item header__tools_item_small"></span>
      <span class="header__close  header__tools_item header__tools_item_small"></span>
      <span class="header__mob-menu header__tools_item"></span>
    </div>
</header>
