<div class="menu-wrapper">
  <ul class="menu">
    <li class="menu__item menu__item_page menu__item_services">
      <a href="services.html" class="menu__link menu__link_offers" title="Услуги">Услуги</a>
    </li>

    <li class="menu__item menu__item_close">
      <a href="#" class="menu__link menu__link_close-button">Закрыть меню</a>
    </li>

    <li class="menu__item menu__item_page menu__item_price">
      <a href="price.html" class="menu__link menu__link_price" title="Прайс-лист">
        Прайс-лист
      </a>
    </li>

    <li class="menu__item menu__item_page menu__item_specialists">
      <a href="specialists.html" class="menu__link menu__link_specialists" title="Специалисты">
        Специалисты
      </a>
    </li>

    <li class="menu__item menu__item_page menu__item_schedule">
      <a href="schedule.html" class="menu__link menu__link_schedule" title="Расписание">
        Расписание
      </a>
    </li>

    <li class="menu__item menu__item_page menu__item_news">
      <a href="news.html" class="menu__link menu__link_news" title="Новости">
        Новости
      </a>
    </li>

    <li class="menu__item menu__item_page menu__item_useful">
      <a href="useful.html" class="menu__link menu__link_usefull" title="Полезное">
        Полезное
      </a>
    </li>

    <li class="menu__item menu__item_page menu__item_contacts">
      <a href="contacts.html" class="menu__link menu__link_contacts" title="Контакты">
        Контакты
      </a>
    </li>
  </ul>
</div>
