<div class="popup popup__ring">
  <div class="popup__content">
    <img src="./static/img/xxxx.svg" alt="Закрыть" class="popup__close-button">
    <h1 class="popup__title_ring">«Семейный Медицинский Центр»</h1>
    <div class="popup__adress">
      <h2 class="popup__subtitle_ring">Адрес:</h2>
      <p class="popup__text">Бульвар Комарова, 7А/16А</p>
    </div>

    <h2 class="popup__subtitle_ring">График работы</h2>
    <p class="popup__text_ring">понедельник-суббота <span class="bold">с 08:00 до 20:00</span><br>
      воскресенье — <span class="bold">с 08:00 до 18:00</span></p>

    <div class="popup__number-wrapper">
        <a href="tel:8 (800) 555-80-62"  class="popup__number"><span class="popup__number_green">8(800)</span>555-80-62</a>
        <a href="tel:8 (863) 230-04-30"  class="popup__number"><span class="popup__number_green">8(800)</span>230-04-33</a>
        <a href="tel:8 (863) 230-04-33"  class="popup__number"><span class="popup__number_green">8(800)</span>230-04-30</a>
        <a href="tel:8 (863) 310-91-31"  class="popup__number"><span class="popup__number_green">8(800)</span>310-91-31</a>
    </div>

    <div class="networks popup__networks">
      <ul class="networks__list">
        <li class="networks__item"><a href="https://www.facebook.com/semmedcentr/?ref=bookmarks"
          class="networks__link  popup__link networks__link_fb" target="blank"></a>
        </li>

        <li class="networks__item"><a href="https://vk.com/semmedcentr"
          class="networks__link  popup__link networks__link_vk" target="blank"></a>
        </li>

        <li class="networks__item"><a href="https://www.instagram.com/semmedcentr/"
          class="networks__link popup__link networks__link_ig" target="blank"></a>
         </li>

        <li class="networks__item"><a href="https://ok.ru/semeynymed"
          class="networks__link  popup__link networks__link_ok" target="blank"></a>
        </li>
      </ul>
    </div>

    <div class="popup__ring_image-wrapper">
      <img src="./static/img/profi.png" alt="Семейный Медицинский Центр Профи" class="popup__ring_image_left">
      <img src="./static/img/kamenolom22.png" alt="Семейный Медицинский Центр Каменоломни" class="popup__ring_image_right">
    </div>
  </div>
</div>
