<div class="popup popup__reference">
  <div class="popup__content">
    <span class="popup__close-button"></span>
    <h3 class="title popup__title popup__form_title">Заказ справки</h3>
    <span class="text popup__text popup__subtitle_visit">Поля, отмеченные*, обязательны<br> для заполнения</span>

    <form>
      <label class="full-name__label">
        ФИО *
        <input type="text" placeholder="ФИО" class="input input_text">
      </label>

    <fieldset>
      <legend class="popup-visit__day">Дата рождения</legend>
      <select name="day" class="select select_day select_day_reference"></select>

      <select name="month" class="select select_month">
        <option value="Январь" selected>Январь</option>
        <option value="Февраль">Февраль</option>
        <option value="Март">Март</option>
        <option value="Апрель">Апрель</option>
        <option value="Май">Май</option>
        <option value="Июнь">Июнь</option>
        <option value="Июль">Июль</option>
        <option value="Август">Август</option>
        <option value="Сентябрь">Сентябрь</option>
        <option value="Октябрь">Октябрь</option>
        <option value="Ноябрь">Ноябрь</option>
        <option value="Декабрь">Декабрь</option>
      </select>

      <select name="year" class="select select_year select_year_reference"></select>
    </fieldset>


    <label>
      E-mail
      <input type="email" placeholder="test@mail.ru" class="input input_text">
    </label>

    <label>
      Телефон *
      <input type="tel" placeholder=" +7 (919) 900-00-00" class="input input_text">
    </label>

    <label>
      Адрес *
      <input type="text" placeholder=" ул.Садовая, 13" class="input input_text">
    </label>

    <label>
      Паспорт серия *
      <input type="tel" class="input input_text">
    </label>

    <label>
      Паспорт номер *
      <input type="tel" class="input input_text">
    </label>

      <fieldset>
        <select name="day" class="select select_day">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>

        <select name="month" class="select select_month">
          <option value="Январь" selected>Январь</option>
          <option value="Февраль">Февраль</option>
          <option value="Март">Март</option>
          <option value="Апрель">Апрель</option>
          <option value="Май">Май</option>
          <option value="Июнь">Июнь</option>
          <option value="Июль">Июль</option>
          <option value="Август">Август</option>
          <option value="Сентябрь">Сентябрь</option>
          <option value="Октябрь">Октябрь</option>
          <option value="Ноябрь">Ноябрь</option>
          <option value="Декабрь">Декабрь</option>
        </select>

        <select name="year" class="select select_year">
          <option value="1998">2018</option>
          <option value="1997">2016</option>
        </select>
      </fieldset>

      <label>
        Кем выдан *
        <input type="text" placeholder="Текст сообщения"
          class="input__suffer input input_text">
      </label>

      <p class="popup-visit__day">Выберите справку *</p>
      <select name="reference" class="select select_reference">
        <option value="1998">Справка для поступления </option>
        <option value="1997">2016</option>
      </select>

      <fieldset class="wrapper__reference_narco">
        <legend class="popup-visit__day">Справка от нарколога *</legend>
        <label class="flex_label radio__label_reference">
          <input type="radio" name="drug" class="input flex__input radio_input">
          <span class="radio__custom_circle-wrapper"></span>
          <span class="radio__custom_circle"></span>
            есть своя
        </label>

        <label class="flex_label radio__label_reference">
          <input type="radio"  name="drug" class="input flex__input radio_input">
          <span class="radio__custom_circle-wrapper"></span>
          <span class="radio__custom_circle"></span>
            оформляет медцентр
        </label>
      </fieldset>

      <fieldset class="wrapper__reference_psycho">
        <legend class="popup-visit__day">Справка от психиатра *</legend>
        <label class="flex_label radio__label_reference">
          <input type="radio" name="psycho" class="input flex__input radio_input">
          <span class="radio__custom_circle-wrapper"></span>
          <span class="radio__custom_circle"></span>
            есть своя
        </label>

        <label class="flex_label radio__label_reference">
          <input type="radio" name="psycho" class="input flex__input radio_input">
          <span class="radio__custom_circle-wrapper"></span>
          <span class="radio__custom_circle"></span>
            оформляет медцентр
        </label>
      </fieldset>

      <div class="fieldset agreement__fieldset">
        <label class="flex_label checkbox__label">
          <input type="checkbox">
          <span class="checkbox__custom"></span>
          Согласие на обработку персональных данных
        </label>
      </div>

      <button class="submit">Отправить</button>
    </form>
  </div>
</div>
