<aside class="sidebar sidebar_absolute rotate_close">
  <div class="sidebar__input_desktop-wrapper">
    <input type="text" placeholder="Поиск по сайту" class="sidebar__input_desktop">
  </div>
  <ul class="sidebar__list sidebar__list_up">
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">О центре</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Администрация</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Документы и лицензия</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Вакансии</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Партнеры</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Уголок потребителя</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Фотогалерея</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Филиалы</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Физиотерапия</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Вакансии</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Видео</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">СМИ о нас</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Санминимум</a></p></li>
  </ul>

  <ul class="sidebar__list sidebar__list_middle">
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Ардинцева О.А.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Аникина О.В.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Бабенко Е.В.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Бережная Е.А.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Болотоносов М.В.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Велигуров О.И.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Верина В.В.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Гужвинский М.В.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Елагина Н.Ю.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Журавлева Л.В.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Зонова Е.В.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Ивлева Т.А.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Катеринчева О.А.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Калмыков Я.И.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Карнаухов А.М.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Косьмина О.В.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Минченок Н.В..</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Мемарнишвили А.И.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Недилько А.Г.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Нестерцова Т.А.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Оганьян Т.В.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Паршин С.А.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Патрашану Н.К.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Романченко С.В.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Сокольчик И.И.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Салихова М.В.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Соколовская М.Ю.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Трофименков М.Я.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Чилингарянц С.Г.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Шарковская Т.В.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Отделение аллергологии-иммунологии.</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Ваш ребенок часто болеет</a></p></li>
    <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Другие статьи</a></p></li>
  </ul>

  <div class="sidebar__desktop-content">
    <img src="./static/img/kamenolom.png" class="sidebar__kamenolom" alt="">
    <img src="./static/img/profi.png"     class="sidebar__profi" alt="">
      <a href=# class="button sidebar__button sidebar__button_1">Записаться на приём</a>
      <a href=# class="button sidebar__button sidebar__button_2">Заказать справку</a>

    <ul class="sidebar__list sidebar__list_down">
      <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Памятка пациенту</a></p></li>
      <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Порядок посещения</a></p></li>
      <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Положение о дисконтной программе</a></p></li>
      <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Положение о режиме и охране</a></p></li>
      <li class="sidebar__item"><p class="sidebar__text"><a href="#" class="sidebar__link">Положение об обращении граждан</a></p></li>
    </ul>

    <!--Секция прогресса -->
    <section class="section section__progress">
      <h2 class="title section__title title_common progress__title">Наши достижения</h2>
      <div class="section__content section__content_progress">
        <img src="./static/img/medicine.png" alt="Лучшие клиники РФ" class="progress__image progress__image_medicine">
        <img src="./static/img/reputation.png" alt="Надежная репутация" class="progress__image progress__image_reputation">
      </div>
    </section>
  </div>
</aside>
