<div class="popup popup__visit">
  <div class="popup__content">
    <span class="popup__close-button"></span>
    <h3 class="title popup__title popup__form_title">Запись на приём</h3>
    <span class="text popup__text popup__subtitle_visit">Поля, отмеченные*, обязательны<br> для заполнения</span>

    <form>
      <label class="full-name__label">
        ФИО *
        <input type="text" placeholder="ФИО" class="input input_text">
      </label>

      <fieldset>
        <legend class="popup-visit__day">Дата рождения</legend>
        <select name="day" class="select select_day select_day_visit"></select>

        <select name="month" class="select select_month">
          <option value="Январь" selected>Январь</option>
          <option value="Февраль">Февраль</option>
          <option value="Март">Март</option>
          <option value="Апрель">Апрель</option>
          <option value="Май">Май</option>
          <option value="Июнь">Июнь</option>
          <option value="Июль">Июль</option>
          <option value="Август">Август</option>
          <option value="Сентябрь">Сентябрь</option>
          <option value="Октябрь">Октябрь</option>
          <option value="Ноябрь">Ноябрь</option>
          <option value="Декабрь">Декабрь</option>
        </select>

        <select name="year" class="select select_year select_year_visit"></select>
      </fieldset>

      <label>
        E-mail
        <input type="email" placeholder="test@mail.ru" class="input input_text">
      </label>

      <label>
        Телефон *
        <input type="tel" placeholder=" +7 (919) 900-00-00" class="input input_text">
      </label>

      <label>
        Адрес *
        <input type="text" placeholder=" ул.Садовая, 13" class="input input_text">
      </label>

      <label>
        Специалист *
        <select name="specialist" class="select select_specialist">
          <option value="Демидова" selected>Демидова</option>
        </select>
      </label>

      <label>
        Жалобы (кратко)*
        <input type="text" placeholder="Текст сообщения" class="input__suffer input input_text">
      </label>

        <label class="flex_label checkbox__label">
          <input type="checkbox">
          <span class="checkbox__custom"></span>
          Согласие на обработку персональных данных
        </label>

      <button class="submit">Отправить</button>
    </form>
  </div>
</div>
