<table class="slide">
  <tbody>
    <tr class="thead">
      <td align="center" class="group" colspan="8">Перечень услуг медицинского центра</td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Академический отпуск</td>
    </tr>
    <tr class="body">
      <td>Академический отпуск</td>
      <td colspan="7" style="text-align: left !important;">Академический отпуск &mdash; отпуск, предоставляемый студенту высшего или среднего профессионального учебного заведения по медицинским показаниям и в других исключительных случаях (стихийные
        бедствия, семейные обстоятельства). <a href="uslugi/akademicheskij-otpusk.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Акушерство и гинекология</td>
    </tr>
    <tr class="body">
      <td>Гинекология</td>
      <td colspan="7" style="text-align: left !important;">Гинекология (от греч. yuvaika &mdash; &laquo;женщина&raquo; и loyos &mdash; &laquo;изучение&raquo;) &mdash; отрасль медицины, изучающая заболевания, характерные только для организма женщины,
        прежде всего &mdash; заболевания женской репродуктивной системы. Большинство врачей-гинекологов на современном этапе также являются акушерами. <a href="uslugi/ginekologiya.html">Подробнее</a></td>
    </tr>
    <tr class="body">
      <td>Акушерство</td>
      <td colspan="7" style="text-align: left !important;">Акушерство &mdash; клиническая дисциплина, которая изучает физиологические и патологические процессы, происходящие в организме женщины в связи с зачатием и беременностью, в родах и
        послеродовом периоде, а также разрабатывает методы родовспоможения, профилактики и лечения осложнений беременности и родов, заболеваний плода и новорождённого. <a href="uslugi/akusherstvo.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Аллергология-иммунология</td>
    </tr>
    <tr class="body">
      <td>Аллергология</td>
      <td colspan="7" style="text-align: left !important;">Аллергология, область медицины, изучающая причины возникновения, механизмы развития, проявления, методы диагностики, профилактики и лечения аллергических реакций и заболеваний. <a href="uslugi/allergologiya.html">Подробнее</a></td>
    </tr>
    <tr class="body">
      <td>Иммунология</td>
      <td colspan="7" style="text-align: left !important;">Иммунология (от иммунитет и ...логия), наука о защитных реакциях организма, направленных на сохранение его структурной и функциональной целостности и биологической индивидуальности. <a href="uslugi/immunologiya.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Аппаратное лечение</td>
    </tr>
    <tr class="body">
      <td>Аппаратное лечение</td>
      <td colspan="7" style="text-align: left !important;">Аппаратное лечение для глаз &mdash; это решение проблем миопии, амблеопии, косоглазия. В Семейном Медицинском Центре установлено семь аппаратов отечественных производителей известных своим
        многолетним положительным опытом в офтальмологии. Аппаратное лечение проводится курсом, под каждого пациента подбирается индивидуальная программа, что повышает эффективность лечения. <a href="uslugi/apparatnoe-lechenie-dlya-glaz.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Вакцинация</td>
    </tr>
    <tr class="body">
      <td>Вакцинация</td>
      <td colspan="7" style="text-align: left !important;">На сегодняшний день большинство развитых стран Европы и Азии в области здравоохранения проводят политику профилактики и предотвращения инфекционных заболеваний путем вакцинации, то есть
        прививок. <a href="uslugi/vakcinaciya.html">Подробнее......</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Водительская медицинская справка</td>
    </tr>
    <tr class="body">
      <td>
        <p>Водительская медицинская справка для гаи, медкомиссия для водителей, медсправка на права</p>
      </td>
      <td colspan="7" style="text-align: left !important;">Документы для получения:<br /> Паспорт гражданина РФ.<br /> 1 фотография 3&times;4.<br /> Медицинская водительская справка необходима:<br /> для обучения в автошколе, сдаче экзамена в ГИБДД
        (ГАИ) для получение водительского удостоверения;<br /> для восстановление водительского удостоверения при утере;<br /> для возврата водительского удостоверения по истечении срока лишения права управления транспортным средством;<br /> для
        замены водительского удостоверения по истечении срока действия.<br /> Оформляется в соответствии с рекомендациями по порядку изготовления, учета и хранения бланков &laquo;Медицинской справки о допуске к управлению транспортными
        средствами&raquo;, утвержденной приказом Министерства здравоохранения и социального развития Российской Федерации от 28.09.2010 г. № 831н (зарегистрирован Минюстом России21.10.2010 г. № 18784).<br /> СПРАВКА ОТ ПСИХИАТРА &nbsp;(оформляются в
        мед.центре)<br /> СПРАВКА ОТ НАРКОЛОГА &nbsp;(оформляются в мед.центре)</td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Вызов врача на дом</td>
    </tr>
    <tr class="body">
      <td>Вызов врача на дом</td>
      <td colspan="7" style="text-align: left !important;">Большинство людей не понаслышке знакомо с травмами, болезнями, приступами, а значит, периодически нуждается в медицинских услугах. Установить диагноз, подобрать адекватную схему лечения,
        предложить профилактические мероприятия способен грамотный врач. <a href="uslugi/vyzov-vracha-na-dom.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Гастроэнтерология (в т.ч. детская)</td>
    </tr>
    <tr class="body">
      <td>Гастроэнтерология</td>
      <td colspan="7" style="text-align: left !important;">Гастроэнтерология (от гастро... и греч.(греческий) &eacute;nteron &mdash; кишка, l&oacute;gos &mdash; учение), раздел медицины о строении и функциях пищеварительной системы человека в
        условиях нормы и патологии, изучающий причины и механизм развития различных заболеваний органов пищеварения, разрабатывающий новые методы диагностики, лечения и профилактики этих заболеваний. <a href="uslugi/gastroenterologiya.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Гериатрия</td>
    </tr>
    <tr class="body">
      <td>Гериатрия</td>
      <td colspan="7" style="text-align: left !important;">Гериатрия (от греч. geron - старик и iatreia &mdash; лечение) - раздел медицины, изучающий болезни людей пожилого и старческого возраста, разрабатывающий методы их профилактики и лечения. <a
          href="uslugi/geriatriya.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Гомеопатия</td>
    </tr>
    <tr class="body">
      <td>Гомеопатия</td>
      <td colspan="7" style="text-align: left !important;">
        <div style="margin-top: 5.0pt; margin-right: 0cm; margin-bottom: 5.0pt; margin-left: 0cm; text-autospace: none;">Гомеопатия- в переводе с греческого языка означает &laquo; homios&raquo; подобный и &laquo; pathos&raquo;- болезнь, т.е. лечение
          подобным., что является основным принципом гомеопатии.&nbsp; При лечении&nbsp; используются&nbsp; препараты растительного, животного, и минерального происхождения, приготовленные путем многократного разведения и встряхивания
          (потенцирование). Основоположник гомеопатии Самуил Ганеман (1755-1843г). На сегодняшней день гомеопатия- метод лечения, официально разрешенный на территории РФ, приказ Министерства&nbsp; здравоохранения РСФСР № 115 &laquo; О развитии
          гомеопатического метода в медицинской практике и улучшении организации обеспечения населения гомеопатическими лекарственными средствами&raquo; от 01.07.91 г. Пройдя более чем двухвековую проверку практикой,&nbsp; гомеопатия зарекомендовала
          себя как отличная альтернатива различным методам аллопатического лечения, не вызывает перехода болезней в вялотекущие, хронические формы, привыкания и&nbsp; лекарственной зависимости. В настоящее время этот уникальный метод лечения
          находит&nbsp; все больше признания среди врачей и пациентов. <a href="uslugi/gomeopatiya.html">Подробнее</a></div>
      </td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Дерматология (в т.ч. детская)</td>
    </tr>
    <tr class="body">
      <td>Дерматология</td>
      <td colspan="7" style="text-align: left !important;">Дерматология (от дермато... и ...логия), раздел медицины, изучающий причины, механизмы развития, проявления, методы диагностики, лечения и профилактики заболеваний кожи и ее придатков. <a
          href="uslugi/dermatologiya.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Детская неврология</td>
    </tr>
    <tr class="body">
      <td>Неврология</td>
      <td colspan="7" style="text-align: left !important;">Неврология [от нейро... (невро...) и ...логия], медико-биологическая наука о строении и функциях нервной системы в норме и патологии, закономерностях ее фило- и онтогенеза. Сформировалась в
        19 в. Разделы неврологии - анатомия, гистология, эмбриология нервной системы, нейрофизиология, невропатология и др. <a href="uslugi/nevrologiya.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Детская ортопедия и хирургия</td>
    </tr>
    <tr class="body">
      <td>Ортопедия</td>
      <td colspan="7" style="text-align: left !important;">Ортопедия (определение и история) &mdash; наука распознавания, предотвращения и лечения искривлений человеческого тела, т.е. стойких уклонений отдельных частей последнего от их нормальной
        формы и направления. <a href="uslugi/ortopediya.html">Подробнее</a></td>
    </tr>
    <tr class="body">
      <td>Хирургия</td>
      <td colspan="7" style="text-align: left !important;">Хирургия (др.-греч. &chi;&epsilon;&iota;&rho;&omicron;&upsilon;&rho;&gamma;&iota;&kappa;, от др.-греч. &chi;&epsilon;&rho; &mdash; рука и &rho;&gamma;&omicron;&nu; &mdash; действие, работа)
        &mdash; область медицины, изучающая острые и хронические заболевания, которые лечатся при помощи оперативного (хирургического) метода. Хирургическое лечение состоит из нескольких последовательных этапов: подготовки больного к операции,
        обезболивания (наркоза) и самого хирургического вмешательства. Хирургическая операция включает: операционный доступ (разрез кожи или слизистой оболочки), оперативного лечения органа, восстановление целостности тканей, нарушенных во время
        операции. <a href="uslugi/xirurgiya.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Детская эндокринология</td>
    </tr>
    <tr class="body">
      <td>Эндокринология</td>
      <td colspan="7" style="text-align: left !important;">Эндокринология (от эндо..., греч. krino - отделяю и ...логия), наука, изучающая строение и функции эндокринных желез, продукты их жизнедеятельности - гормоны, а также заболевания, связанные
        с нарушениями функций этих желез. <a href="uslugi/detskij-endokrinolog.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Дневной стационар</td>
    </tr>
    <tr class="body">
      <td colspan="8" style="text-align: left !important;">В целях улучшения качества медицинского обслуживания для пациентов в Семейном Медицинском Центре выделен дневного стационар, что позволят осуществлять почасовое наблюдение за пациентом при
        проведении вакцинации и аллерговакцинации; проведение дезинтоксикационной (внутривенной, внутримышечной) инъекционной терапии; применение амбулаторных, стационар - замещающих технологий: в хирургии, гинекологии, ортопедии и
        оториноларингологии;<br /> Ответственный за работу дневного стационара &mdash; ординатор дневного стационара, врач-терапевт (семейный врач) высшей категории Елагина Наталья Юрьевна всегда придет на помощь в нужную минуту, а так же ответит на
        все, волнующие вас, вопросы. <a href="uslugi/dnevnoj-stacionar.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Добровольное медицинское страхование</td>
    </tr>
    <tr class="body">
      <td colspan="8" style="text-align: left !important;">Семейный Медицинский Центр работает со всеми страховыми компаниями по полюсам ДМС (добровольное медицинское страхование).</td>
    </tr>
    <tr class="body">
      <td colspan="2">Сейчас с нами работают:</td>
      <td colspan="6" style="text-align: left !important;">ООО &laquo;Ресо-Гарантия&raquo; Лицензия № С 1209 77 от 09.12.2005г.<br /> ОСАО &laquo;Ингосстрах&raquo; Лицензия № С 0928 77 от 20.07.2010г.<br /> ООО Ренессанс Лицензия № С 1284 77 от
        13.02.2006<br /> СОАО &laquo;ВСК&raquo; Лицензия № С 0621 77 от 19.01.2011г.<br /> ООО &laquo;Согласие&raquo; Лицензия № С 1307 77 от 04.08.2010г.<br /> ОАО &laquo;Альфа-Страхование&raquo;Лицензия № С 2239 77 от 13.12.2006г.<br /> ООО
        &laquo;Росгосстрах&raquo; Лицензия № С 0977 50 от 07.12.2009г.<br /> ОАО &laquo;Согаз&raquo; Лицензия № С 1208 77 от 16.08.2011г.<br /> ОАО &laquo;Капиталл&raquo; Лицензия № С 1298 86-05 от 30.04.2009г.<br /> ОАО &laquo;Гайде&raquo; Лицензия
        № С 0630 78 16.10.2008г.</td>
    </tr>
    <tr class="body">
      <td colspan="8" style="text-align: left !important;">Семейный Медицинский Центр по полюсам ОМС не работает, ближайшие ЛПУ расположены по адресу:<br /> <br /> МБУЗ &laquo;Городская поликлиника № 16 г. Ростова-на-Дону&raquo; <br /> г.
        Ростов-на-Дону, пр. Космонавтов, 6/1<br /> <br /> МБУЗ &laquo;Детская городская поликлиника № 17 г. Ростова-на-Дону&raquo;<br /> г. Ростов-на-Дону, пр. Космонавтов, 5Б <br /> <a href="uslugi/dobrovolnoe-medicinskoe-straxovanie.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Иммунология</td>
    </tr>
    <tr class="body">
      <td>Иммунология</td>
      <td colspan="7" style="text-align: left !important;">Иммунология &mdash; (от лат. immunis - свободный, освобожденный, избавленный от чего-либо + греч. &lambda;&gamma;&omicron;&sigmaf; - знание) - медико-биологическая наука, изучающая реакции
        организма на чужеродные структуры (антигены), механизмы этих реакций, их проявления, течение и исход в норме и патологии, разрабатывающая методы исследования и лечения. <a href="uslugi/immunologiya.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Кардиология (в т.ч. детская)</td>
    </tr>
    <tr class="body">
      <td>Кардиология</td>
      <td colspan="7" style="text-align: left !important;">Кардиология (от кардио... и ...логия), раздел медицины, изучающий строение и функции сердечно-сосудистой системы, причины и механизмы развития сердечно-сосудистых заболеваний и
        разрабатывающий методы их распознавания, лечения и профилактики. <a href="uslugi/kardiologiya.html">Подробнее</a></td>
    </tr>
    <tr class="body">
      <td>Детская кардиология</td>
      <td colspan="7" style="text-align: left !important;">&nbsp;Детский кардиолог &mdash; это врач, занимающийся особенностями формирования, развития, профилактики заболеваний и нарушений работы сердечно-сосудистой системы и их лечением у детей с
        рождения до 18 лет. <a href="uslugi/detskaya-kardiologiya.html">Подробнее....</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Корпоративное обслуживание</td>
    </tr>
    <tr class="body">
      <td>Корпоративным клиентам!</td>
      <td colspan="7" style="text-align: left !important;">Если организация свыше 150 человек, есть в составе гараж или логистическая группа &mdash; возможно организовать врачебный (фельдшерский) медицинский пункт:<br /> - ежедневный прием врача с
        8.00 -15.00<br /> - ПРМО<br /> - УЗИ<br /> - ЭКГ<br /> - забор всех анализов<br /> - дневной стационар, ФТЛ, массаж<br /> Выезд массажиста (при наличии места для массажа) и количества пациентов в день от 5 до 8<br /> Выезд УЗИ (при наличии
        места и записи от 7 до 15 чел)<br /> Организация предрейсовых и послерейсовых медицинских осмотров<br /> Организация выездной работы &mdash; медицинские осмотры периодические и перед поступлением на работу с выдачей справок на оружие,
        водительских справок, справок от психиатра и нарколога, ЛМК, с предоставлением крупнокадрового флюорогрофа (от 60 чел)</td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Косметология терапевтическая</td>
    </tr>
    <tr class="body">
      <td>Косметология</td>
      <td colspan="7" style="text-align: left !important;">Косметология &mdash; наука об эстетических проблемах организма человека, их этиологии, проявлениях и методах коррекции, также &mdash; свод методик, направленных на коррекцию эстетических
        проблем внешности человека. Косметология подразделяется на терапевтическую и хирургическую.<br /> Терапевтическая косметология содержит в своем арсенале:<br /> - методики использования наружных косметических средств для очищения, питания,
        увлажнения и тонизации кожи;<br /> - массажные методики (включая эндермологию LPG);<br /> - инъекционные методики (мезотерапия, редермализация, ботулинотерапия, контурная пластика);<br /> - физиотерапевтические (иначе &mdash; аппаратные)
        методики: (лазерная терапия, фототерапия, прессотерапия, магнитотерапия, ультразвук, электрические токи и многие другие физические факторы воздействия на организм для решения эстетических проблем) <a href="uslugi/kosmetologiya-terapevticheskaya.html">Подробнее</a></td>
    </tr>

    <tr class="start">
      <td align="center" class="group" colspan="8">Личная медицинская книжка</td>
    </tr>
    <tr class="body">
      <td>Личная медицинская книжка</td>
      <td colspan="7" style="text-align: left !important;">Личная медицинская (санитарная) книжка является обязательным документом для сотрудников учреждений, деятельность которых связана с хранением, производством, транспортированием и реализацией
        пищевых продуктов, а также питьевой воды, и работой связанной коммунальным и бытовым обслуживанием населения (воспитатели детских садов, учителя школ, преподаватели вузов, медицинские работники)</td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Логопедия</td>
    </tr>
    <tr class="body">
      <td>Логопедия</td>
      <td colspan="7" style="text-align: left !important;">Логопедия &mdash; специальная педагогическая наука о нарушениях речи, способах их предупреждения, выявления и устранения средствами специального обучения и воспитания. Является одним из
        разделов специальной педагогики. Логопедия изучает причины, механизмы, симптоматику, течение, структуру нарушений речевой деятельности, систему коррекционного воздействия. <a href="uslugi/logopediya.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Маммология</td>
    </tr>
    <tr class="body">
      <td>Маммология</td>
      <td colspan="7" style="text-align: left !important;">Маммология (от лат. mamma &mdash; молочная железа и греч. &lambda;&gamma;&omicron;&sigmaf; &mdash; наука) &mdash; раздел медицины, посвящённый диагностике, лечению и профилактике различных
        заболеваний молочных желёз: мастопатия, фиброаденома, киста, лактостаз, мастит, рак молочной железы и другие.<br /> Маммология активно развивается, так как рак молочных желёз в структуре онкологических заболеваний во многих странах занимает
        лидирующее место. Так же маммология активно изучает факторы риска, которые приводят в дальнейшем к различным патологиям молочных желёз. <a href="uslugi/mammologiya.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Массаж (в т.ч. детский)</td>
    </tr>
    <tr class="body">
      <td>Массаж</td>
      <td colspan="7" style="text-align: left !important;">Массаж (от фр. masser &mdash; растирать) &mdash; совокупность приёмов механического и рефлекторного воздействия на ткани и органы в виде растирания, давления, вибрации, проводимых
        непосредственно на поверхности тела человека как руками, так и специальными аппаратами через воздушную, водную или иную среду с целью достижения лечебного или иного эффекта. <a href="uslugi/massazh.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Массаж для новорожденных</td>
    </tr>
    <tr class="body">
      <td>Массаж для новорожденных</td>
      <td colspan="7" style="text-align: left !important;">Массаж для новорожденных &ndash; приятная и полезная процедура, оказывающая благотворное влияние на весь организм ребёнка в целом и мышечную систему в частности. Регулярный массаж помогает
        малышам быстрее развиваться. Такие детки активнее изучают окружающий мир. <a href="uslugi/massazh-dlya-novorozhdennyx.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Медикаментозный аборт</td>
    </tr>
    <tr class="body">
      <td>Медикаментозный аборт</td>
      <td colspan="7" style="text-align: left !important;">Несмотря на широкую доступность контрацепции на сегодняшний день, одним из методов регуляции рождаемости остается искусственное прерывание беременности(аборт). Медикаментозный аборт является
        бережной альтернативой хирургическому вмешательству. <a href="uslugi/medikamentoznyj-abort.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Медико-социальная экспертиза(оформление детей и взрослых для определения стойкой утраты нетрудоспособности)</td>
    </tr>
    <tr class="body">
      <td>Медико-социальная экспертиза (МСЭ)</td>
      <td colspan="7" style="text-align: left !important;">Медико-социальная экспертиза (МСЭ) &mdash; один из видов медицинской экспертизы. В соответствии со ст. 7 Федерального закона от 24.11.1995 № 181-ФЗ &laquo;О социальной защите инвалидов в
        Российской Федерации&raquo; медико-социальная экспертиза &mdash; определение в установленном порядке потребностей освидетельствуемого лица в мерах социальной защиты, включая реабилитацию, на основе оценки ограничений жизнедеятельности,
        вызванных стойким расстройством функций организма. <a href="uslugi/mediko-socialnaya-ekspertiza.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Медицинское заключение о годности к работе, паспорт здоровья</td>
    </tr>
    <tr class="body">
      <td>Прием на работу. Медицинское заключение о годности к работе, паспорт здоровья. Приказ МЗ и СР РФ</td>
      <td colspan="7" style="text-align: left !important;">Документы, необходимые для получения:<br /> Паспорт гражданина РФ;<br /> Направление от организации с указанием должности, вредных факторов и вида работ (при наличии);<br /> Цена: по
        прейскуранту.<br /> Перечень необходимых исследований зависит от вредных и производственных факторов и вида работ по приказу МЗ СР РФ №302н от 12.04.2011г. <br /> По окончанию медицинского осмотра Вам будет выдано:<br /> - Медицинское
        заключение о профпригодности;<br /> - Паспорт здоровья с заключениями врачей специалистов, результатами функциональных и лабораторных методов исследований.</td>
    </tr>

    <tr class="start">
      <td align="center" class="group" colspan="8">Наркология</td>
    </tr>
    <tr class="body">
      <td>Наркология</td>
      <td colspan="7" style="text-align: left !important;">Наркология (от греч. &nu;&rho;&kappa;&eta; /narke/ &mdash; оцепенение, сон, и др.-греч. &lambda;&gamma;&omicron;&sigmaf; &mdash; учение)) &mdash; раздел медицины, изучающий проявления
        хронического алкоголизма, наркомании и токсикомании, разрабатывающий методы их предупреждения и лечения. <a href="uslugi/narkologiya.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Неврология</td>
    </tr>
    <tr class="body">
      <td>Неврология</td>
      <td colspan="7" style="text-align: left !important;">Неврология [от нейро... (невро...) и ...логия], медико-биологическая наука о строении и функциях нервной системы в норме и патологии, закономерностях ее фило- и онтогенеза. Сформировалась в
        19 в. Разделы неврологии - анатомия, гистология, эмбриология нервной системы, нейрофизиология, невропатология и др. <a href="uslugi/nevrologiya.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Онкология</td>
    </tr>
    <tr class="body">
      <td>Онкология</td>
      <td colspan="7" style="text-align: left !important;">Онкология (от греч. &omicron;&nu;&kappa;&omicron;&sigmaf; &mdash; &laquo;опухоль&raquo; и &lambda;&gamma;&omicron;&sigmaf; &mdash; &laquo;учение&raquo;) &mdash; раздел медицины, изучающий
        доброкачественные и злокачественные опухоли, их этиологию и патогенез, механизмы и закономерности возникновения и развития, методы ихпрофилактики, диагностики и лечения (в том числе хирургического, лучевого, химиотерапевтического,
        гормонального, иммунотерапевтического, фотодинамического). <a href="uslugi/onkologiya.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Оториноларингология</td>
    </tr>
    <tr class="body">
      <td>Оториноларингология</td>
      <td colspan="7" style="text-align: left !important;">Оториноларингология (также часто отоларингология) &mdash; это раздел медицины и медицинская специальность, которая специализируется на диагностике и лечении патологий уха, горла, носа, а
        такжеголовы и шеи. Практикующие врачи по данной специальности называются оториноларингологами или сокращенно ЛОР-докторами (от слова &laquo;ларингооторинолог&raquo;). <a href="uslugi/otorinolaringologiya.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Офтальмология (в т.ч. аппаратное лечение)</td>
    </tr>
    <tr class="body">
      <td>Офтальмология</td>
      <td colspan="7" style="text-align: left !important;">Офтальмология (от греч. &phi;&theta;&alpha;&lambda;&mu;&sigmaf; &mdash; &laquo;глаз&raquo; и &lambda;&gamma;&omicron;&sigmaf; &mdash; &laquo;учение&raquo;) &mdash; область медицины,
        изучающая глаз, его анатомию, физиологию и болезни, а также разрабатывающая методы лечения и профилактикиглазных болезней. <a href="uslugi/oftalmologiya.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Парафин новорожденным</td>
    </tr>
    <tr class="body">
      <td>Парафин новорожденным</td>
      <td colspan="7" style="text-align: left !important;">Сегодня парафинотерапия &ndash; одна из популярных, действенных, безопасных лечебно-профилактических процедур. Благодаря парафиновым компрессам появляется возможность глубокого безвредного
        положительного термического воздействия на участки тела. <a href="uslugi/parafin-novorozhdennym.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Педиатрия</td>
    </tr>
    <tr class="body">
      <td>Педиатрия</td>
      <td colspan="7" style="text-align: left !important;">Педиатрия (от греч. &pi;&alpha;&iota;&delta;&omicron;&nu; &mdash; ребёнок и греч. &iota;&alpha;&tau;&rho;&epsilon;&alpha; &mdash; лечение) по определению основоположника русской педиатрии С.
        Ф. Хотовицкого, данному в 1847 году в первом российском руководстве &laquo;Педиятрика&raquo;: &laquo;есть наука об отличительных особенностях, отравлениях и болезнях детского организма и основанном на тех особенностях сохранении здоровья и
        лечении болезней у детей&raquo;. Основной задачей педиатрии является сохранение или возвращение (при болезни) состояния здоровья ребёнку, позволяющее ему максимально полно реализовать свой врождённый потенциал жизни. <a href="uslugi/pediatriya.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Пластический хирург</td>
    </tr>
    <tr class="body">
      <td>Пластический хирург</td>
      <td colspan="7" style="text-align: left !important;">неправильное питание,включающее не только избыточное потребление пищи,но и неправильный дневной рацион,что в итоге ведет к накоплению подкожной жировой массы ,т.н. &laquo;белого жира&raquo;.
        В медицине это называется алиментарным ожирением. <a href="uslugi/plasticheskij-xirurg.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Похудение</td>
    </tr>
    <tr class="body">
      <td>Похудение</td>
      <td colspan="7" style="text-align: left !important;">неправильное питание,включающее не только избыточное потребление пищи,но и неправильный дневной рацион,что в итоге ведет к накоплению подкожной жировой массы ,т.н. &laquo;белого жира&raquo;.
        В медицине это называется алиментарным ожирением. <a href="uslugi/kak-poxudet-bystro.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Предварительные медицинские осмотры</td>
    </tr>
    <tr class="body">
      <td colspan="8" style="text-align: left !important;">Предварительные медицинские осмотры проводят при поступлении на работу или учебу с целью определения соответствия состояния здоровья требованиям профессии или обучения, а также выявления
        заболеваний, которые могут прогрессировать в условиях работы с профессиональными вредностями или в процессе учебы. <a href="uslugi/predvaritelnye-medicinskie-osmotry.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Предрейсовые и послерейсовые медицинские осмотры</td>
    </tr>
    <tr class="body">
      <td colspan="8" style="text-align: left !important;">Задача предрейсового медицинского осмотра - выявление у водителей симптомов различных заболеваний, остаточной алкогольной интоксикации, признаков утомления, употребления алкоголя, наркотиков
        или запрещенных лекарственных препаратов. Проведенный по всем правилам медицинский осмотр водителей является превентивной мерой, упреждающей ДТП. <a href="uslugi/predrejsovye-i-poslerejsovye-medicinskie-osmotry.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Прививки для детей</td>
    </tr>
    <tr class="body">
      <td>Прививки для детей</td>
      <td colspan="7" style="text-align: left !important;">Своевременно поставленные детские прививки позволят защитить малыша от самых опасных, тяжёлых инфекционных болезней. В РФ разработан и утвержден календарь прививок, регламентирующий перечень
        обязательных вакцин для детей с рождения и до года. <a href="uslugi/privivki-dlya-detej.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Проктология</td>
    </tr>
    <tr class="body">
      <td>Проктология</td>
      <td colspan="7" style="text-align: left !important;">Проктология (от греч. &pi;&rho;&omega;&kappa;&tau;&sigmaf; &mdash; задний проход + &lambda;&gamma;&omicron;&sigmaf; &mdash; учение) или Колопроктология (от &kappa;&lambda;&omicron;&nu;
        &mdash; толстая кишка) &mdash; отрасль медицины, изучающая болезни толстой (прямой и ободочной) кишки, заднего прохода и параректальной области. <a href="uslugi/proktologiya.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Профилактическая медицина (осмотры детей, взрослых, программы Д-учета)</td>
    </tr>
    <tr class="body">
      <td>Профилактическая медицина</td>
      <td colspan="7" style="text-align: left !important;">Профилактическая медицина &ndash; это самостоятельная отрасль медицины, специализирующаяся на способах предотвращения и распространения заболеваний, укрепления физического и психического
        здоровья отдельного человека, а также поддержания и улучшения здоровья и благополучия населения. <a href="uslugi/profilakticheskaya-medicina.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Психология</td>
    </tr>
    <tr class="body">
      <td>Психология</td>
      <td colspan="7" style="text-align: left !important;">Психология (от др.-греч. &psi;&upsilon;&chi; &mdash; &bdquo;душа&ldquo;; &lambda;&gamma;&omicron;&sigmaf; &mdash; &bdquo;знание&ldquo;) &mdash; наука, изучающая недоступные для внешнего
        наблюдения структуры и процессы с целью объяснить поведение человека , а также особенности поведения отдельных людей, групп и коллективов. <a href="uslugi/psixologiya.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Реоэнцефалограмма</td>
    </tr>
    <tr class="body">
      <td>Реоэнцефалограмма</td>
      <td colspan="7" style="text-align: left !important;">Реоэнцефалография (РЭГ) (др.-греч. течение + головной мозг + пишу, изображаю) &mdash; реографический метод исследования сосудистой системы головного мозга, основанный на записи изменяющейся
        величины электрического сопротивления тканей при пропускании через них слабого электрического тока высокой частоты. Это неинвазивный метод исследования.<br /> Реоэнцефалографическое исследование позволяет получать объективную информацию о
        тонусе, эластичности стенки и реактивности сосудов мозга, периферическом сосудистом сопротивлении, величине пульсового кровенаполнения. Достоинства метода &mdash; его относительная простота, возможность проведения исследований практически в
        любых условиях и в течение длительного времени, получение раздельной информации о состоянии артериальной и венозной систем мозга и о внутримозговых сосудах различного диаметра. <a href="uslugi/reoencefalogramma.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Семейный врач (семейная медицина)</td>
    </tr>
    <tr class="body">
      <td>Врач</td>
      <td colspan="7" style="text-align: left !important;">Врач (ст.-слав. врачь) &mdash; лицо, посвящающее свои знания и умения предупреждению и лечению заболеваний, сохранению и укреплению здоровья человека, получившее в установленном порядке
        право на занятие врачебной деятельностью.<br /> Практикующий врач занимается предотвращением (профилактикой), распознанием (диагностикой) и лечением (терапией) заболеваний и травм. Это достигается путем постоянного совершенствования
        медицинских познаний и врачебного мастерства, как то: исследование ряда взаимосвязанных фундаментальных, общих врачебных и специальных клинических дисциплин, опыт непосредственного общения с пациентом, его нуждами и страданиями. Успешное
        лечение, даже при использовании последних достижений медицинской науки, в большой степени является искусством. <a href="uslugi/semejnyj-vrach.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">СМАД</td>
    </tr>
    <tr class="body">
      <td>СМАД</td>
      <td colspan="7" style="text-align: left !important;">СМАД - это диагностическая система для проведения высокоточного суточного мониторирования артериального давления и пульсовой волны. <a href="uslugi/smad.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Справка в бассейн</td>
    </tr>
    <tr class="body">
      <td>Справка в бассейн</td>
      <td colspan="7" style="text-align: left !important;">Для получения медицинской справки в бассейн необходимо иметь при себе:<br /> Паспорт гражданина РФ; свидетельство о рождение ребенка<br /> Цена: 350 руб.<br><b style="font-size: 11px;text-transform: lowercase;">*анализы
          и осмотры врачей в стоимость справки не входят</b><br> <a href="uslugi/spravka-v-bassejn.html">Подробнее</a></td>
    </tr>

    <tr class="start">
      <td align="center" class="group" colspan="8">Справка для поступления в детский сад (ф. 0-26у)</td>
    </tr>
    <tr class="body">
      <td>Справка для поступления в детский сад (ф. 0-26у)</td>
      <td colspan="7" style="text-align: left !important;">Для получения справки на поступление в детский сад необходимо иметь при себе:<br /> Свидетельство о рождение ребенка; Сертификат о прививках (при наличии)<br /> Цена: 2950 руб. <a href="uslugi/340.html">Подробнее</a></td>
    </tr>

    <tr class="start">
      <td align="center" class="group" colspan="8">Справка для поступления в школу (ф.0-26у)</td>
    </tr>
    <tr class="body">
      <td>Справка для поступления в школу (ф.0-26у)</td>
      <td colspan="7" style="text-align: left !important;">Для получения справки на поступление в школу необходимо иметь при себе:<br /> Свидетельство о рождение ребенка; Сертификат о прививках (при наличии)<br /> Цена: 4700 руб.<br>(при наличии ЭКГ
        и УЗИ) - 2700 руб. <a href="uslugi/341.html">Подробнее</a></td>
    </tr>

    <tr class="start">
      <td align="center" class="group" colspan="8">Справка ф. 046-1у (на оружие)</td>
    </tr>
    <tr class="body">
      <td>Медицинская справка формы 046-1у. Медсправка, лицензия, разрешение на травматическое оружие.</td>
      <td colspan="7" style="text-align: left !important;">Документы для получения:<br /> Паспорт гражданина РФ<br /> <br /> Время для получения справки: 15-30 минут при наличии справок от психиатра и нарколога 2 дня при отсутствии справок от
        психиатра и нарколога (оформляются в мед.центре).<br /> Согласно Приказу Министерства здравоохранения Российской Федерации 344 "О медицинском освидетельствовании граждан для выдачи лицензии на право приобретения оружия" от 11.09.2000 года
        человек, желающий получить и использовать оружие в личных или в профессиональных целях, обязан пройти медицинское освидетельствование на предмет отсутствия противопоказаний к хранению и использованию оружия. <a href="uslugi/medicinskaya-spravka-na-oruzhie.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Справка ф. 086У (цены уточняйте в регистратуре центра)</td>
    </tr>
    <tr class="body">
      <td>Документы, необходимые для получения:</td>
      <td colspan="7" style="text-align: left !important;">Паспорт гражданина РФ;<br /> Справка ф. 086/у<br /> (ПРИ НАЛИЧИИ СПРАВОК ОТ ПСИХИАТРА И НАРКОЛОГА, ФЛО И ЛАБОРОТОРНЫХ ИССЛЕДОВАНИЙ ) - 1000 рублей<br /> (ПРИ НАЛИЧИИ СПРАВОК ОТ ПСИХИАТРА И
        НАРКОЛОГА, И ЛАБОРОТОРНЫХ ИССЛЕДОВАНИЙ ) - 1200 рублей<br /> (С ОФОРМЛЕНИЕМ СПРАВОК ОТ ПСИХИАТРА И НАРКОЛОГА, ФЛО И ЛАБОРОТОРНЫХ ИССЛЕДОВАНИЙ ) - 1700 рублей<br /> ( С ОФОРМЛЕНИЕМ И ВЫДАЧЕЙ НА РУКИ ПАЦИЕНТУ СПРАВОК ОТ ПСИХИАТРА И НАРКОЛОГА,
        ФЛО И ЛАБОРОТОРНЫХ ИССЛЕДОВАНИЙ ) - 1850 рублей</td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Справка ф.001ГС/у (для поступления на гос.службу)</td>
    </tr>
    <tr class="body">
      <td colspan="8" style="text-align: left !important;">СПРАВКА ДЛЯ ПОСТУПЛЕНИЯ НА ГОСУДАРСТВЕННУЮ СЛУЖБУ (форма 001-ГС/у)<br /> Документы для получения<br /> Паспорт гражданина РФ<br /> Справка на государственную службу ф. 001-ГС/у<br /> (ПРИ
        НАЛИЧИИ СПРАВОК ОТ ПСИХИАТРА И НАРКОЛОГА) - 1250 рублей<br /> (С ОФОРМЛЕНИЕМ СПРАВОК ОТ ПСИХИАТРА И НАРКОЛОГА) - 1780 рублей</td>
    </tr>
    <tr class="body">
      <td colspan="8">Стоимость ПМО для декретированных контингентов с оформлением ЛМК</td>
    </tr>
    <tr class="body">
      <td>I Мед. персонал ЛПУ</td>
      <td colspan="7" style="text-align: left !important;">Новые ЛМК<br /> Контакт с кровью<br /> А) мужчины 3080 руб.<br /> Б) женщины после 40 лет 3660 руб.<br /> В) женщины до 40 лет 3360 руб.<br /> Без контакта с кровью<br /> А) мужчины 2670
        руб.<br /> Б) женщины после 40 лет 3250 руб.<br /> В) женщины до 40 лет 2950 руб.<br /> Продление ЛМК<br /> Контакт с кровью<br /> А) мужчины 1980 руб. (сан.мин. 2330 руб.)<br /> Б) женщины после 40 лет 2560 руб. (сан.мин. 2910 руб.)<br />
        В) женщины до 40 лет 2260 руб. (сан.мин. 2610 руб.)<br /> Без контакта с кровью<br /> А) мужчины 1570 руб. (сан.мин. 1920 руб.)<br /> Б) женщины после 40 лет 2150 руб. (сан.мин. 2500 руб.)<br /> В) женщины до 40 лет 1850 руб. ( сан.мин. 2200
        руб.)</td>
    </tr>
    <tr class="body">
      <td>II Общественное питание и пищевая промышленность</td>
      <td colspan="7" style="text-align: left !important;">Новые ЛМК<br /> А) мужчины 2590 руб.<br /> Б) женщины после 40 лет 3170 руб.<br /> В) женщины до 40 лет 2870 руб.<br /> Продление ЛМК<br /> А) мужчины 1330 руб. (сан.мин. 1680 руб.)<br /> Б)
        женщины после 40 лет 1910 руб. (сан.мин. 2260 руб.)<br /> В) женщины до 40 лет 1610 руб</td>
    </tr>
    <tr class="body">
      <td>III Образовательные организации</td>
      <td colspan="7" style="text-align: left !important;">Новые ЛМК<br /> А) мужчины 1770 руб.<br /> Б) женщины после 40 лет 2350 руб.<br /> В) женщины до 40 лет 2050 руб.<br /> Продление ЛМК<br /> А) мужчины 1040 руб. (сан.мин. 1390 руб.)<br /> Б)
        женщины после 40 лет 1620 руб. (сан.мин. 1970 руб.)<br /> В) женщины до 40 лет 1320 руб. (сан.мин. 1670 руб.)</td>
    </tr>
    <tr class="body">
      <td>IV Организации бытового обслуживания</td>
      <td colspan="7" style="text-align: left !important;">Новые ЛМК<br /> А) мужчины 2170 руб.<br /> Б) женщины после 40 лет 2750 руб.<br /> В) женщины до 40 лет 2450 руб.<br /> Продление ЛМК<br /> А) мужчины 1070 руб. (сан.мин. 1420 руб.)<br /> Б)
        женщины после 40 лет 1650 руб. (сан.мин. 2000 руб.)<br /> В) женщины до 40 лет 1350 руб. (сан.мин. 1700 руб.)</td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Терапия</td>
    </tr>
    <tr class="body">
      <td>Терапия</td>
      <td colspan="7" style="text-align: left !important;">Терапия (греч. &theta;&epsilon;&rho;&alpha;&pi;&epsilon;&alpha; &mdash; лечение, оздоровление) &mdash; процесс, целью которого является облегчение, снятие или устранение симптомов и
        проявлений того или иного заболевания, патологического состояния или иного нарушенияжизнедеятельности, нормализация нарушенных процессов жизнедеятельности и выздоровление, восстановление здоровья. <a href="uslugi/terapiya.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Травматология и ортопедия</td>
    </tr>
    <tr class="body">
      <td>Ортопедия</td>
      <td colspan="7" style="text-align: left !important;">Ортопедия (определение и история) &mdash; наука распознавания, предотвращения и лечения искривлений человеческого тела, т.е. стойких уклонений отдельных частей последнего от их нормальной
        формы и направления. <a href="uslugi/ortopediya.html">Подробнее</a></td>
    </tr>
    <tr class="body">
      <td>Травматология</td>
      <td colspan="7" style="text-align: left !important;">Травматология (от травма и ...логия), раздел клинической медицины, изучающий травмы: их причины, виды, течение, методы профилактики и лечения. Вместе с ортопедией травматологии в Российской
        Федерации составляет единую врачебную специальность. <a href="uslugi/travmatologiya.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">УЗИ-диагностика</td>
    </tr>
    <tr class="body">
      <td>Ультразвуковое исследование (УЗИ)</td>
      <td colspan="7" style="text-align: left !important;">Ультразвуковое исследование (УЗИ) &mdash; неинвазивное исследование организма человека с помощью ультразвуковых волн. <a href="uslugi/ultrazvukovoe-issledovanie.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Урология (в т.ч. детская)</td>
    </tr>
    <tr class="body">
      <td>Урология</td>
      <td colspan="7" style="text-align: left !important;">Урология (от греч. &omicron;&rho;&omicron;&nu; &mdash; моча и -&lambda;&omicron;&gamma;&alpha; &mdash; учение, наука) &mdash; область клинической медицины, изучающая этиологию, патогенез,
        диагностику заболеваний органов мочевой системы, мужской половой системы, заболеваний надпочечников и других патологических процессов в забрюшинном пространстве и разрабатывающая методы их лечения и профилактики. <a href="uslugi/urologiya.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Физиотерапия</td>
    </tr>
    <tr class="body">
      <td>Физиотерапия</td>
      <td colspan="7" style="text-align: left !important;">Физиотерапия (от др.-греч. &phi;&sigma;&iota;&sigmaf; &mdash; природа + &theta;&epsilon;&rho;&alpha;&pi;&epsilon;&alpha; &mdash; лечение) &mdash; специализированная область клинической
        медицины, изучающая физиологическое и лечебное действие природных и искусственно создаваемых физических факторов на организм человека.<br /> Физиотерапия является одним из старейших лечебных и профилактических направлений медицины, которое
        включает в себя множество разделов:<br /> лечение с помощью лазеротерапии, низкочастотной лазерной терапии,<br /> диадинамотерапии,<br /> амплипульстерапии в офтальмологии,<br /> транскраниальной и трансвертебральной микрополяризации,<br />
        миостимуляции,<br /> теплового излучения и других различных механических воздействий,<br /> криотерапии <a href="uslugi/fizioterapiya.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Функция внешнего дыхания</td>
    </tr>
    <tr class="body">
      <td colspan="8" style="text-align: left !important;">"Внешнее дыхание" - это собирательный термин, описывающий процессы движения воздуха по дыхательным путям, распределения его в легких и переноса газов из воздуха в кровь и обратно.<br />
        Базовой методикой исследования ФВД является форсированная спирометрия. Если результаты форсированной спирометрии находятся в пределах условной нормы, как правило, дообследования не проводится. При выявлении нарушений при форсированной
        спирометрии пациенту будет предложено выполнение дополнительных диагностических методик. Проведение спирометрии позволяет узнать, какой объем воздуха может вдохнуть и выдохнуть обследуемый и с какой скоростью он способен это сделать.<br />
        Результаты исследования имеют важное значение в диагностике таких заболеваний, как бронхиальная астма и хроническая обструктивная болезнь легких (ХОБЛ). Кроме того, результаты спирометрии могут меняться других болезней дыхательной,
        сердечно-сосудистой, нервной систем и опорно-двигательного аппарата, характеризуя их влияние на дыхание обследуемого.<br /> При выявлении нарушений, спирография позволяют оценить динамику заболевания и эффективность проводимого лечения. <a
          href="uslugi/funkciya-vneshnego-dyxaniya.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Холтер</td>
    </tr>
    <tr class="body">
      <td>Холтер</td>
      <td colspan="7" style="text-align: left !important;">Холтер - портативного устройства для непрерывного круглосуточного регистрирования ЭКГ. <a href="uslugi/xolter.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">УЗИ</td>
    </tr>
    <tr class="body">
      <td colspan="8" style="text-align: left !important;">УЗИ</td>
    </tr>
    <tr class="body">
      <td>1</td>
      <td colspan="2">13.61</td>
      <td colspan="3">УЗИ щитовидной железы (с допплерографией сосудов</td>
      <td colspan="2">660 руб.</td>
    </tr>
    <tr class="body">
      <td>2</td>
      <td colspan="2">13.83</td>
      <td colspan="3">УЗИ шейного отдела позвоночника</td>
      <td colspan="2">660 руб.</td>
    </tr>
    <tr class="body">
      <td>3</td>
      <td colspan="2">13.81</td>
      <td colspan="3">Комплексное исследование детей до 1 года (НСГ, сердце, почки, брюшная полость, тазобедренные суставы)</td>
      <td colspan="2">2,200 руб.</td>
    </tr>
    <tr class="body">
      <td>4</td>
      <td colspan="2">13.80</td>
      <td colspan="3">НСГ (электронограмма с доплерографией сосудов)</td>
      <td colspan="2">550 руб.</td>
    </tr>
    <tr class="body">
      <td>5</td>
      <td colspan="2">10.1</td>
      <td colspan="3">ЭКГ (с расшифровкой)</td>
      <td colspan="2">500 руб.</td>
    </tr>
    <tr class="body">
      <td>6</td>
      <td colspan="2">10.10</td>
      <td colspan="3">РЭГ</td>
      <td colspan="2">900 руб.</td>
    </tr>
    <tr class="body">
      <td>7</td>
      <td colspan="2">10.10.1</td>
      <td colspan="3">ЭЭГ</td>
      <td colspan="2">1,300 руб.</td>
    </tr>
    <tr class="body">
      <td>Итого</td>
      <td colspan="6">&nbsp;</td>
      <td>6,770 руб.</td>
    </tr>
    <tr class="body">
      <td colspan="8" style="text-align: left !important;">Дополнительно</td>
    </tr>
    <tr class="body">
      <td>1</td>
      <td colspan="2">9.0.D5.201</td>
      <td colspan="3">Эли-В-Тест-6</td>
      <td colspan="2">2,000 руб.</td>
    </tr>

    <tr class="start">
      <td align="center" class="group" colspan="8">ЭКГ</td>
    </tr>
    <tr class="body">
      <td>Электрокардиография</td>
      <td colspan="7" style="text-align: left !important;">методика регистрации и исследования электрических полей, образующихся при работе сердца. Электрокардиография представляет собой относительно недорогой, но ценный метод электрофизиологической
        инструментальной диагностики в кардиологии.<br /> Прямым результатом электрокардиографии является получение электрокардиограммы (ЭКГ) &mdash; графического представления разности потенциалов возникающих в результате работы сердца и
        проводящихся на поверхность тела. На ЭКГ отражается усреднение всех векторов потенциалов действия, возникающих в определённый момент работы сердца. <a href="uslugi/elektrokardiografiya.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Экспертиза временной нетрудоспособности (выдача больничного листа)</td>
    </tr>
    <tr class="body">
      <td colspan="8" style="text-align: left !important;">Определение степени и срока временной утраты трудоспособности в связи с временным нарушением состояния здоровья или другими причинами, предусмотренными законодательством по социальному
        страхованию (например, уход за больным), осуществляемое врачебно-консультационной комиссией или лечащим врачом <a href="uslugi/ekspertiza-vremennoj-netrudosposobnosti.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Электрокардиограмма</td>
    </tr>
    <tr class="body">
      <td>Электрокардиограмма</td>
      <td colspan="7" style="text-align: left !important;">Электрокардиография &mdash; методика регистрации и исследования электрических полей, образующихся при работе сердца. Электрокардиография представляет собой относительно недорогой, но ценный
        метод электрофизиологической инструментальной диагностики в кардиологии.<br /> Прямым результатом электрокардиографии является получение электрокардиограммы (ЭКГ) &mdash; графического представления разности потенциалов возникающих в
        результате работы сердца и проводящихся на поверхность тела. На ЭКГ отражается усреднение всех векторов потенциалов действия, возникающих в определённый момент работы сердца. <a href="uslugi/elektrokardiogramma.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Электроэнцефалограмма</td>
    </tr>
    <tr class="body">
      <td>Электроэнцефалограмма</td>
      <td colspan="7" style="text-align: left !important;">Электроэнцефалограмма (ЭЭГ) (от др.-греч. &lambda;&epsilon;&kappa;&tau;&rho;&omicron;&nu; &mdash; янтарь, &gamma;&kappa;&phi;&alpha;&lambda;&omicron;&sigmaf; &mdash; головной мозг и
        &gamma;&rho;&alpha;&mu;&mu;&alpha; &mdash; запись) &mdash; графическое изображение сложного колебательного электрического процесса, который регистрируется при помощи электроэнцефалографа при размещении его электродов на мозге или поверхности
        скальпа, результат электрической суммации и фильтрации элементарных процессов в нейронах. <a href="uslugi/elektroencefalogramma.html">Подробнее</a></td>
    </tr>
    <tr class="start">
      <td align="center" class="group" colspan="8">Эндокринология</td>
    </tr>
    <tr class="body">
      <td colspan="8" style="text-align: left !important;">Эндокринные железы (железы внутренней секреции) &mdash; железы , синтезирующие гормоны, не имеют выводных протоков и свой секрет (гормон) выделяют непосредственно в кровеносные (венозные)
        или лимфатические капилляры. <a href="uslugi/endokrinologiya.html">Подробнее</a></td>
    </tr>
  </tbody>
</table>
