@import "./templates/common.scss";

.specialists {
  h2 {
    margin-bottom: 15px;

    font-size: 26px;
    font-weight: 400;
    line-height: 1.2;
  }

  p {
    width: 95%;
    margin-bottom: 20px;

    color: #5a534f;

    font-size: 18px;
    font-weight: lighter;
    line-height: 1.3;
  }
}

.main {
  border-bottom: 1px solid #d7d6d6;
}

.section__partners {
  overflow: hidden;

  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 30px;

  h2 {
    margin-top: 30px;
  }
}
/*          ДЕСКОТПНАЯ ВЕРСИЯ               */
@media (min-width: 1000px) {
  .menu__item:hover {
    transition: 0.3s;

    box-shadow: 0 1px 17px -3px rgba(0, 0, 0, 0.85);
  }

  .main-content-section {
    width: 714px;
  }

  .site__service {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    width: 855px;
    margin: 20px auto 50px;

    color: #5a534f;

    font-size: 14px;
  }

  .wrapper {
    box-shadow: 0 0 200px -80px #0571c4;
  }

  .wrap {
    display: flex;
  }

  .wrap_text {
    font-size: 15px;
    line-height: 1.3;
  }

  .specialists {
    width: 95%;

    .container-flex {
      justify-content: space-between;
    }

    .iframe_3d {
      width: 650px;

      border: 1px solid red;
    }
  }
}

/*        ОБЩЕЕ ДЛЯ ПЛАНШЕТА И ДЕКСТОПА            */
@media (min-width:768px) {
  body {
    background: linear-gradient(to bottom, #e6eaa7, #ebe1d7, #ebe1d7, #ebe1d7, #ebe1d7);

    font-family: 'PT Sans', sans-serif;
    font-stretch: expanded;
  }

  .sidebar__list_middle {
    display: none;
  }

  .sidebar__list_up {
    display: block;
  }

  .container {
    overflow-x: visible;

    width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }

  .wrapper {
    background: white;
  }

  .container-flex {
    display: flex;
  }

  .main {
    background: white;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
  }

  .subtitle {
    font-size: 16px;
    font-weight: bold;
  }

  .popup {
    display: none;
  }

  .progress__title {
    display: none;
  }
  /*                       СЕКЦИИ                */
  .section__progress {
    width: 100%;
    margin-top: 50px;
  }

  .progress__image {
    display: block;

    width: 45%;
    height: auto;
    margin-bottom: 45px;
    margin-left: 25px;
  }

  .section__progress_desktop_hidden {
    display: none;
  }

  .title_common {
    margin-bottom: 35px;

    letter-spacing: 1px;
    ///////////////СДЕЛАТЬ ПО БЭМУ
    text-transform: uppercase;

    font-stretch: expanded;
  }

  .against__title {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #231f20;

    font-size: 20px;
    font-weight: lighter;
  }

  .specialists {
    line-height: 1.3;

    .container-flex {
      width: 90%;
      margin-bottom: 25px;

      img {
        width: 305px;
        height: 165px;
        margin-right: 20px;
      }
    }

    p {
      color: #231f20;

      font-size: 16px;
    }

    h4 {
      margin-bottom: 20px;
    }

    .director {
      margin-right: 20px;
    }

    .title_boss {
      margin-bottom: 30px;
    }

    .title_conclusion_left {
      width: 60%;
      margin-bottom: 30px;
    }

    .title_conclusion_right {
      text-align: right;
    }

    .title {
      letter-spacing: 1px;
      text-transform: uppercase;

      font-size: 16px;
      line-height: 1.2;
    }

    .bold {
      font-weight: bold;
    }

    li,
    ul {
      list-style: decimal;
      list-style-type: decimal;
    }

    .iframe_3d {
      margin-bottom: 20px;
    }
  }
}

////////////////ПЛАНШЕТНАЯ ВЕРСИЯ////////////////////////////////////////
@media only screen and (min-width: 768px) and (max-width: 999px) {
  .container-flex {
    position: relative;
  }

  .main-content-section {
    width: 960px;
    margin-left: 38px;
  }

  .section {
    margin-left: 20px;
  }

  .content {
    &:before,
    :after {
      z-index: 600000;
    }
  }

  .specialists {
    margin-left: 20px;
  }

  .section__partners {
    margin-left: 60px !important;
  }

  .bread-crumbs {
    margin-left: 20px;
  }

  .specialists {
    width: 90%;
  }

  .iframe_3d {
    width: 95%;
  }
}

/*             МОБИЛЬНАЯ ВЕРСИЯ           */
@media (max-width: 767px) {
  body {
    overflow-x: hidden;

    width: 100vw;

    font-family: "PT Sans", sans-serif;
  }

  .main,
  .wrapper {
    height: auto;
  }

  .wrapper {
    box-shadow: none;
  }

  .main {
    border-bottom: none;
  }

  .desktop__networks,
  .header__contact-info,
  .license__text,
  .section__3d {
    display: none;
  }

  .main-article_desktop {
    width: calc(100% - 30px);
    margin-right: auto;
    margin-left: auto;
  }

  .main-article__title {
    margin-bottom: 20px;

    font-size: 30px;
    font-weight: bold;
  }
  ////////////////////КОНТЕНТ
  .container {
    overflow-x: hidden;

    width: 100vw;
    height: inherit;
  }

  .content {
    position: relative;

    width: calc(100vw - 30px);
    margin-left: 30px;

    &:before {
      position: absolute;
      z-index: 600000;
      top: 255px;
      left: -20px;

      content: url("../img/arrow.png");
    }

    &:after {
      position: absolute;
      z-index: 600000;
      top: 600px;
      left: -20px;

      content: url("../img/arrow.png");
    }
  }

  .specialists {
    width: calc(100% - 30px);
    margin-right: auto;
    margin-left: auto;

    border-bottom: none;

    .director {
      display: block;

      width: 100%;

      align: middle;
    }

    img {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    h2 {
      color: black;

      font-size: 18px;
      font-weight: bold;
    }

    h4 {
      margin-top: 30px;

      text-transform: uppercase;
    }

    p {
      width: 100%;
      margin-top: 15px;
      margin-bottom: 0;

      color: black;

      font-size: 14px;
    }

    .title_boss {
      display: none;
    }
  }

  .iframe_3d {
    display: none;
  }

  .button {
    color: white;
    border: none;
    outline: none;
    background: #a5b72f;

    font-family: 'PT Sans';
  }
  
  .services {
    width: calc(100% - 30px);
    margin-right: auto;
    margin-left: auto;
  }

  .services__button {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;

    font-size: 20px;
  }

  .license__text {
    position: relative;

    margin-left: 25px;

    text-align: left;

    font-weight: bold;
    line-height: 20px;

    &::before {
      position: absolute;
      left: -25px;

      content: url("../img/lic.png");
    }
  }
  /////////////////ГЛАВНАЯ СТАТЬЯ
  .main-article__text {
    margin-bottom: 20px;

    line-height: 1.2;
  }

  .main-article__subtitle {
    margin-bottom: 20px;

    font-weight: bold;
  }

  .main-article__title {
    margin-top: 20px;

    font-size: 20px;
  }

  .main-article__doctors {
    display: none;
  }

  .main-article {
    width: calc(100% - 30px);
    margin: 20px auto 40px;
  }
  .section {
    width: calc(100% - 30px);
    margin-right: auto;
    margin-left: auto;
  }

  .section__content {
    display: flex;

    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .section__content_progress {
    align-items: center;
  }

  .section__title {
    margin-bottom: 30px;
  }

  .partners__image {
    max-width: 156px;
  }

  .partners__image_alliance {
    margin-right: 20px;
  }

  .progress__image {
    align-items: center;

    max-width: 110px;
    margin-right: 40px;
  }

  .against__title {
    width: 80%;
    margin-right: auto;
    margin-left: auto;

    text-align: center;
    text-transform: uppercase;

    font-weight: bold;
  }

  .against__hr_down {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .against__hr_up {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
