@import "./templates/common.scss";

input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

input[type="checkbox"]:checked ~ .checkbox__custom {
  width: 20px;
  height: 20px;

  border: 2px solid white;
  outline: 1px solid #666666;
  background: #666666;;
}

.checkbox__custom {
  display: block;

  width: 20px;
  height: 20px;

  border: 1px solid #666666;
}

.menu__item_contacts {
  background: $orange;
  a {
    color: white;
  }
}
.sidebar__list_middle {
  display: none;
}

.mail_link {
  color: #01740f;
}

.contacts {
  .contacts__content span{
    display: block;
  }
 .text_input {
    display: block;
  }
  .input_big {
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 90px;
  }
  .feedback__agreement {
    text-decoration: underline;

    color: #01740f;

    font-size: 14px;
  }
}

.flex-label {
  display: flex;
  justify-content: space-between;

  width: 380px;

  text-decoration: underline;

  color: $dark-green;
}

.contacts__info {
  .link_number {
    display: block;

    margin-bottom: 5px;

    color: #5a534f;

    font-size: 14px;
  }
  .work-time {
    color: #5a534f;
  }
}

.contacts .main-content-section__title {
  margin-left: 0;
}

@media (max-width: 767px) {
  .contacts {
  width: calc(100% - 30px);
  margin-right: auto;
  margin-left: auto;
  h4 {
    font-size: 14px;
    font-weight: bold;
  }
  span {
    margin-left: 5px;

    font-size: 14px;
    line-height: 1.3;
  }
  label {
    justify-content: space-between;

    width: 100%;
    .checkbox__custom {
      margin-right: 0;
    }
  }
  input {
    text-indent: 5px;
    &::placeholder {
      text-indent: 10px;
    }
  }
  .number-block {
    margin-top: 30px;
  }
  .map {
    margin-top: 20px;
  }
    .input {
      width: 100%;

      border: 1px solid black;
    }
    .submit {
      width: 100%;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .contacts__info {
    .link_number {
      display: block;

      margin-bottom: 3px;
    }
  }

  .work-time {
    display: none;
  }

  #ymap, #ymap1 {
    width: 90%;
    max-width: 350px;
    height: 230px;
    margin-bottom: 10px;
  }
  .location__section_note {
    padding-bottom: 50px;
  }
  .feedback__section_agreement {
    display: flex;
    flex-flow: row-reverse;
    justify-content: flex-end;

    margin-bottom: 20px;
  }
  .title_common {
    text-transform: uppercase;
  }
  .section__partners {
    width: calc(100% - 30px);
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1000px) {

  .section__partners {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    h2 {
      margin-top: 30px;
      margin-bottom: 35px;

      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  .sidebar__list_up {
    display: none;
  }
}

@media (min-width: 768px) {
  .mail_span {
    margin-top: 30px;
  }

  .contacts {
    margin-bottom: 50px;
    h2 {
      margin-bottom: 50px;

      font-size: 26px;
      font-weight: 400;
      line-height: 1.2;
    }
    p {
      width: 95%;
      margin-bottom: 20px;

      color: #5a534f;

      font-size: 18px;
      font-weight: lighter;
      line-height: 1.3;
    }
    h4 {
      margin-bottom: 30px;

      color: #4c1611;

      font-size: 18px;
    }
    .input {
      width: 380px;
      margin-bottom: 10px;
      padding: 7px 0;

      text-indent: 10px;

      border: 1px solid #666;
      border-radius: 9px;
    }
    .input_big {
      padding-bottom: 100px;
    }
  }

  .contacts__content {
    display: flex;
    flex-wrap: wrap;
  }
  .contacts__info {
    width: 200px;
    p {
      margin-bottom: 25px;

      color: black;

      font-size: 16px;
    }
    span {
      margin-bottom: 25px;

      color: #5a534f;

      font-size: 14px;
      line-height: 1.3;
    }
  }
  .mail_link {
    margin-top: 30px;
  }
  .ymap {
    width: 430px;
    height: 317px;
  }

  .map {
    margin-bottom: 80px;
  }
  .location__section_note {
    margin-top: 20px;

    text-align: right;
  }
  .feedback__label {
    display: flex;
    justify-content: space-between;
    width: 380px;
    color: $dark-green;
    text-decoration: underline;
  }
  .submit {
    display: block;

    width: 150px;
    height: 35px;
    margin-top: 25px;

    color: white;
    border: none;
    border-radius: 10px;
    background: $primary-color;

    font-size: 16px;
    font-weight: bold;
  }
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  .contacts {
    margin-left: 20px;
  }
  .contacts__info {
    width: 250px;
    margin-left: 0px;
  }
  .section__partners {
    margin-left: 60px;
  }
}
