@import "./templates/common.scss";

.slider__link {
  position: absolute;
}

.sidebar__list_middle {
  display: none;
}

/* Мобильная версия */
@media (max-width: 767px) {
  .section__3d {
    display: none;
  }

  .main-article_desktop {
    width: calc(100% - 30px);
    margin-right: auto;
    margin-left: auto;
  }

  .main-article__title {
      margin-bottom: 20px;

      font-weight: bold;
  }

  /* Основные кнопки*/
  .services {
    width: calc(100% - 30px);
    margin-right: auto;
    margin-left: auto;
  }

  .services__button {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;

    font-size: 20px;
  }

  /*Главная статья*/
  .main-article__text {
    margin-bottom: 20px;

    line-height: 1.2;
  }

  .main-article__subtitle {
    margin-bottom: 20px;

    font-weight: bold;
  }

  .main-article__title {
    margin-top: 20px;
  }

  .main-article__doctors {
    display: none;
  }

  .main-article{
    width: calc(100% - 30px);
    margin: 20px auto 40px auto;
  }

  /* Секция новостей */
  .news__title {
    margin-bottom: 30px;
  }

  .title_common {
    text-transform: uppercase;

    font-weight: bold;
  }

  .news__date {
    margin-top: 12px;
    margin-bottom: 2px;

    font-weight: bold;
  }

  .news__subtitle {
    margin-bottom: 0px;

    text-decoration: underline;

    color: $dark-green;

    font-weight: bold;
    line-height: 25px;
  }

  .news__content {
    width: 100%;
    margin-bottom: 25px;

    font-weight: bold;
    line-height: 20px;
  }

  .news__all-news {
    margin-top: 25px;

    text-decoration: underline;

    color: $dark-green;

    font-weight: bold;
  }

  .news__hr {
    width: calc(100% - 30px);
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .news__block {
    width: calc(100% - 30px);
  }

  .license__text_mobile {
    position: relative;

    margin-left: 30px;
    &:before {
      position: absolute;
      left: -30px;

      content: url('../img/lic.png');
    }
  }

  .section__slider {
    padding-bottom: 20px;
    &:not(:last-child) {
      margin-bottom: 30px;

      border-bottom: 1px solid #d7d6d6;
    }
  }

  .section__news {
    margin-bottom: 30px;
  }

  .specialists {
    display: none;
  }

  .section__geolocation {
    display: none;

    width: 900px;
  }

  .slider {
    margin-top: 60px;
  }

  /* Секции наград достижений и партнеров */
  .section {
    width: calc(100% - 30px);
    margin-right: auto;
    margin-left: auto;
  }

  .section__content {
    display: flex;

    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .section__content_progress {
    align-items: center;
  }

  .section__title {
    margin-bottom: 30px;
  }

  /* Секция противопоказаний */
  .against__title {
    width: 80%;
    margin-right: auto;
    margin-left: auto;

    text-align: center;
    text-transform: uppercase;

    font-weight: bold;
  }
}

/* Общее дла планшета и десктопа */
@media (min-width:768px) {

  .section__progress_desktop_hidden {
    display: none;
  }

  .subtitle_work-time {
    margin-top: 20px;
  }

  .services {
    display: none;
  }

  .news__block {
    display: flex;
    align-items: center;
  }

  .year__hidden {
    display: none;
  }

  .news__date {
    width: 60px;
    // height: 30px;
    padding: 15px 0;

    text-align: center;

    background: #ebe1d6;
  }
  .news__content {
    display: none;
  }

  .news__subtitle {
    width: 170px;
    margin-left: 5px;

    font-size: 14px;
    font-weight: lighter;
  }

  .news__all-news {
    display: none;
  }

  .news__title, .title_common {
    margin-bottom: 35px;

    letter-spacing: 1px;
    text-transform: uppercase;

    font-stretch: expanded;
  }
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
  .slider__link {
    width: 70%;
    height: 20%;
  }
  .slider__link_1 {
    top: 50%;
  }
  .slider__link_2 {
    top: 30%;
  }
  .section__geolocation {
    .kamenolom {
      margin-right: 80px
    }
  }
  .specialists__photos {
    width: 85%;
  }
  .main-article__desktop {
    margin-left: 20px;
  }
  .section__news {
    width: calc(100% - 40px);
  }
  .iframe_3d, .section__3d {
    width: 900px;
  }

  .section__geolocation {
    width: 100%;
    .kamenolom {
      margin-right: 80px;
    }
  }
}

@media(min-width: 768px) {
  .slider {
    margin-bottom: 90px;
  }
  .section {
    overflow-x: hidden;

    width: 95%;
  }
  .section__slider {
    &:not(:last-child) {
      margin-bottom: 30px;
      padding-bottom: 30px;

      border-bottom: 1px solid #d7d6d6;
    }
  }
  .geolocation_text {
    color: #32353c;

    font-size: 15px;
    font-weight: lighter;
  }
  .section__geolocation {
    display: flex;
    justify-content: space-between;

    margin-bottom: 90px;

    border-bottom: none !important;

    line-height: 1.3;
    .title {
      margin-bottom: 20px;

      color: #32353c;
    }
    .subtitle {
      color: #32353c;
    }
    .geolocation__text {
    color: #32353c;
    }
  }

  .kamenolom p {
    color: #32353c;
  }

  .section__3d {
    overflow: visible;

    width: 678px;
    .title {
      margin-bottom: 20px;
    }
  }

  .main-article__title {
    margin-top: 55px;
    margin-bottom: 40px;

    line-height: 1.2;
  }

  .main-article__text {
    margin-bottom: 20px;

    line-height: 22px;
  }

  .main-article__subtitle {
    margin-top: 10px;
    margin-bottom: 10px;

    color: #231f20;
  }

  .main-article__list {
    margin-left: 40px;

    list-style-type: decimal;
  }

  .specialists {
    width: 95%;
  }

  .specialists__photos {
    display: flex;
    justify-content: space-between;
  }
  .specialist_photo_1 {
    height: 291px;
  }

  .specialist_photo_2 {
    width: 271px;
    height: 291px;
  }

  .specialist_photo_3 {
    width: 170px;
    height: 291px;
  }

  .specialists__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    height: 230px;
    & a {
      text-decoration: underline;

      color: #000;
    }
  }

  .specialists__item {
    margin-bottom: 15px;
    & a:hover {
      text-decoration: none;
    }
  }

  .section__rewards {
    padding-bottom: 30px;
    .owl-stage {
      width: 600px;
    }
    .rew_cont {
      width: 400px;
    }
    .owl-item {
      width: 350px;
      margin-right: 40px;
    }
    .active {
      width: 270px !important;
    }
  }
  .reward__image {
    width: 250px;
  }
}
