@import "./templates/common.scss";

.section__partners {
  overflow: hidden;

  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 30px;
  h2 {
    margin-top: 30px;
  }
}

.menu__item_news {
  background: $orange;
}



/*  Мобильная версия */
@media (max-width: 767px) {

  .sidebar__list_middle {
    display: none;
  }

  .sidebar__list_up {
    display: block;
  }

  /* Секция новостей */
  .news__title {
    margin-bottom: 30px;
  }

  .title_common {
    text-transform: uppercase;

    font-weight: bold;
  }

  .news__date {
    margin-top: 12px;
    margin-bottom: 2px;

    font-weight: bold;
  }

  .news__subtitle {
    margin-bottom: 0px;

    text-decoration: underline;

    color: $dark-green;

    font-weight: bold;
    line-height: 25px;
  }

  .news__content {
    width: 100%;
    margin-bottom: 25px;

    font-weight: bold;
    line-height: 20px;
  }

  .news__all-news {
    margin-top: 25px;

    text-decoration: underline;

    color: $dark-green;

    font-weight: bold;
  }

  .news__hr {
    width: calc(100% - 30px);
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .news__block {
    width: calc(100% - 30px);
  }

  .specialists {
    width: calc(100% - 30px);
    margin-right: auto;
    margin-left: auto;

    border-bottom: none;

    line-height: 1.3;
    & img {
      width: 100%;
    }
    h2 {
      margin-bottom: 20px;

      color: black;

      font-size: 18px;
      font-weight: bold;
    }
    .news__block {
      margin-bottom: 30px;
    }
    .news__date {
      margin-bottom: 5px;

      color: black;

      font-size: 16px;
    }
    .news__subtitle {
      margin-bottom: 5px;
    }
  }
}

/* Планшетная версия */
@media only screen and (min-width: 768px) and (max-width: 999px) {

  .specialists {
    margin-left: 20px;
  }
  .section__partners {
    margin-left: 60px !important;
  }
}


/* Декстоп */
@media (min-width: 1000px) {

    .menu__item:hover {
      transition: .3s;

      box-shadow: 0 1px 17px -3px rgba(0, 0, 0, 0.85);
    }

    .main-content-section {
      width: 714px;
    }

    .site__service {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        width: 855px;
        margin-top: 20px;
        margin-right: auto;
        margin-bottom: 50px;
        margin-left: auto;

        color: #5a534f;

        font-size: 14px;
    }

    .wrapper{
      box-shadow: 0 0 200px -80px #0571c4;
    }
}

/* Общее для планшета и десктопа */
@media (min-width:768px) {

  .sidebar__list_middle {
    display: none;
  }

  .specialists {
    h2 {
      margin-bottom: 15px;

      font-size: 26px;
      font-weight: 400;
      line-height: 1.2;
    }
    .news__block {
      margin-bottom: 30px;
    }
    .news__date {
      margin-bottom: 8px;

      color: #5a534f;

      font-size: 14px;
    }
    .news__subtitle {
      margin-bottom: 5px;

      text-decoration: underline;

      color: #01740f;

      font-size: 14px;
    }
    .news__content {
      color: #231f20;

      font-size: 16px;
    }
  }
}
