@import "./templates/common.scss";
@import './templates/price/table.scss';

.specialists
{
    h2
    {
        margin-bottom: 15px;

        font-size: 26px;
        font-weight: 400;
        line-height: 1.2;
    }
    p
    {
        width: 95%;
        margin-bottom: 20px;

        color: #5a534f;

        font-size: 18px;
        font-weight: lighter;
        line-height: 1.3;
    }
    .table_reminder
    {
        display: block;

        margin-top: 20px;
        margin-bottom: 20px;

        color: #5a534f;

        font-size: 14px;
    }
}

.section__partners
{
    overflow: hidden;

    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    h2
    {
        margin-top: 30px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 350px)
{
    tr.body td
    {
        font-size: 10px !important;
    }
    td.group
    {
        font-size: 14px !important;
    }
}


/*             МОБИЛЬНАЯ ВЕРСИЯ           */

@media (max-width: 767px)
{
    .slide
    {
        margin-top: 30px;
    }
    .table_word_hidden
    {
        display: none !important;
    }
    tr.body td
    {
        font-size: 12px;
    }
    .group
    {
        width: calc(100% / 3);
    }

    .container
    {
        overflow-x: hidden;

        width: 100vw;
        height: inherit;
    }

    .specialists
    {
        width: calc(100% - 30px);
        margin-right: auto;
        margin-left: auto;

        border-bottom: none;
        h2
        {
            color: black;

            font-size: 18px;
            font-weight: bold;
        }
        h4
        {
            margin-top: 30px;

            text-transform: uppercase;
        }
        p
        {
            width: 100%;
            margin-top: 15px;
            margin-bottom: 0;

            color: black;

            font-size: 14px;
        }
    }
}

/*Планшештная версия*/
@media only screen and (min-width: 768px) and (max-width: 999px)
{
    .specialists
    {
        width: 90%;
        margin-left: 20px;
    }
    .section__partners
    {
        margin-left: 60px !important;
    }
}

/*Десктоп версия */
@media (min-width: 1000px)
{
    .specialists
    {
        width: 95%;
        .container-flex
        {
            justify-content: space-between;
        }
    }
    .sidebar__list_up
    {
        display: none;
    }
}


/* Общее для планшета и десктопа */
@media (min-width:768px)
{
    .sidebar__list_middle
    {
        display: none;
    }

    .specialists
    {
        line-height: 1.3;
        .container-flex
        {
            width: 90%;
            margin-bottom: 25px;
            img
            {
                width: 305px;
                height: 165px;
                margin-right: 20px;
            }
        }
        p
        {
            color: #231f20;
            font-size: 16px;
        }
    }
}
