@import "./templates/common.scss";

.menu__item_schedule {
  background: $orange;
}

table {
  text-align: center;

  color: #5c3b2c;
  border: 1px solid $primary-color;

  font-family: Arial;
  a {
    color: $dark-green;
    text-decoration: underline;
  }
}
.slide {
  width: 100%;
}

.thead {
  vertical-align: bottom;

  color: white;
  background: $primary-color;

  font-size: 16px;
  font-weight: bold;
  td {
    vertical-align: middle;
  }
}

.group {
  color: #5c3b2c;
  background: #feecdf;

  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid $primary-color;
  border-top: 1px solid $primary-color;
}
td {
  display: table-cell;

  padding: 12px 4px;

  border-right: 1px dotted $primary-color;
  border-bottom: 1px dotted $primary-color;

  font-size: 14px;
  vertical-align: middle;
}
em {
  font-size: 14px;
  font-style: italic;
}
b {
  text-transform: uppercase;

  font-weight: bold;
}

.specialists
{
    h2
    {
        margin-bottom: 15px;

        font-size: 26px;
        font-weight: 400;
        line-height: 1.2;
    }
    p
    {
        width: 95%;
        margin-bottom: 20px;

        color: #5a534f;

        font-size: 18px;
        font-weight: lighter;
        line-height: 1.3;
    }
}

.section__partners
{
    overflow: hidden;

    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    h2
    {
        margin-top: 30px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 350px)
{
    tr.body td
    {
        font-size: 10px !important;
    }
    td.group
    {
        font-size: 14px !important;
    }
}


/*             МОБИЛЬНАЯ ВЕРСИЯ           */

@media (max-width: 767px)
{
    td {
      width: 100% !important;
      display: block;
      padding: 12px 1%;
      vertical-align: middle;
      height: auto !important;
      border-right: none;
    }
    .group {
      font-size: 14px;
    }
    .slide
    {
        margin-top: 30px;
    }
    .table_word_hidden
    {
        display: none !important;
    }
    tr.body td
    {
        font-size: 12px;
    }
    .group
    {
        width: calc(100% / 3);
    }
    .thead {
      td:not(:last-child) {
        border-bottom: .5px dotted white;
      }
    }
    .container
    {
        overflow-x: hidden;

        width: 100vw;
        height: inherit;
    }

    .specialists
    {
        width: calc(100% - 30px);
        margin-right: auto;
        margin-left: auto;

        border-bottom: none;
        h2
        {
            color: black;

            font-size: 18px;
            font-weight: bold;
        }
        h4
        {
            margin-top: 30px;

            text-transform: uppercase;
        }
        p
        {
            width: 100%;
            margin-top: 15px;
            margin-bottom: 0;

            color: black;

            font-size: 14px;
        }
    }
}

/*Планшештная версия*/
@media only screen and (min-width: 768px) and (max-width: 999px)
{
    .specialists
    {
        width: 90%;
        margin-left: 20px;
    }
    .section__partners
    {
        margin-left: 60px !important;
    }
}

/*Десктоп версия */
@media (min-width: 1000px)
{
    .specialists
    {
        width: 95%;
        .container-flex
        {
            justify-content: space-between;
        }
    }
    .sidebar__list_up
    {
        display: none;
    }
}


/* Общее для планшета и десктопа */
@media (min-width:768px)
{
    .sidebar__list_middle
    {
        display: none;
    }

    .specialists
    {
        line-height: 1.3;
        .container-flex
        {
            width: 90%;
            margin-bottom: 25px;
            img
            {
                width: 305px;
                height: 165px;
                margin-right: 20px;
            }
        }
        p
        {
            color: #231f20;

            font-size: 16px;
        }
    }
}
