@import "./templates/common.scss";

.menu__item_services {
  background: $orange;
}

.body {
  display: none;
}
.show_row {
  display: table-row;
  td {
    border-left: 1px dotted $primary-color;
  }
  p {
    color: #231f20;

    font-size: 15px;
  }
}

table {
  margin-top: 30px;
  margin-bottom: 15px;

  text-align: center;

  color: #5c3b2c;
  border: 1px solid $primary-color;

  font-family: Arial;
  a {
    text-decoration: underline;

    color: $dark-green;
  }
}
.slide {
  width: 100%;
}

tr.thead td {
  padding: 10px;

  vertical-align: middle;

  color: white;
  background: $primary-color;

  font-size: 15px;
  font-weight: bold;
}

.group {
  color: #5c3b2c;
  border-top: 1px solid $primary-color;
  border-bottom: 1px solid $primary-color;
  background: #feecdf;

  font-size: 16px;
  font-weight: bold;
}
td {
  display: table-cell;

  padding: 12px 4px;

  cursor: pointer;

  border-right: 1px dotted $primary-color;
  border-bottom: 1px dotted $primary-color;

  font-size: 14px;
  vertical-align: middle;
}
em {
  font-size: 14px;
  font-style: italic;
}
b {
  text-transform: uppercase;

  font-weight: bold;
}

.specialists
{
    h2
    {
        margin-bottom: 15px;

        font-size: 26px;
        font-weight: 400;
        line-height: 1.2;
    }
    span {
      text-transform: uppercase;
      color: #231f20;
      font-size: 16px;
      display: block;
      margin-bottom: 30px;
      line-height: 1.3;
    }
}

.section__partners
{
    overflow: hidden;

    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    h2
    {
        margin-top: 30px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 350px)
{
    tr.body td
    {
        font-size: 10px !important;
    }
    td.group
    {
        font-size: 14px !important;
    }
}


/*             МОБИЛЬНАЯ ВЕРСИЯ           */

@media (max-width: 767px)
{
    td {
      display: block;

      width: 100% !important;
      padding: 12px 1%;
      border-right: none;
      border-left: none;


      vertical-align: center;
    }

    .slide
    {
        margin-top: 30px;
    }
    .table_word_hidden
    {
        display: none !important;
    }
    tr.body td
    {
        font-size: 12px;
    }
    tr.thead td {
      padding: 10px 0.8%;

      border: none;
      border-right: 1px solid $primary-color;
      border-left: 1px solid $primary-color;
    }
    .group
    {
        font-size: 14px;
        border-right: none;
        border-left: none;
        width: 98%;
        padding:15px 1%;

        border: none;
        border-bottom: 1px dotted $primary-color;

        line-height: 1.3;
    }
    .show_row td {
      border-left: none;
    }
    .thead {
      td {
        border-bottom: 1px solid white;
      }
    }
    .container
    {
        overflow-x: hidden;

        width: 100vw;
        height: inherit;
    }

    .specialists
    {
        width: calc(100% - 30px);
        margin-right: auto;
        margin-left: auto;

        border-bottom: none;
        h2
        {
            color: black;

            font-size: 18px;
            font-weight: bold;
        }
        h4
        {
            margin-top: 30px;

            text-transform: uppercase;
        }
        p
        {
            width: 100%;
            margin-top: 15px;
            margin-bottom: 0;

            color: black;

            font-size: 14px;
        }
    }
}

/*Планшештная версия*/
@media only screen and (min-width: 768px) and (max-width: 999px)
{
    .specialists
    {
        width: 90%;
        margin-left: 20px;
    }
    .section__partners
    {
        margin-left: 60px !important;
    }
}

/*Десктоп версия */
@media (min-width: 1000px)
{
    .specialists
    {
        width: 95%;
        .container-flex
        {
            justify-content: space-between;
        }
    }
    .sidebar__list_up
    {
        display: none;
    }
}


/* Общее для планшета и десктопа */
@media (min-width:768px) {
  tr .thead td {
    height: 40px;
  }
    .sidebar__list_middle
    {
        display: none;
    }

    .specialists
    {
        line-height: 1.3;
        .container-flex
        {
            width: 90%;
            margin-bottom: 25px;
            img
            {
                width: 305px;
                height: 165px;
                margin-right: 20px;
            }
        }
    }
    .main {
      border-bottom: 1px solid #d7d6d6;
    }
}
