@import "./templates/common.scss";

.menu__item_specialists {
  background: #ffa300 !important;
}
.sidebar__list_middle {
  display: none;
}
.specialists {
  h2 {
    margin-bottom: 15px;

    font-size: 26px;
    font-weight: 400;
    line-height: 1.2;
  }
  p {
    width: 95%;
    margin-bottom: 20px;

    color: #5a534f;

    font-size: 18px;
    font-weight: lighter;
    line-height: 1.3;
  }
}

.section__partners {
  overflow: hidden;

  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 30px;
  h2 {
    margin-top: 30px;
  }
}

/*Мобильная версия*/
@media (max-width: 767px) {
  .specialists {
    width: calc(100% - 30px);
    margin-right: auto;
    margin-left: auto;

    border-bottom: none;
    & img {
      width: 100%;
    }
    h2 {
      color: black;

      font-size: 18px;
      font-weight: bold;
    }
    p {
      color: black;

      font-size: 14px;
    }
  }
}


/*Планшетная версия*/
@media only screen and (min-width: 768px) and (max-width: 999px) {
  .specialists {
    margin-left: 20px;
  }
  .section__partners {
    margin-left: 60px !important;
  }
}
