<table class="slide" style="height: 2934px;">
	<tbody>
		<tr class="thead" style="height: 36px;">
			<td style="height: 36px; width: 268px;">ФИО<br /> специалиста</td>
			<td style="height: 36px; width: 302px;">Направление</td>
			<td style="height: 36px; width: 107px;">Пн</td>
			<td style="height: 36px; width: 102px;">Вт</td>
			<td style="height: 36px; width: 107px;">Ср</td>
			<td style="height: 36px; width: 102px;">Чт</td>
			<td style="height: 36px; width: 107px;">Пт</td>
			<td style="height: 36px; width: 177px;">Сб</td>
			<td style="height: 36px; width: 107px;">Вс</td>
		</tr>
		<tr class="start" style="height: 18px;">
			<td class="group" style="height: 18px; width: 1379px;" colspan="9" align="center">Педиатры</td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Гапоненко</b><br /> Екатерина Васильевна</td>
			<td style="height: 36px; width: 302px;"><em>Педиатр<br />(высшая категория)&nbsp;</em></td>
			<td style="height: 36px; width: 107px;">09.30 - 14.00</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">09.30 - 14.00</td>
			<td style="height: 36px; width: 102px;">14.00 - 20.00</td>
			<td style="height: 36px; width: 107px;">09.30 - 14.00</td>
			<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">09.00 - 16.00</td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Бережная </b><br />Елена Александровна</td>
			<td style="height: 36px; width: 302px;"><em>Педиатр<br />(высшая категория)&nbsp;</em></td>
			<td style="height: 36px; width: 107px;">14.00 - 20.00</td>
			<td style="height: 36px; width: 102px;">08.00 - 14.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 102px;">14.00 - 20.00</td>
			<td style="height: 36px; width: 107px;">08.00 - 14.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Василенко</b><br /> Елена Васильевна</td>
			<td style="height: 36px; width: 302px;"><em>Педиатр<br />(высшая категория)&nbsp;</em></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 107px;">16.00 - 19.00</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">16.00 - 19.00</td>
			<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Верина</b><br /> Виктория Валерьевна</td>
			<td style="height: 36px; width: 302px;"><em>Педиатр, аллерголог-иммунолог<br />(первая категория)&nbsp;</em></td>
			<td style="height: 36px; width: 107px;">14.00 - 19.00</td>
			<td style="height: 36px; width: 107px;">08.00 - 12.00</td>
			<td style="height: 36px; width: 107px;">09.00 - 14.00</td>
			<td style="height: 36px; width: 107px;">09.00 - 14.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 177px;">09.00 - 19.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Мемарнишвили</b><br />Анна Ильинична</td>
			<td style="height: 36px; width: 302px;"><em>Педиатр<br />(высшая категория)&nbsp;</em></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 102px;">12.00 - 18.00</td>
			<td style="height: 36px; width: 107px;">11.00 - 17.00</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 107px;">15.00 - 19.00</td>
			<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 107px;">12.00 - 18:00</td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Паршин</b><br /> Сергей Александрович</td>
			<td style="height: 36px; width: 302px;"><em>Педиатр-кардиолог<br />(первая категория)&nbsp;</em></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 107px;">08.00 - 14.00</td>
			<td style="height: 36px; width: 102px;">14.00 - 20.00</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 107px;">14.00 - 20.00</td>
			<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 107px;">09.00 - 18.00</td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Романченко</b><br /> Светлана Васильевна</td>
			<td style="height: 36px; width: 302px;"><em>Педиатр-кардиолог<br />(первая категория)&nbsp;</em></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 102px;">14.00 - 20.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 102px;">08.00 - 16.00</td>
			<td style="height: 36px; width: 107px;">08.00 - 13.00</td>
			<td style="height: 36px; width: 107px;">14.00 - 20.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Слабченко </b><br />Наталья Васильевна</td>
			<td style="height: 36px; width: 302px;"><em>Педиатр<br />(высшая категория)&nbsp;</em></td>
			<td style="height: 36px; width: 107px;">09.00 - 14.00</td>
			<td style="height: 36px; width: 102px;">09.00 - 14.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;">09.00 - 14.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 177px;">09.00 - 16.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
<!-- 		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Талалайко</b><br />Виктория Ивановна</td>
			<td style="height: 36px; width: 302px;"><em>Педиатр</em></td>
			<td style="height: 36px; width: 107px;">13.00 - 17.00</td>
			<td style="height: 36px; width: 102px;">14.00 - 19.00</td>
			<td style="height: 36px; width: 107px;">08.00 - 12.00</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 177px;">08.00 - 13.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr> -->


		<tr class="start" style="height: 18px;">
			<td class="group" style="text-align: center; height: 18px; width: 1379px;" colspan="9">Гастроэнтеролог <span style="font-size: 12.222222328186px;">(детский, взрослый)</span></td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Минченок</b><br /> Наталья Викторовна</td>
			<td style="height: 36px; width: 302px;"><em>(высшая категория)</em></td>
			<td style="height: 36px; width: 107px;">10.00 - 13.00</td>
			<td style="height: 36px; width: 102px;">09.00 - 15.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 102px;">12.00 - 20.00</td>
			<td style="height: 36px; width: 107px;">14.00 - 20.00</td>
			<td style="height: 36px; width: 177px;">14.00 - 20.00 <br />через неделю</td>
			<td style="height: 36px; width: 107px;">09.00 - 15.00<br />через неделю</td>
		</tr>
		<tr class="start" style="height: 18px;">
			<td class="group" style="text-align: center; height: 18px; width: 1379px;" colspan="9">Логопед</td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Нестерцова<br /> </b>Татьяна Александровна</td>
			<td style="height: 36px; width: 302px;">&nbsp;</td>
			<td style="height: 36px; width: 107px;">12.00 - 16.00</td>
			<td style="height: 36px; width: 102px;">12.00 - 16.00</td>
			<td style="height: 36px; width: 107px;">12.00 - 16.00</td>
			<td style="height: 36px; width: 102px;">12.00 - 16.00</td>
			<td style="height: 36px; width: 107px;">12.00 - 16.00</td>
			<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000; font-size: 12.222222328186px;">&mdash;</span></td>
		</tr>
		<tr class="start" style="height: 18px;">
			<td class="group" style="height: 18px; width: 1379px;" colspan="9" align="center">Оториноларингологи <span style="font-size: 12.222222328186px;">(детский, взрослый)</span></td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Катеринчева</b><br /> Ольга Александровна</td>
			<td style="height: 36px; width: 302px;"><em>к.м.н <br /> (высшая категория)</em></td>
			<td style="height: 36px; width: 107px;">10.00 - 15.00</td>
			<td style="height: 36px; width: 102px;">13.00 - 18.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;">13.00 - 18.00</td>
			<td style="height: 36px; width: 107px;">10.00 - 18.00</td>
			<td style="height: 36px; width: 177px;">11.00 - 18.00</td>
			<td style="height: 36px; width: 107px;">09.00 - 14.00</td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Салихова </b><br /> Марина Владимировна</td>
			<td style="height: 36px; width: 302px;"><em>(высшая категория)</em></td>
			<td style="height: 36px; width: 107px;">15.00 - 20.00</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">15.00 - 20.00</td>
			<td style="height: 36px; width: 102px;">15.00 - 18.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 177px;">09.00 - 13.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Болтоносов</b><br /> Максим Васильевич</td>
			<td style="height: 36px; width: 302px;"><em>(высшая категория)</em></td>
			<td style="height: 36px; width: 107px;">09.00 - 15.00</td>
			<td style="height: 36px; width: 102px;">09.00 - 13.00</td>
			<td style="height: 36px; width: 107px;">10.00 - 20.00</td>
			<td style="height: 36px; width: 102px;">09.00 - 13.00</td>
			<td style="height: 36px; width: 107px;">09.00 - 18.00</td>
			<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Харагезян</b><br />Александра Ашотовна</td>
			<td style="height: 36px; width: 302px;"><em>(высшая категория)</em></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 177px;">09.00 - 16.00</td>
			<td style="height: 36px; width: 107px;">10.00 - 18.00</td>
		</tr>
		<!--tr class="body table-row" style="height: 36px;">
<td style="height: 36px; width: 268px;"><b>Леоне</b><br />Ирина Викторовна</td>
<td colspan="8" align="center">Отпуск</td>
<!-- <td style="height: 36px; width: 302px;">&nbsp;</td>
<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
<td style="height: 36px; width: 102px;">16.30 - 20.00</td>
<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
<td style="height: 36px; width: 177px;">09.00 - 14.00</td>
<td style="height: 36px; width: 107px;">&nbsp;</td> -->
		<tr class="start" style="height: 18px;">
			<td class="group" style="height: 18px; width: 1379px;" colspan="9" align="center">Терапевты</td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Зонова</b><br />Елена Вадимовна</td>
			<td style="height: 36px; width: 302px;"><em>Терапевт-гастроэнтеролог<br /> (высшая категория)</em></td>
			<td style="height: 36px; width: 107px;">08.30 - 16.00</td>
			<td style="height: 36px; width: 102px;">08.30 - 14.00</td>
			<td style="height: 36px; width: 107px;">08.30 - 14.00</td>
			<td style="height: 36px; width: 102px;">08.30 - 16.00</td>
			<td style="height: 36px; width: 107px;">08.30 - 16.00</td>
			<td style="height: 36px; width: 177px;">08.30 - 15.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Елагина</b><br /> Наталья Юрьевна</td>
			<td style="height: 36px; width: 302px;"><em>Терапевт, семейный врач<br /> (высшая категория)</em></td>
			<td style="height: 36px; width: 107px;">08.00 - 20.00</td>
			<td style="height: 36px; width: 102px;">14.00 - 20.00</td>
			<td style="height: 36px; width: 107px;">14.00 - 20.00</td>
			<td style="height: 36px; width: 102px;">08.00 - 20.00</td>
			<td style="height: 36px; width: 107px;">14.00 - 20.00</td>
			<td style="height: 36px; width: 177px;">14.00 - 20.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Хейгетьян</b><br />Елизавета Ашотовна</td>
			<td style="height: 36px; width: 302px;"><em>Терапевт-кардиолог, семейный врач,<br />(высшая категория)</em></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 102px;">08.00 - 14.00</td>
			<td style="height: 36px; width: 107px;">08.00 - 14.00</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 107px;">08.00 - 14.00</td>
			<td style="height: 36px; width: 177px;">08.00 - 14.00</td>
			<td style="height: 36px; width: 107px;">08.00 - 18.00</td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Аветисова</b><br />Татьяна Борисовна</td>
			<td style="height: 36px; width: 302px;"><em><em>Терапевт-кардиолог&nbsp;<br />(высшая категория)</em></td>
			<td style="height: 36px; width: 107px;">09.00 - 12.00</td>
			<td style="height: 36px; width: 102px;">14.00 - 18.00</td>
			<td style="height: 36px; width: 107px;">09.00 - 12.00</td>
			<td style="height: 36px; width: 102px;">09.00 - 12.00</td>
			<td style="height: 36px; width: 107px;">09.00 - 12.00</td>
			<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Велигуров</b><br /> Олег Иванович</td>
			<td style="height: 36px; width: 302px;"><em>Эндокринолог<br />(к.м.н)</em></td>
			<td style="height: 36px; width: 107px;">14.00-20.00</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 107px;">08.00-14.00</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 107px;">08.00-14.00</td>
			<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Кубликова</b><br />Ирина Петровна</td>
			<td style="height: 36px; width: 302px;"><em>Эндокринолог<br />(первая категория)</em></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 102px;">17.00 - 20.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
		</tr>
		<!-- <tr class="start" style="height: 18px;">
			<td class="group" style="height: 18px; width: 1379px;" colspan="9" align="center">Кардиоревматологи <span style="font-size: 12.222222328186px;">(детский, взрослый)</span></td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Паршин</b><br /> Сергей Александрович</td>
			<td style="height: 36px; width: 302px;"><em>(первая категория)</em></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000; font-size: 12.222222328186px;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;">14.00 - 20.00</td>
			<td style="height: 36px; width: 107px;">08.00 - 20.00</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000; font-size: 12.222222328186px;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">14.00 - 20.00</td>
			<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span>&nbsp;</td>
			<td style="height: 36px; width: 107px;">&nbsp;09.00 - 16.00</td>
		</tr> -->
		<tr class="start" style="height: 18px;">
			<td class="group" style="height: 18px; width: 1379px;" colspan="9" align="center">Гинекологи&nbsp;</td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Соколовская</b><br /> Марина Юрьевна</td>
			<td style="height: 36px; width: 302px;"><em>(высшая категория)</em></td>
			<td style="height: 36px; width: 107px;">08.00 - 14.00</td>
			<td style="height: 36px; width: 102px;">14.00 - 20.00</td>
			<td style="height: 36px; width: 107px;">08.00 - 14.00</td>
			<td style="height: 36px; width: 102px;">14.00 - 20.00</td>
			<td style="height: 36px; width: 107px;">08.00 - 14.00</td>
			<td style="height: 36px; width: 177px;">09.00 - 13.00<br />по датам</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Сокольчик</b><br />Ирина Ильинична</td>
			<td style="height: 36px; width: 302px;"><em>(высшая категория), детский, взрослый</em></td>
			<td style="height: 36px; width: 107px;">&nbsp;15.00 - 18.00</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">&nbsp;15.00 - 18.00</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">&nbsp;15.00 - 18.00</td>
			<td style="height: 36px; width: 177px;">10.00 - 14.00<br />по датам</td>
			<td style="height: 36px; width: 107px;">&nbsp;<span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Саблина</b><br />Ольга Николаевна</td>
			<td style="height: 36px; width: 302px;"><em>(высшая категория)</em></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;">10.00 - 13.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;">10.00 - 13.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 177px;">&nbsp;<span style="color: #ff0000;">&mdash;</span><span style="color: #ff0000;"><br /></span></td>
			<td style="height: 36px; width: 107px;">08.00 - 14.00</td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Бекмуродова</b><br />Мавлуда Бабаджановна</td>
			<td style="height: 36px; width: 302px;">&nbsp;</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">08.00 - 14.00</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 177px;">08.00 - 14.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<!--tr class="body table-row" style="height: 36px;">
<td style="height: 36px; width: 268px;"><b>Ардинцева</b><br />Оксана Александровна</td>
<td style="height: 36px; width: 302px;">&nbsp;</td>
<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span></td>
<td style="height: 36px; width: 107px;">08.00 - 16.00</td>
</tr-->
		<tr class="body table-row" style="height: 54px;">
			<td style="height: 54px; width: 268px;"><b>Михайлов</b><br />Алексей Геннадьевич</td>
			<td style="height: 54px; width: 302px;"><em>(высшая категория)</em></td>
			<td style="height: 54px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 54px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 54px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 54px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 54px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 54px; width: 177px;">14.00 - 16.00<br />через<br />субботу</td>
			<td style="height: 54px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Лезина</b><br />Марина Владимировна</td>
			<td style="height: 36px; width: 302px;"><em>(первая <br /> категория)</em></td>
			<td style="height: 36px; width: 107px;">08.00 - 14.00</td>
			<td style="height: 36px; width: 102px;">13.00 - 19.00</td>
			<td style="height: 36px; width: 107px;">14.00 - 20.00</td>
			<td style="height: 36px; width: 102px;">11.00 - 17.00</td>
			<td style="height: 36px; width: 107px;">14.00 - 20.00</td>
			<td style="height: 36px; width: 177px;">08.00 - 14.00<br>по датам</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<tr class="start" style="height: 18px;">
			<td class="group" style="height: 18px; width: 1379px;" colspan="9" align="center">УЗИ</td>
		</tr>
		<!-- <tr class="body table-row" style="height: 36px;">
<td style="height: 36px; width: 268px;"><b>Савченко </b><br />Е.Н.</td>
<td style="height: 36px; width: 302px;"><em>Врач УЗД</em></td>
<td colspan="7" align="center">Отпуск</td>
<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
<td style="height: 36px; width: 107px;">09.00 - 15.00</td>
<td style="height: 36px; width: 102px;">09.00 - 15.00</td>
<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span></td>
<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
</tr> -->
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Хоружая</b><br />Светлана Сергеевна</td>
			<td style="height: 36px; width: 302px;"><em>Врач УЗД</em></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">14.00 - 18.00</td>
			<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Крылова</b><br /> Анастасия Сергеевна</td>
			<td style="height: 36px; width: 302px;"><em>Врач УЗД</em></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">18.00 - 20.00</td>
			<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Андриасьян</b><br /> Анаит Рубеновна</td>
			<td style="height: 36px; width: 302px;">Врач УЗД</td>
			<td style="height: 36px; width: 107px;">09.00 - 17.00</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">09.00 - 17.00</td>
			<td style="height: 36px; width: 102px;">08.00 - 12.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">&nbsp;<span style="color: #ff0000; font-size: 12.222222328186px;">&mdash;</span></td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Джафарова</b><br />Арзу Аскеровна</td>
			<td style="height: 36px; width: 302px;">Врач УЗД</td>
			<td style="height: 36px; width: 107px;">16.30 - 20.00</td>
			<td style="height: 36px; width: 102px;">16.30 - 20.00</td>
			<td style="height: 36px; width: 107px;">16.30 - 20.00</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 177px;">08.00 - 20.00</td>
			<td style="height: 36px; width: 107px;">09.00 - 14.00</td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Кренева</b><br />Екатерина Леонидовна</td>
			<td style="height: 36px; width: 302px;">Врач УЗД</td>
			<td style="height: 36px; width: 107px;">&nbsp;</td>
			<td style="height: 36px; width: 102px;">&nbsp;</td>
			<td style="height: 36px; width: 107px;">&nbsp;</td>
			<td style="height: 36px; width: 102px;">16.00 - 20.00</td>
			<td style="height: 36px; width: 107px;">&nbsp;</td>
			<td style="height: 36px; width: 177px;">&nbsp;</td>
			<td style="height: 36px; width: 107px;">&nbsp;</td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Левченко</b><br />Юлия Александровна</td>
			<td style="height: 36px; width: 302px;">Врач УЗД</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;">08.30 - 14.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">08.30 - 14.00</td>
			<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Гайнутдинов</b><br /> Дмитрий Игоревич</td>
			<td style="height: 36px; width: 302px;">Врач УЗД</td>
			<td style="height: 36px; width: 107px;">08.00 - 14.00</td>
			<td style="height: 36px; width: 102px;">08.00 - 14.00</td>
			<td style="height: 36px; width: 107px;">08.00 - 14.00</td>
			<td style="height: 36px; width: 102px;">08.00 - 14.00</td>
			<td style="height: 36px; width: 107px;">08.00 - 14.00</td>
			<td style="height: 36px; width: 177px;">&nbsp;</td>
			<td style="height: 36px; width: 107px;">&nbsp;</td>
		</tr>
		<tr class="start" style="height: 18px;">
			<td class="group" style="height: 18px; width: 1379px;" colspan="9" align="center">Хирург, травматолог-ортопед, колопроктолог&nbsp;<span style="font-size: 12.222222328186px;">(детский, взрослый)</span></td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Калмыков</b><br />Ярослав Игоревич</td>
			<td style="height: 36px; width: 302px;"><em>Хирург<br />(высшая категория)&nbsp;</em></td>
			<td style="height: 36px; width: 107px;">14.00 - 18.00</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">09.00-14.00</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">09.00-14.00</td>
			<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Мрыхин</b><br />Глеб Александрович</td>
			<td style="height: 36px; width: 302px;"><em>Хирург<br />(к.м.н.)&nbsp;</em></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;">16.00-20.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 177px;">13.00-18.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Сибирякова</b><br /> Людмила Ивановна</td>
			<td style="height: 36px; width: 302px;"><em>Хирург детский<br />(высшая категория)&nbsp;</em></td>
			<td style="height: 36px; width: 107px;">&nbsp;</td>
			<td style="height: 36px; width: 102px;">&nbsp;</td>
			<td style="height: 36px; width: 107px;">16.00 - 19.00</td>
			<td style="height: 36px; width: 102px;">&nbsp;</td>
			<td style="height: 36px; width: 107px;">&nbsp;</td>
			<td style="height: 36px; width: 177px;">&nbsp;</td>
			<td style="height: 36px; width: 107px;">&nbsp;</td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Попова</b><br /> Нина Сергеевна</td>
			<td style="height: 36px; width: 302px;"><em>Хирург</em></td>
			<td style="height: 36px; width: 107px;">09.00 - 13.00</td>
			<td style="height: 36px; width: 102px;">09.00 - 13.00</td>
			<td style="height: 36px; width: 107px;"></td>
			<td style="height: 36px; width: 102px;">09.00 - 13.00</td>
			<td style="height: 36px; width: 107px;">15.00 - 19.00</td>
			<td style="height: 36px; width: 177px;">&nbsp;</td>
			<td style="height: 36px; width: 107px;">&nbsp;</td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Гужвинский</b><br /> Михаил Викторович</td>
			<td style="height: 36px; width: 302px;"><em>Уролог<br />(высшая категория)</em></td>
			<td style="height: 36px; width: 107px;">17.00 - 20.00</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">17.00 - 20.00</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">17.00 - 20.00</td>
			<td style="height: 36px; width: 177px;">14.00 - 18.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<!-- <tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Вовненко</b><br /> А.Е.</td>
			<td style="height: 36px; width: 302px;"><em>Уролог<br /></em></td>
			<td style="height: 36px; width: 107px;">08.00 - 12.00</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">08.00 - 12.00</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">08.00 - 12.00</td>
			<td style="height: 36px; width: 177px;"></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr> -->
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Чилингарянц</b><br /> Сергей Георгиевич</td>
			<td style="height: 36px; width: 302px;"><em>Онколог, маммолог<br />(доктор наук)&nbsp;</em></td>
			<td style="height: 36px; width: 107px;">12.00 - 17.00</td>
			<td style="height: 36px; width: 102px;">14.00 - 18.00</td>
			<td style="height: 36px; width: 107px;">12.00 - 17.00</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">13.00 - 17.00</td>
			<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Трофименков</b><br />Марк Яковлевич</td>
			<td style="height: 36px; width: 302px;"><em>Травматолог-ортопед <br />(высшая категория)&nbsp;</em></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;">09.00 - 14.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;">09.00 - 14.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 177px;">09.00 - 14.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<!-- <tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Сергеев</b><br />Виктор Александрович</td>
			<td style="height: 36px; width: 302px;"><em>Сердечно-сосудистый хирург,<br />флеболог</em></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;">16.00 - 19.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;">16.00 - 19.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr> -->
		<tr class="start" style="height: 18px;">
			<td class="group" style="height: 18px; width: 1379px;" colspan="9" align="center">Невролог <span style="font-size: 12.222222328186px;">(детский, взрослый)</span></td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Ивлева</b><br />Татьяна Алексеевна</td>
			<td style="height: 36px; width: 302px;"><em>Невролог детский</em></td>
			<td style="height: 36px; width: 107px;">13.00 - 18.00</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">09.00 - 14.00</td>
			<td style="height: 36px; width: 102px;">09.00 - 17.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Косьмина</b><br /> Оксана Витальевна</td>
			<td style="height: 36px; width: 302px;"><em>Невролог детский</em></td>
			<td style="height: 36px; width: 107px;">09.00 - 13.00</td>
			<td style="height: 36px; width: 102px;">09.00 - 17.00</td>
			<td style="height: 36px; width: 107px;">14.30 - 18.30</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">09.00 - 17.00</td>
			<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">09.00 - 13.00</td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Оганьян</b><br />Татьяна Владимировна</td>
			<td style="height: 36px; width: 302px;"><em><em>&nbsp;Невролог&nbsp;</em></em><em>взрослый, (высшая категория)</em></td>
			<td style="height: 36px; width: 107px;">09.00 - 14.00</td>
			<td style="height: 36px; width: 102px;">15.00 - 20.00</td>
			<td style="height: 36px; width: 107px;">14.00 - 19.00</td>
			<td style="height: 36px; width: 102px;">10.00 - 16.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 177px;">10.00 - 17.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>

		<tr class="body  table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Лукашевич </b><br />Николай Владимирович</td>
			<td style="height: 36px; width: 302px;"><em>Невролог, мануальный терапевт</em></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;">08.00 - 14.00</td>
			<td style="height: 36px; width: 107px;">08.00 - 14.00</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">10.00 - 17.00</td>
			<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<tr class="start" style="height: 18px;">
			<td class="group" style="height: 18px; width: 1379px;" colspan="9" align="center">Офтальмолог</td>
		</tr>
		<!-- <tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Журавлева</b><br /> Людмила Васильевна</td>
			<td style="height: 36px; width: 302px;"><em>(высшая категория)</em></td>
			<td style="height: 36px; width: 107px;">14.00 - 18.00</td>
			<td style="height: 36px; width: 102px;">14.00 - 18.00</td>
			<td style="height: 36px; width: 107px;">14.00 - 18.00</td>
			<td style="height: 36px; width: 102px;">14.00 - 18.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">10.00 - 18.00</td>
		</tr> -->
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Ситникова</b><br />Антонина Викторовна</td>
			<td style="height: 36px; width: 302px;"><em>(высшая категория)</em></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 177px;">10.00 - 13.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<!-- <tr class="body table-row" style="height: 36px;">
<td style="height: 36px; width: 268px;"><b>Ахмедова</b><br />Шанисе Вагифовна</td>
<td style="height: 36px; width: 302px;">&nbsp;</td>
<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
<td style="height: 36px; width: 107px;">09.00 - 18.00</td>
<td style="height: 36px; width: 177px;">13.30 - 19.00</td>
<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
</tr> -->
		<!--tr class="body table-row" style="height: 36px;">
<td style="height: 36px; width: 268px;"><b>Иванова</b><br />Нина Владимировна</td>
<td style="height: 36px; width: 302px;"><em>высшая категория</em></td>
<td style="height: 36px; width: 107px;">08.00 - 11.00</td>
<td style="height: 36px; width: 102px;">08.00 - 11.00</td>
<td style="height: 36px; width: 107px;">08.00 - 14.00;</td>
<td style="height: 36px; width: 102px;">08.00 - 11.00</td>
<td style="height: 36px; width: 107px;">15.00 - 20.00</td>
<td style="height: 36px; width: 177px;">&nbsp;</td>
<td style="height: 36px; width: 107px;">&nbsp;</td>
</tr-->
		<tr class="start" style="height: 18px;">
			<td class="group" style="height: 18px; width: 1379px;" colspan="9" align="center">Аллерголог-иммунолог&nbsp;<span style="font-size: 12.222222328186px;">(детский, взрослый)</span></td>
		</tr>
		<!-- <tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Любимов</b><br />Дмитрий Сергеевич</td>
			<td style="height: 36px; width: 302px;">Пульмонолог-аллерголог-иммунолог&nbsp;<em>(к.м.н.)</em></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">17.30 - 20.00</td>
			<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr> -->
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Шарковская</b><br /> Татьяна Евгеньевна</td>
			<td style="height: 36px; width: 302px;"><em>Аллерголог-иммунолог (к.м.н.,<br /> высшая категория)&nbsp;</em></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;">12.00 - 20.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;">12.00 - 20.00</td>
			<td style="height: 36px; width: 107px;">09.00 - 14.00</td>
			<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">10.00 - 18.00</td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Недилько</b><br /> Алина Геннадиевна</td>
			<td style="height: 36px; width: 302px;"><em>Аллерголог-иммунолог,(высшая категория)</em></td>
			<td style="height: 36px; width: 107px;">15.00 - 18.00</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 177px;">09.00 - 12.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<tr class="start" style="height: 18px;">
			<td class="group" style="height: 18px; width: 1379px;" colspan="9" align="center">Дерматолог</td>
		</tr>
		<tr class="body  table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Карнаухов</b><br />Аркадий Михайлович</td>
			<td style="height: 36px; width: 302px;"><em>Дерматовенеролог, невролог<br /> (высшая категория)&nbsp;</em></td>
			<td style="height: 36px; width: 107px;">08.00 - 19.30</td>
			<td style="height: 36px; width: 102px;">08.00 - 19.30</td>
			<td style="height: 36px; width: 107px;">08.00 - 19.30</td>
			<td style="height: 36px; width: 102px;">08.00 - 19.30</td>
			<td style="height: 36px; width: 107px;">08.00 - 19.30</td>
			<td style="height: 36px; width: 177px;">08.00 - 20.00</td>
			<td style="height: 36px; width: 107px;">10.00 - 18.00</td>
		</tr>
		<!--tr class="body  table-row" style="height: 36px;">
<td style="height: 36px; width: 268px;"><b>Яган</b><br /> Расин Ибрагимович</td>
<td style="height: 36px; width: 302px;"><em>(первая категория)&nbsp;</em></td>
<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
<td style="height: 36px; width: 177px;">13.00 - 16.00</td>
<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
</tr-->
		<tr class="start" style="height: 18px;">
			<td class="group" style="height: 18px; width: 1379px;" colspan="9" align="center">Инфекционист</td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Казачанская</b><br />Анна Игоревна</td>
			<td style="height: 36px; width: 302px;">&nbsp;</td>
			<td style="width: 809px;" colspan="7" align="center">По датам</td>
		</tr>
		<tr class="start" style="height: 18px;">
			<td class="group" style="height: 18px; width: 1379px;" colspan="9" align="center">Массаж</td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Лоханова </b><br />Надежда Александровна</td>
			<td style="height: 36px; width: 302px;">&nbsp;</td>
			<td style="height: 36px; width: 107px;">08.00 - 14.00</td>
			<td style="height: 36px; width: 102px;">08.00 - 14.00</td>
			<td style="height: 36px; width: 107px;">08.00 - 14.00</td>
			<td style="height: 36px; width: 102px;">08.00 - 14.00</td>
			<td style="height: 36px; width: 107px;">08.00 - 14.00</td>
			<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Цой</b><br />Галина Анатольевна</td>
			<td style="height: 36px; width: 302px;">&nbsp;</td>
			<td style="height: 36px; width: 107px;">14.00 - 20.00</td>
			<td style="height: 36px; width: 102px;">14.00 - 20.00</td>
			<td style="height: 36px; width: 107px;">14.00 - 20.00</td>
			<td style="height: 36px; width: 102px;">14.00 - 20.00</td>
			<td style="height: 36px; width: 107px;">14.00 - 20.00</td>
			<td style="height: 36px; width: 177px;">08.00 - 14.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<tr class="start" style="height: 18px;">
			<td class="group" style="height: 18px; width: 1379px;" colspan="9" align="center">Фтизиатр (детский)</td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Ермолаева </b><br /> Галина Николаевна</td>
			<td style="height: 36px; width: 302px;">&nbsp;</td>
			<td style="width: 809px;" colspan="7" align="center">По датам</td>
			<!-- <td style="height: 36px; width: 107px;">&nbsp;</td>
<td style="height: 36px; width: 102px;">&nbsp;</td>
<td style="height: 36px; width: 107px;">&nbsp;</td>
<td style="height: 36px; width: 102px;">&nbsp;</td>
<td style="height: 36px; width: 107px;">&nbsp;</td>
<td style="height: 36px; width: 177px;">12.08.18,<br>26.08.18<br />10.00 - 14.00</td>
<td style="height: 36px; width: 107px;">&nbsp;</td> --></tr>
		<!--tr class="start" style="height: 18px;">
<td class="group" style="height: 18px; width: 1379px;" colspan="9" align="center">Гематолог (детский)</td>
</tr>
<tr class="body table-row" style="height: 36px;">
<td style="height: 36px; width: 268px;"><b>Строкова</b><br /> Наталья Владимировна</td>
<td style="height: 36px; width: 302px;">&nbsp;</td>
<td style="height: 36px; width: 809px;" colspan="7">Декретный отпуск</td>
</tr-->
		<tr class="start" style="height: 18px;">
			<td class="group" style="width: 1379px;" colspan="9" align="center">Психиатр</td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Аникина </b><br />Ольга Владимировна</td>
			<td style="height: 36px; width: 302px;">&nbsp;</td>
			<td style="width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="width: 107px;">09.00-11.30</td>
			<td style="width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="width: 177px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<tr class="start" style="height: 18px;">
			<td class="group" style="height: 18px; width: 1379px;" colspan="9" align="center">Функциональная диагностика</td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>РЭГ, ЭЭГ,</b><br /> функция внешнего дыхания</td>
			<td style="height: 36px; width: 302px;">&nbsp;</td>
			<td style="height: 36px; width: 107px;">08.00 - 20.00</td>
			<td style="height: 36px; width: 102px;">08.00 - 20.00</td>
			<td style="height: 36px; width: 107px;">08.00 - 20.00</td>
			<td style="height: 36px; width: 102px;">08.00 - 20.00</td>
			<td style="height: 36px; width: 107px;">08.00 - 20.00</td>
			<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;">08.00 - 18.00</td>
		</tr>
		<!-- <tr class="body table-row" style="height: 36px;">
<td style="height: 36px; width: 268px;"><b>Сазонова</b><br /> Елена Константиновна</td>
<td style="height: 36px; width: 302px;"><em>РЭГ, ЭЭГ</em></td>
<td style="height: 36px; width: 107px;">08.00 - 16.00</td>
<td style="height: 36px; width: 102px;">08.00 - 16.00</td>
<td style="height: 36px; width: 107px;">08.00 - 16.00</td>
<td style="height: 36px; width: 102px;">08.00 - 16.00</td>
<td style="height: 36px; width: 107px;">08.00 - 16.00</td>
<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span></td>
<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
</tr> -->
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Недилько</b><br /> Алина Геннадиевна</td>
			<td style="height: 36px; width: 302px;">&nbsp;</td>
			<td style="height: 36px; width: 107px;">15.00 - 18.00</td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 177px;">09.00 - 12.00</td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<!-- <tr class="start" style="height: 18px;">
<td class="group" style="height: 18px; width: 1379px;" colspan="9" align="center">Трасфузиологи</td>
</tr> --> <!-- <tr class="body table-row" style="height: 36px;">
<td style="height: 36px; width: 268px;"><b>Гайнутдинов</b><br /> Дмитрий Игоревич</td>
<td style="height: 36px; width: 302px;">&nbsp;</td>
<td style="height: 36px; width: 107px;">&nbsp;</td>
<td style="height: 36px; width: 102px;">&nbsp;</td>
<td style="height: 36px; width: 107px;">&nbsp;</td>
<td style="height: 36px; width: 102px;">&nbsp;</td>
<td style="height: 36px; width: 107px;">&nbsp;</td>
<td style="height: 36px; width: 177px;">09.00 - 18.00</td>
<td style="height: 36px; width: 107px;">&nbsp;</td>
</tr> -->
		<tr class="start" style="height: 18px;">
			<td class="group" style="height: 18px; width: 1379px;" colspan="9" align="center">Вакцинопрофилактика</td>
		</tr>
		<tr class="body table-row" style="height: 18px;">
			<td style="height: 18px; width: 268px;"><em>Вакцинацинопрофилактика</em></td>
			<td style="height: 18px; width: 302px;">&nbsp;</td>
			<td style="height: 18px; width: 107px;">08.00 - 20.00</td>
			<td style="height: 18px; width: 102px;">08.00 - 20.00</td>
			<td style="height: 18px; width: 107px;">08.00 - 20.00</td>
			<td style="height: 18px; width: 102px;">08.00 - 20.00</td>
			<td style="height: 18px; width: 107px;">08.00 - 20.00</td>
			<td style="height: 18px; width: 177px;">08.00 - 20.00</td>
			<td style="height: 18px; width: 107px;">08.00 - 18.00</td>
		</tr>
		<tr class="body table-row" style="height: 18px;">
			<td style="height: 18px; width: 268px;"><em>Манту</em></td>
			<td style="height: 18px; width: 302px;">&nbsp;</td>
			<td style="height: 18px; width: 107px;">08.00 - 18.00</td>
			<td style="height: 18px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 18px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 18px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 18px; width: 107px;">08.00 - 18.00</td>
			<td style="height: 18px; width: 177px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 18px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<tr class="body table-row" style="height: 18px;">
			<td style="height: 18px; width: 268px;"><em>Национальный календарь прививок</em></td>
			<td style="height: 18px; width: 302px;">&nbsp;</td>
			<td style="height: 18px; width: 107px;">09.00 - 17.00</td>
			<td style="height: 18px; width: 102px;">09.00 - 17.00</td>
			<td style="height: 18px; width: 107px;">09.00 - 17.00</td>
			<td style="height: 18px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 18px; width: 107px;">09.00 - 17.00</td>
			<td style="height: 18px; width: 177px;">09.00 - 17.00</td>
			<td style="height: 18px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<!-- <tr class="start" style="height: 18px;">
			<td class="group" style="height: 18px; width: 1379px;" colspan="9" align="center">Отделение профилактики и выездной работы</td>
		</tr>
		<tr class="body table-row" style="height: 54px;">
			<td style="height: 54px; width: 268px;"><b>Оформление</b><br /> водительских справок,<br /> справок на оружие</td>
			<td style="height: 54px; width: 302px;">&nbsp;</td>
			<td style="height: 54px; width: 107px;">08.00 - 16.00</td>
			<td style="height: 54px; width: 102px;">08.00 - 16.00</td>
			<td style="height: 54px; width: 107px;">08.00 - 16.00</td>
			<td style="height: 54px; width: 102px;">08.00 - 16.00</td>
			<td style="height: 54px; width: 107px;">08.00 - 16.00</td>
			<td style="height: 54px; width: 177px;">09.00 - 12.00</td>
			<td style="height: 54px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<tr class="body table-row" style="height: 54px;">
			<td style="height: 54px; width: 268px;"><b>Периодические<br /> медицинские<br /> осмотры</b></td>
			<td style="height: 54px; width: 302px;">&nbsp;</td>
			<td style="height: 54px; width: 107px;">08.00 - 16.00</td>
			<td style="height: 54px; width: 102px;">08.00 - 16.00</td>
			<td style="height: 54px; width: 107px;">08.00 - 16.00</td>
			<td style="height: 54px; width: 102px;">08.00 - 16.00</td>
			<td style="height: 54px; width: 107px;">08.00 - 16.00</td>
			<td style="height: 54px; width: 177px;">09.00 - 12.00</td>
			<td style="height: 54px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr> -->
		<tr class="start" style="height: 18px;">
			<td class="group" style="height: 18px; width: 1379px;" colspan="9" align="center">Дневной стационар</td>
		</tr>
		<tr class="body table-row" style="height: 36px;">
			<td style="height: 36px; width: 268px;"><b>Елагина</b><br /> Наталья Юрьевна</td>
			<td style="height: 36px; width: 302px;"><em>Старший ординатор&nbsp;</em></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 102px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 177px;"><span style="color: #ff0000;">&mdash;</span></td>
			<td style="height: 36px; width: 107px;"><span style="color: #ff0000;">&mdash;</span></td>
		</tr>
		<tr class="body table-row" style="height: 18px;">
			<td style="height: 18px; width: 268px;"><b>Стационар</b></td>
			<td style="height: 18px; width: 302px;">&nbsp;</td>
			<td style="height: 18px; width: 107px;">08.00 - 18.00</td>
			<td style="height: 18px; width: 102px;">08.00 - 18.00</td>
			<td style="height: 18px; width: 107px;">08.00 - 18.00</td>
			<td style="height: 18px; width: 102px;">08.00 - 18.00</td>
			<td style="height: 18px; width: 107px;">08.00 - 18.00</td>
			<td style="height: 18px; width: 177px;">08.00 - 17.00</td>
			<td style="height: 18px; width: 107px;">08.00 - 14.00</td>
		</tr>
		<tr class="body table-row" style="height: 18px;">
			<td style="height: 18px; width: 268px;"><b>Забор анализов</b><span style="color: #ff0000;">*</span></td>
			<td style="height: 18px; width: 302px;">&nbsp;</td>
			<td style="height: 18px; width: 107px;">08.00 - 10.30</td>
			<td style="height: 18px; width: 102px;">08.00 - 10.30</td>
			<td style="height: 18px; width: 107px;">08.00 - 10.30</td>
			<td style="height: 18px; width: 102px;">08.00 - 10.30</td>
			<td style="height: 18px; width: 107px;">08.00 - 10.30</td>
			<td style="height: 18px; width: 177px;">08.00 - 10.00</td>
			<td style="height: 18px; width: 107px;">08.00 - 10.00</td>
		</tr>
		<tr class="body table-row" style="height: 18px;">
			<td style="height: 18px; width: 1379px;" colspan="9"><span style="color: #ff0000;">*</span><a class="flinks" href="raspisanie/usloviya_zabora_materiala.html">Уточните условия забора материала</a></td>
		</tr>
	</tbody>
</table>
