<div class="slider owl-carousel">
  <div class="swiper-slide swiper-slide2">
    <img src="./static/img/slider_n1.jpg" alt="">
  </div>

    <div class="swiper-slide swiper-slide1">
      <img src="./static/img/slide_smc.jpg" alt="">
      <a href="index1.html" class="slider__link slider__link_1"></a>
      <a href="index1.html" class="slider__link slider__link_2"></a>
    </div>

    <div class="swiper-slide swiper-slide2">
      <img src="./static/img/slide_main.jpg" alt="">
    </div>

    <div class="swiper-slide swiper-slide3">
      <img src="./static/img/slide_ear.jpg" alt="">
    </div>

    <div class="swiper-slide swiper-slide4">
      <img src="./static/img/slide_dnk.jpg" alt="">
    </div>

    <div class="swiper-slide swiper-slide5">
      <img src="./static/img/slide_flo.jpg" alt="">
    </div>

    <div class="swiper-slide swiper-slide6">
      <img src="./static/img/slide_psycho.jpg" alt="">
    </div>

    <div class="swiper-slide swiper-slide7">
      <img src="./static/img/slide_kdl.jpg" alt="">
    </div>

    <div class="swiper-slide swiper-slide8">
      <img src="./static/img/slide_reklama.jpg" alt="">
    </div>

    <div class="swiper-slide swiper-slide9">
      <img src="./static/img/slide_oleg.jpg" alt="">
    </div>

    <div class="swiper-slide swiper-slide10">
      <img src="./static/img/slide_nerves.jpg" alt="">
    </div>

    <div class="swiper-slide swiper-slide11">
      <img src="./static/img/slide_uzi.jpg" alt="">
    </div>

    <div class="swiper-slide swiper-slide12">
      <img src="./static/img/slide_otol.jpg" alt="">
    </div>

    <div class="swiper-slide swiper-slide13">
      <img src="./static/img/slide_prof.jpg" alt="">
    </div>

    <div class="swiper-slide swiper-slide14">
      <img src="./static/img/slide_olga.png" alt="">
    </div>
</div>


<div class="section services">
  <button class="button services__button">Записаться на прием</button>
  <button class="button services__button">Заказать справку</button>
  <p class="license__text_mobile text text_size_xs">Лицензия № ЛО-61-01-005670 от 24.01.2017</p>
</div>

<section class="section__geolocation section">
  <div class="rostov">
    <h1 class="title title_size_middle">«Семейный Медицинский Центр»</h1>
    <h2 class="subtitle">Адрес:</h2>
    <p class="geolocation__text">Бульвар Комарова, 7А/16А</p>
    <h2 class="subtitle subtitle_work-time">График работы</h2>
    <p class="geolocation__text">понедельник-суббота с 08:00 до 20:00</p>
    <p class="geolocation__text">воскресенье — с 08:00 до 18:00</p>
  </div>

  <div class="kamenolom">
    <h1 class="title title_size_middle">Филиал в п. Каменоломни</h1>
    <h2 class="subtitle">Адрес:</h2>
    <p>пер. Шоссейный, 7АА</p>
    <h2 class="subtitle subtitle_work-time">График работы</h2>
    <p class="geolocation__text">понедельник-суббота с 08:00 до 18:00</p>
    <p class="geolocation__text">воскресенье — с 08:00 до 14:00</p>
  </div>
</section>

<section class="section section__3d">
  <h2 class="title">3D тур по центру</h2>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m0!4v1499255658755!6m8!1m7!1sF%3A-W6gGo6rK0zA%2FWVEC8yD0Y_I%2FAAAAAAAKC1A%2FtvxlFKfaGqMvHAzxcmF_-ICfyjwpjbQSgCLIBGAYYCw!2m2!1d47.28701189563244!2d39.7049163351204!3f0!4f0!5f0.7820865974627469"
    class="iframe_3d"
    width="100%" height="450" frameborder="0" style="border:0" allowfullscreen="">
  </iframe>
</section>


<article class="section main-article_desktop">
  <h2 class="title main-article__title">Опыт трёхлетнего использования таблетированного препарата «Антиполлин» для проведения
    специфической иммунотерапии аллергических заболеваний.</h2>
  <h3 class="subtitle main-article__subtitle ">Введение.</h3>
  <p class="main-article__text">На базе отделения иммунологии и аллергологии Семейного медицинского центра г. Ростова-на-Дону с 2015 года успешно
    применяется современный таблетированный препарат на основе пыльцевых аллергенов для специфической иммунотерапии аллергических заболеваний «Антиполлин».
  </p>
  <p class="main-article__text">Аллерген-специфическая иммунотерапия (АСИТ) — один из основных методов патогенетического лечения аллергических заболеваний, который воздействует практически на все значимые звенья патогенеза аллергической реакции.
    Суть метода заключается во введении в организм пациента возрастающих доз аллергена, ответственного за клинические проявления заболевания у больного.
    Целью АСИТ является как уменьшение клинической выраженности симптомов аллергической реакции, так и снижение или полное отсутствие потребности в приеме симптоматических лекарственных средств.
    Результаты многочисленных испытаний с высокой степенью доказательности свидетельствуют об эффективности АСИТ, которая при правильном выборе схемы лечения
    и соблюдении рекомендаций врача пациентом может достигать 70-90% по данным разных авторов [1,2].</p>

    <p class="main-article__text">Целью работы явилось изучение эффективности сублингвальной аллергенспецифической иммунотерапии препаратом «Антиполлин».</p>
  <h3 class="subtitle main-article__subtitle">Материалы и методы исследования.</h3>
  <p class="main-article__text">Под наблюдением находилось 40 человек, из них 20 взрослых: 12 женщин в возрасте 20-45 лет и восемь мужчин в возрасте 20-50 лет. А так же 20 детей от восьми до 18 лет: 14 мальчиков и 6 девочек.
    Все пациенты были обследованы: общий анализ крови, общий анализ мочи, биохимия крови.
    В крови выявлены специфические иммуноглобулины Е к пыльцевых аллергенам, повышение общего IG E, повышение катионного белка эозинофилов, получены положительные результаты при кожном тестировании.</p>
  <p class="main-article__text">Для оценки динамики в дальнейшем, перед началом лечения заполнялись листы опросники, отражающие качество жизни, количество и выраженность симптомов.</p>
  <h3 class="subtitle main-article__subtitle">Данные общих клинических и аллергологических исследований.</h3>
  <p class="main-article__text">80% пациентов были сенсибилизированны к пыльце сорных трав, в основном амброзия, полынь. По 10% пациентов соответственно имели повышенную чувствительность к пыльце деревьев и луговых трав.</p>
  <p class="main-article__text">Клинические проявления были у взрослых: в 50 % бронхиальная астма пыльцевая атопическая, легкое течение, контролируемая; в 50% риноконъюнктивальный синдром. У детей: 70 % аллергический риноконъюктивит,
    30 % бронхиальная астма, легкое течение, контролируемая. Давность заболевания от 3 до 12 лет. Все пациенты ранее не получали аллергенспецифическую иммунотерапию. Тщательно собранный анамнез позволил исключить
    пациентов, у которых были противопоказания. Два неконтролируемых случая бронхиальной астмы и один случай ревматоидного артрита в анамнезе. Все пациенты на момент начала лечения «Антиполлином» находились в ремиссии
    по основному заболеванию. Сроки начала лечения: январь — аллергенами деревьев, февраль — луговые травы. С марта — сорные травы: 70 % амброзия, 30 % микст амброзия полынь.
    Курс лечение состоял из ежедневного подьязычного использования таблеток в течении 70 дней. Так называевая предсезонная аллергенспецифическая иммунотерапия.
    Побочные эффекты в виде зуда ротоглотки, умеренной заложенности носа были у 10-15 % пациентов и только при приеме первых 3-4 блистеров. Симптомы были лёгкие и проходили самостоятельно в течение 15-20 минут.
    Отмены препарата не потребовалось ни в одном случае.
  </p>
  <h3 class="subtitle main-article__subtitle">Результаты исследования.</h3>
  <p class="main-article__text">Эффективность терапии оценивалась в баллах с учетом выраженности клинических проявлений до цветения и в период поллинации, потребности в приеме симптоматических препаратов.
    Отличным результатом считалось отсутствие всех проявлений заболевания; хорошим — клинические проявления болезни незначительны, не влияют на качество жизни и могут полностью
    купироваться приемом минимального количества симптоматических лекарственных средств; удовлетворительным — проявления заболевания стали реже и менее выраженными, но при этом качество жизни снижено,
    для достижения частичной ремиссии требуется приемом симптоматических препаратов; неудовлетворительным — нет клинических улучшений.</p>
  <p class="main-article__text">У 72,5% (29) пациентов до начала АСИТ в сыворотке крови выявлено
    повышение уровня IG E, у 92,5% (37) обследуемых — повышение катионного белка эозинофилов.(КЭП)</p>
  <p class="main-article__text">После проведения первого курса лечения отмечено снижение уровня IG E, КЭП у 82,5% (33) больных, а после
    третьего курса терапии его показатели уменьшились у 88% пациентов в среднем в 1,8 раза.
  </p>
  <h3 class="subtitle main-article__subtitle">Выводы:</h3>
  <ol class="main-article__list">
    <li><p class="main-article__text">АСИТ таблетированными аллергенами «Антиполлин» является высокоэффективным и безопасным методом специфической терапии аллергических заболеваний.</p></li>
    <li><p class="main-article__text">У большинства пациентов отмечены отличные и хорошие результаты уже после первого курса лечения, и у 88% больных получены только отличные и хорошие результаты после трех лет терапии.</p></li>
    <li><p class="main-article__text">Клиническая эффективность АСИТ коррелировала с динамикой лабораторных показателей: после нее статистически значимо снизилась уровни КЭП и общего IgE. После первого курса АСИТ отличные результаты отметили 5% (2) пациентов, хорошие — 80 % (32), удовлетворительные — 15% (6). После второго года лечения отличные результаты получены у 12,5% (5) пациентов, хорошие — у 85% (34) и удовлетворительные — у 2,5% (1) больных. Эффективность лечения после третьего года состояла только из отличных — 35% (14) и хороших — 65% (26) результатов.</p></li>
  </ol>


  <p class="main-article__text">Таким образом, АСИТ таблетированными аллергенами «Антиполлин» позволяет достичь высокого клинико-иммунологического эффекта, и служит основанием для применения в широкой практике лечения аллергических заболеваний.</p>

  <h3 class="subtitle main-article__subtitle">Список литературы:</h3>
  <ol class="main-article__list">
    <li><p class="main-article__text">Коровкина Е.С., Воронцова И.М. Возможности проведения аллерген-специфической иммунотерапии у полисенсибилизированных пациентов / Лечащий врач. - 2017. - № 4. - С. 20.</p></li>
    <li><p class="main-article__text">Российская ассоциация аллергологов и клинических иммунологов Федеральные клинические рекомендации по проведению аллерген-специфической иммунотерапии. – Москва, 2013. – 13с.</p></li>
    <li><p class="main-article__text">Глушкова Е.Ф., Сидорович О.И., Лусс Л.В. Клиническая эффективность сублингвальной аллерген-специфической иммунотерапии препаратом антиполлин микст полыней у взрослых. / Российский аллергологический журнал. – 2016.
      -№4-5. –с.1.</p></li>
    <li><p class="main-article__text">Емелина И.Е., Тузанкина И.А., Зурочка А.В. Клиническая эффективность аллерген-специфической иммунотерапии у детей с сочетанными формами респираторной пыльцевой аллергии,
       вызванной пыльцой деревьев. Российский аллергологический журнал. – 2016. -№3. –с.41-48.</p></li>
    <li><p class="main-article__text">Инструкция к препарату Антиполлин Амброзия, микст сорных трав.</p></li>
  </ol>
</article>

<section class="section specialists section__slider">
  <div class="specialists__photos section__slider">
    <img src="./static/img/olga.jpg"
      alt="Специалист Семейного Мед. Центра" class="specialist_photo_1">
    <img src="./static/img/doctor_woman.jpg"
      alt="Специалист Семейного Мед. Центра" class="specialist_photo_2">
    <img src="./static/img/doctor_3.jpg"
      alt="Специалист Семейного Мед. Центра" class="specialist_photo_3">
  </div>

  <h2 class="title title_size_m title_common">Наши специалисты</h2>
  <ul class="specialists__list">
    <li class="specialists__item"><a href="#">Аллерголог-иммунолог</a></li>
    <li class="specialists__item"><a href="">Врач УЗИ</a></li>
    <li class="specialists__item"><a href="">Гастроэнтеролог</a></li>
    <li class="specialists__item"><a href="">Гинеколог</a></li>
    <li class="specialists__item"><a href="">Кардиолог</a></li>
    <li class="specialists__item"><a href="">Логопед</a></li>
    <li class="specialists__item"><a href="">Невролог</a></li>
    <li class="specialists__item"><a href="">Отделение профилактики</a></li>
    <li class="specialists__item"><a href="">Отоларинголог</a></li>
    <li class="specialists__item"><a href="">Офтальмолог</a></li>
    <li class="specialists__item"><a href="">Педиатр</a></li>
    <li class="specialists__item"><a href="">Психиатры</a></li>
    <li class="specialists__item"><a href="">Семья профеессионалов</a></li>
    <li class="specialists__item"><a href="">Средний мед.персонал</a></li>
    <li class="specialists__item"><a href="">Терапевт</a></li>
    <li class="specialists__item"><a href="">Хирург</a></li>
    <li class="specialists__item"><a href="">Эндокринолог</a></li>
  </ul>
</section>


<section class="section section__news section__slider">
  <h2 class="news__title title title_size_m title_common">Новости</h2>
  <div class="owl-carousel-news carousel-wrap">
    <div class="news__block">
      <p class="news__date text_size_m">02.08<span class="year__hidden">.2018</span></p>
      <h4 class="news__subtitle text_size_s">Как сделать летнее плавание безопасным для детей</h4>
      <p class="news__content text_size_xs">Купание в водоемах поможет укрепить здоровье ребенка, но только при соблюдении
      нескольких правил.</p>
    </div>

    <div class="news__block">
      <p class="news__date text_size_m">27.07<span class="year__hidden">.2018</span></p>
      <h4 class="news__subtitle text_size_s">Оказание первой помощи</h4>
      <p class="news__content text_size_xs">Базовые принципы, которые должен знать каждый.</p>
    </div>

    <div class="news__block">
      <p class="news__date text_size_m">20.06<span class="year__hidden">.2018</span></p>
      <h4 class="news__subtitle text_size_s">Вниманию водителей и работадателей!</h4>
      <p class="news__content text_size_xs">Ужесточились требования по проведению предрейсовых и послерейсовых медицинских осмотров.</p>
    </div>
  </div>

  <p class="news__all-news text_size_s">Смотреть все новости</p>
</section>
