@media (max-width: 767px) {

/*Мобильная навигация*/
.mobile-menu__active {
  margin-left: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;
  .menu-wrapper {
    display: block;
  }
  li, ul {
    display: flex;
  }
  .sidebar, .header {
    display: none;
  }
}

.service__hidden {
  display: none;
}

/*Попап записи на приём */
.popup_active {
  height: 100%;
  .header {
    position: static;
  }
  .container-flex, .footer {
    display: none;
  }
  .popup__close-button {
    position: absolute;
    top: 10px; right: 10px;
    width: 30px;
    height: 30px;
    background: url('../img/xxxx.svg') no-repeat;
    background-size: cover;
  }
}

.popup__visit, .popup__reference, .popup__ring {
  display: none;
  position: absolute;
  padding-bottom: 40px;
  top: 0; left: 0;
  width: 100vw;
  min-height: 100vh;
  background: white;
  z-index: 500000;
}

/*Попап визита*/
.popup__visit_active {
  .popup__visit {
    display: block;
  }
}
/*Попап справки*/
.popup__reference_active {
  .popup__reference {
    display: block;
  }
}

/*Попап трубки*/
.popup__ring_active {
  overflow: hidden;
  .popup__ring {
    display: block;
  }
}

/*Попап поиска*/
.search__active {
  .header {
    height: 60px;
  }
  .header__phone,
   .header__mob-menu,
   .header__logo, {
    display: none;
  }
  .header__tools-wrapper {
    width: 100%;
  }
  .header__tools {
    text-align: left;
    justify-content: space-between;
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    & img:not(:last-child) {
      margin-right: 0px;
    }
  }
  .header__search {
    display: none;
  }
  .header__input, .header__close {
    display: block;
  }
  .header__visit, .header__reference, .header__logo_mobile {
    display: none;
  }
  .header__tools:after {
    content: "";
    width: 23px;
    height: 23px;
    background-image: url("../img/search.svg");
    background-size: cover;
    position: absolute;
    top: 18px;
    left: 75%;
  }
  .header__buttons-wrapper {
    display: none;
  }
  .slider {
    margin-top: 60px;
  }
}

.read__active {
  .text_hidden {
      display: block;
    }
  }
}
