body {
  overflow-x: hidden;

  font-family: 'PT Sans', sans-serif;
  line-height: 1.3;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
input {
  border: none;
}

$primary-color: #a5b82f;
$desktop-text: #32353c;
$orange: #ffa300;
$dark-green: #01740f;

@import './templates/header.scss';
@import './templates/navigation.scss';
@import './templates/footer.scss';
@import './templates/active.scss';
@import './templates/sliders.scss';
@import './templates/popup.scss';
@import './templates/sidebar.scss';

.menu__link_price {
  background: url('../img/desc_price.png') no-repeat center 0px;
}
.menu__link_offers {
  background: url('../img/desc_offers.png') no-repeat center 0px;
}
.menu__link_specialists {
  background: url('../img/desc_specialists.png') no-repeat center 0px;
}
.menu__link_schedule {
  background: url('../img/desc_schedule.png') no-repeat center 0px;
}
.menu__link_news {
  background: url('../img/desc_news.png') no-repeat center 0px;
}
.menu__link_usefull {
  background: url('../img/desc_usefull.png') no-repeat center 0px;
}
.menu__link_contacts {
  background: url('../img/desc_contacts.png') no-repeat center 0px;
}
.menu__link_close-button {
  background: url('../img/mobile_x.svg') no-repeat center 0px;
}

.bread-crumbs {
  margin-top: 20px;
  margin-bottom: 15px;

  font-size: 12px;
}
.home__link {
  a {
    text-decoration: underline;

    color: #9a9998;
  }
}

/*Модификаторы текста*/
.subtitle {
  font-size: 16px;
  font-weight: bold;
}

.title_size_middle {
  font-size: 19px;
}

.title_common {
  text-transform: uppercase;
}

.container {
  overflow-x: hidden;
}

.wrapper{
  box-shadow: 0 0 200px -80px #0571c4;
}

.popup {
  display: none;
}

.against {
  padding: 20px 0;

  border-top: 1px solid #d7d6d6;
  border-bottom: 1px solid #d7d6d6;
}

@media (max-width: 767px) {
  body {
    width: 100vw;
  }
  .bread-crumbs {
    margin-top: 85px;
    margin-left: 15px;
  }
  .button {
    color: white;
    border: none;
    outline: none;
    background: #a5b72f;

    font-family: 'PT Sans';
  }
  .main, .wrapper {
    height: auto;
  }
  .wrapper {
    box-shadow: none;
    }
  .main {
    border-bottom: none;
  }
  .desktop__networks, .license__text, .header__contact-info {
    display: none;
 }

/*Модификаторы текста*/
  .title {
     font-size: 16px;
     font-weight: bold;
  }

  .hr {
     height: 1px;

     border: none;
     background: #b5b5b5;
  }

  .text_size_xs {
     font-size: 12px;
  }

  .text_size_s {
     font-size: 14px;
  }

  .text_hidden {
     display: none;
  }

  .title_size_l {
     font-size: 20px;
  }

  .title_size_m {
     font-size: 16px;
  }

  .text_size_m {
     font-size: 16px;
  }

  /*Контент*/
  .container {
    overflow-x: hidden;

    width: 100vw;
  }

  .content {
    width: calc(100vw - 30px);
    margin-left: 30px;
  }

  .license__text {
    position: relative;

    margin-left: 25px;

    text-align: left;

    font-weight: bold;
    line-height: 20px;

    &::before {
      position: absolute;
      left: -25px;

      content: url("../img/lic.png");
    }
  }

  .partners__image {
    width: 100%;
    max-width: 156px;
  }

  .partners__image_alliance {
    margin-right: 20px;
  }

  .reward__image {
    width: 85%;
    max-width: 150px;
    height: 85%;
  }

  .reward__image_1 {
    margin-right: 10px;
  }

  .progress__image {
    align-items: center;

    max-width: 110px;
    margin-right: 40px;
  }

  .main-content-section__title {
    margin-bottom: 15px;
    margin-left: 15px;

    color: black;

    font-size: 18px;
    font-weight: bold;
  }

  .contacts {
    h4 {
      margin-bottom: 10px;
    }
  }

  .against {
    margin-bottom: 10px;
  }

  .against__title {
    width: 80%;
    margin-right: auto;
    margin-left: auto;

    text-align: center;
    text-transform: uppercase;

    line-height: 1.5;
  }
}

/* Планшетная версия */
@media only screen and (min-width: 768px) and (max-width: 999px) {
  .container-flex {
    position: relative;
  }

  .main-content-section {
    width: 960px;
    margin-left: 38px;
  }

  .main-content-section__title {
    margin-left: 20px;
  }

  .section {
    margin-left: 20px;
  }

    .bread-crumbs {
      margin-left: 20px;
    }
}

@media (min-width: 1000px) {
  .menu__item:hover {
    transition: .3s;

    box-shadow: 0 1px 17px -3px rgba(0, 0, 0, 0.85);
  }

  .main-content-section {
    width: 714px;
  }

  .site__service {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      width: 855px;
      margin-top: 20px;
      margin-right: auto;
      margin-bottom: 50px;
      margin-left: auto;

      color: #5a534f;

      font-size: 14px;
  }
}

@media (min-width:768px) {
  body {
      background: linear-gradient(to bottom, #e6eaa7, #ebe1d7, #ebe1d7, #ebe1d7, #ebe1d7);

      font-family: 'PT Sans', sans-serif;
      font-stretch: expanded;
  }

  .container {
    overflow-x: visible;

    width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }

  .wrapper {
    background: white;
  }

  .container-flex {
    display: flex;
  }

  .main {
    background: white;
  }

  .title {
    font-weight: bold;
  }

  .subtitle {
    font-size: 16px;
    font-weight: bold;
  }

  .menu-wrapper, .popup {
    display: none;
  }

  .section__progress {
    width: 100%;
    margin-top: 50px;
  }

  .progress__image {
    display: block;

    width: 45%;
    height: auto;
    margin-bottom: 45px;
    margin-left: 25px;
  }

  .progress__title {
    display: none;
  }

  .title_common {
    // margin-top: 30px;
    margin-bottom: 35px;

    letter-spacing: 1px;
  }

  /*Главная навигация */
  .menu-wrapper {
    position: static;

    display: block;
  }

  .menu {
    display: flex;
  }

  .menu__item_close {
    display: none;
  }

  .menu__item {
    position: static;

    width: 143px;
    height: 98px;

    text-align: center;

    background: #a5b72f;
    &:not(:last-child) {
      border-right: 1px solid white;
    }
    & img {
      width: 30px;
      height: 30px;
    }
    & a {
      color: white;
    }
  }

  .menu__link {
    display: block;

    width: 100%;
    margin-top: 20px;
    padding-top: 40px;
  }

  .against__title {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #231f20;

    font-size: 20px;
    font-weight: lighter;
  }
}
