.payment_systems {
  background: url('../img/visa.png') no-repeat;
  width: 110px;
  height: 30px;
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
  }

  .payment_systems {
    margin: 20px auto;
  }

  .section__agreement {
    text-align: center;
  }

  .footer__text_agreement {
    font-weight: bold;
    margin-top: 12px;
    line-height: 22px;
    & a {
      color: blue;
    }
  }

  .airplane {
    margin-bottom: 2px;
    margin-top: 22px;
  }

  .footer__text_service {
    margin-bottom: 30px;
    text-decoration: underline;
    font-weight: bold;
    color: #5a534f;
  }

  .footer__text_rights {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
    font-weight: bold;
    color: #5a534f;
    margin-bottom: 50px;
    line-height: 18px;
  }

  .site__service {
    width: calc(100vw - 30px);
    margin-left: 30px;
    text-align: center;
    background: white;
  }
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
  .site__service {
    width: 750px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 70px;
    display: flex;
    color: #5a534f;
    font-size: 14px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .section__agreement {
    width: 750px;
  }
}

@media (min-width: 768px) {
    .footer {
      padding-bottom: 40px;
    }

    .section__agreement {
      margin-top: 30px;
      margin-left: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & img {
        height: 30px;
      }
    }

    .footer__text_agreement {
      font-size: 13px;
      color: #5a534f;
      line-height: 24px;
      text-align: center;
    }

    .footer__text_service, {
      text-align: right;
    }

    .footer__text_rights {
      line-height: 18px;
    }

    .airplane {
      margin-left: 64%;
    }
  }

@media (min-width: 1000px) {
  .section__agreement {
    width: 850px;
  }
}
