.text_green
{
    color: #49861b;
}

.text_red
{
    color: red;
}

.networks_desktop {
  position: absolute;
  top: 105px; left: 410px;

  width: 155px;
}

.networks__list {
  display: flex;
  justify-content: space-between;
}

.networks__link {
  display: block;

  width: 30px;
  height: 30px;

  background-repeat: no-repeat;
}

.networks__link_vk {
  background: url('../img/vk.svg');
}
.networks__link_fb {
  background: url('../img/facebook.svg');
}
.networks__link_ig {
  background: url('../img/instagram.svg');
}
.networks__link_ok {
  background: url('../img/ok.svg');
}

.header__tools_item {
  background-size: contain;
  background-repeat: no-repeat;
}

.header__tools_item_big {
  width: 41px;
  height: 41px;
}

.header__tools_item_small {
  width: 30px;
  height: 30px;
}

.header__logo_mobile {
  background-image: url('../img/logo.png');
}

.header__visit {
  background-image: url('../img/calend.png');
}

.header__reference {
  background-image: url('../img/telhead.png');
}

.header__phone {
  background-image: url('../img/phone.svg');
}

.header__search {
  background-image: url('../img/search.svg');
}

.header__close {
  background-image: url('../img/xxxx.svg');
}

.header__mob-menu {
  background-image: url('../img/burger.svg');
  width: 34px;
  height: 34px;
}


@media (max-width: 767px) {
  .header {
    position: fixed;
    z-index: 100;
    top: 0;

    display: flex;
    overflow-x: hidden;
    justify-content: space-between;

    width: calc(100vw - 30px);
    height: 60px;

    background: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  }

  .header__input {
    position: relative;

    display: none;
    justify-content: flex-start;

    width: 75%;
    height: 22px;
    margin-left: 10px;

    border: none;
    // border-bottom: 1px solid black;
    background: transparent;
  }

  .header__close {
    display: none;
  }

  .header__logo {
    display: flex;

    margin-top: 14px;
    margin-left: 0px;
  }

  .header__logo_item {
    height: 35px;
    margin-left: 12px;
  }

  .header__container_flex {
    display: none;
  }

  .header__tools {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: calc(100% - 30px);
    margin-left: 10px;
  }

  .header__buttons-wrapper {
    margin-right: 20px;

    text-align: right;
  }

  .header__button {
    position: relative;

    width: 151px;
    height: 28px;
    margin-bottom: 10px;

    text-transform: uppercase;

    border-radius: 9px;

    font-size: 10px;
    &:after {
      position: absolute;
      top: 3px;
      right: 17px;

      display: none;

      width: 15px;
      height: 15px;
    }
  }

.desktop__networks,
.header__contact-info,
.license__text {
  display: none;
}

  .header__button_acceptance:after  {
    content: url('../img/calendar.png');
  }
  .header__button_reference:after {
    content: url('../img/tel.png');
  }
}

@media (min-width:768px) {
  .header {
    height: 318px;
  }

  .header__container_flex {
    position: relative;

    display: flex;
    flex-wrap: wrap;

    height: 323px;
    margin-top: 10px;
  }

  .header__down {
    width: 100%;
    height: 50%;
    margin-bottom: 200px;
  }

  .header__contact {
    width: 792px;
  }

  .header__input_desktop-wrapper {
    position: relative;

    width: 100px;
    height: 65px;
    &:after {
      position: absolute;
      top: 25px;
      left: 215px;

      width: 15px;
      height: 15px;

      content: "";

      background: url('../img/desc_search.svg');
      background-size: cover;
    }
  }

  .header__contact-info {
    display: flex;
    justify-content: space-between;

    width: 770px;
    height: 100px;

    letter-spacing: .5px;
  }

  .header__contact-box {
    margin-top: 20px;

    font-size: 19px;
    font-weight: 600;
  }


  .header__location {
    position: relative;

    margin-top: 20px;
    padding-left: 40px;

    color: #494949;

    font-size: 15px;
    &:before {
      position: absolute;
      left: 0px;

      content: url('../img/geolocation.svg');
    }
  }

  .header__logo_item {
    width: 200px;
    height: 165px;
    margin-left: 0;
  }

  .header__children {
    width: 850px;
    height: 187px;
    margin-top: -60px;////////////ИСПРАВИТЬ!///////////////////
    margin-left: 20px;

    background: url('../img/children.svg');
    background-size: cover;
  }

  .header__button {
    display: none;
  }

  .header__tools {
    display: none;
  }

  .header__text_up {
    margin-bottom: 5px;
  }

  .header__contact {
    margin-top: 10px;
  }

  .license__text {
    position: relative;

    width: 80px;
    height: 70px;
    margin-top: 20px;
    margin-top: 30px;
    margin-left: 50px;

    text-align: left;

    color: #5a534f;

    font-size: 13px;
    line-height: 17px;
    &::before {
      position: absolute;
      top: 5px;
      left: -35px;

      width: 17px;
      height: 22px;

      content: url('../img/desc_license.svg');
      }
    }
  }
