@media (min-width:768px) {
  .menu-wrapper {
    position: static;

    display: block;
  }

  .menu {
    display: flex;
  }

  .menu__item_close {
    display: none;
  }

  .menu__item {
    width: 143px;
    height: 98px;

    text-align: center;

    background: #a5b72f;
    &:not(:last-child) {
      border-right: 1px solid white;
    }
    & img {
      width: 30px;
      height: 30px;
    }
  }

  .menu__item {
    position: static;
    & a {
      color: white;
    }
  }

  .menu__link {
    display: block;

    width: 100%;
    margin-top: 20px;
    padding-top: 40px;
  }
}
