/*Попап записи на приём и заказа справки*/
@media (max-width: 767px) {

select {
  position: relative;

  height: 26px;
  margin-top: 8px;
  margin-bottom: 15px;
  margin-left: 0;

  text-indent: 5px;

  border: none;
  border-top: 1px solid $primary-color;
  border-bottom: 1px solid $primary-color;
  border-left: 1px solid $primary-color;
  border-radius: 5px;
  background: transparent;

  appearance: none;
   &:focus {
     outline: none;
   }
}

input {
  outline: none;

  appearance: none;
}

label {
  position: relative;

  display: block;

  width: 100%;
  margin-bottom: 10px;

  vertical-align: middle;

  font-weight: bold;
}

.input {
  display: block;

  height: 26px;
  height: 36px;
  margin-top: 8px;
  margin-bottom: 15px;

  border: 1px solid $primary-color;
  border-radius: 10px;
  &::placeholder {
    text-indent: 2px;
  }
  &:focus {
    outline: none;
  }
}

.select {
  background: url('../img/select_arrow.png') no-repeat;
  background-position: right;
}

.fieldset {
  display: flex;
}

.agreement__fieldset {
  align-items: center;

  width: 100%;
  margin-bottom: 10px;
}

.fieldset__agreement_text {
  margin-left: 5px;

  text-decoration: underline;

  color: #278031;

  font-size: 12px;
}

.submit {
  width: 100%;
  height: 40px;

  color: white;
  border: none;
  border-radius: 15px;
  outline: none;
  background: $primary-color;

  font-size: 20px;
}

.select_day {
  width: 25%;
  margin-right: 2%;
  margin-left: 0;
}
.select_month {
  width: 42%;
  margin-right: 2%;
  margin-left: 0;

}
.select_year {
  width: 26%;
  margin-right: 0;
  margin-left: 0;
}
.select_reference {
  width: 100%;
}

.input_text,
.select_specialist {
   width: 100%;
}


input[type="radio"],
input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

input[type="radio"]:checked ~ .radio__custom_circle-wrapper {
  position: absolute;
  top: 3.5px;
  left: 4px;

  width: 10px;
  height: 10px;

  border-radius: 50%;
  background: black;
}

.radio__custom_circle {
  width: 18px;
  height: 18px;
  margin-top: 2px;
  margin-right: 10px;

  border: 1px solid black;
  border-radius: 50%;
}

input[type="checkbox"]:checked ~ .checkbox__custom {
  width: 20px;
  height: 20px;

  border: 2px solid white;
  outline: 1px solid #666666;
  background: #666666;;
}

.checkbox__custom {
  width: 20px;
  height: 20px;
  margin-right: 10px;

  border: 1px solid #666666;
}

.flex_label {
  display: flex;
  align-items: center;

  height: 15px;
}

.radio__label_reference {
  margin-top: 15px;
  margin-bottom: 15px;
}

.checkbox__label {
  margin-bottom: 20px;

  color: $dark-green;

  font-size: 12px;
  font-weight: normal;
}

.flex__input {
  margin-top: 20px;
}

.wrapper__reference_narco {
  margin-bottom: 30px;
}


.popup-visit__day {
  margin-bottom: 5px;

  font-weight: bold;
}

.submit {
  display: block;
}

.input__suffer {
   padding-top: 20px;
   padding-bottom: 140px;
}

.popup__subtitle_visit {
  margin-bottom: 100px;
}
.popup__form_title {
  margin-top: 50px;
}
.popup__title {
  margin-bottom: 10px;
}
.full-name__label {
  margin-top: 20px;
}

   /*Попап мобильной навигации (Бургер-меню)*/
  .menu-wrapper {
    display: none;

    width: 100vw;
    height: 100vh;
  }

  .menu {
    position: fixed;
    z-index: 100;
    top: 0;

    flex-wrap: wrap;

    width: 100vw;
    height: 100vh;
  }

  .menu__item {
    position: relative;

    width: 49.8%;
    height: 25%;
    margin: 0;
    padding: 0;

    text-align: center;
    vertical-align: bottom;

    border-bottom: .1px solid white;
    border-left: .1px solid white;
  }

  .menu__item_page {
    background: #a5b72f;
    & a {
        color: white;
    }
  }
  .menu__link {
    position: absolute;
    top: 47%;

    display: block;

    width: 100%;
    padding-top: 40px;

    transform: translateY(-50%);
    text-decoration: none;
  }

  .menu__item_close {
    background: white;
    & a {
      color: #a5b72f;
    }
  }

  /*Попап трубки*/
  .popup__title_ring {
    margin-top: 50px;
    margin-bottom: 20px;

    text-align: center;

    color: red;

    font-size: 20px;
    font-weight: bold;
  }

  .popup__subtitle_ring {
    margin-bottom: 5px;

    font-size: 14px;
    font-weight: bold;
  }

  .popup__adress {
    margin-bottom: 20px;
  }
  .popup__text_ring {
    font-size: 14px;
    line-height: 1.3;
  }
  .bold {
    font-weight: bold;
  }
  .popup__number {
    text-decoration: underline;
  }
  .popup__number_green {
    color: #49861b;
  }

  .popup__link {
    width: 40px;
    height: 40px;

    background-size: cover;
  }
  .popup__content {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .popup__number-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;

    width: 100%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  .popup__number {
    margin-bottom: 30px;
    min-width: 45%;
    max-width: 50%;

    color: black;

    font-size: 16px;
    font-weight: bold;
  }
  .networks {
    z-index: 500000;

    display: block;
  }
  .popup__networks {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }

  .popup__ring_image_left {
    width: 38%;
    height: 40%;
    margin-top: 5%;
  }
  .popup__ring_image_right {
    width: 50%;
    height: 40%;
  }
  .popup__ring_image-wrapper {
    display: flex;
    justify-content: center;

    width: 100%;
  }

}
