.sidebar__list_up {
  position: relative;
  &::before,
  &::after {
    position: absolute;
    z-index: 1000000;
    right: 10px;

    width: 20px;
    height: 20px;

    transition: all 1s ease;
    transform: rotate(-180deg);

    content: url('../img/arrow.png');
  }
  &::before {
    top: 25vh;
  }
  &::after {
    top: 70vh;
  }
}

.rotate_close {
  .sidebar__list_up {
    &::before,
    &::after {
      transition: transform 1s ease;
       transform: rotate(0deg);
    }
  }
}


@media (max-width: 767px) {
  .sidebar {
    position: fixed;
    z-index: 10000;
    top: 0px;
    right: calc(100vw - 30px);

    width: 100%;
    height: 103vh;
    height: inherit;

    transition: transform 1.2s ease;

    background: white;
    &:after {
      position: absolute;
      top: 0px;
      right: 0;

      width: 30px;
      height: 300vh;

      content: "";

      background: #a5b72f;
    }
  }

  .rotate_close {
    .sidebar__list_up::before,
    .sidebar__list_up::after {
      right: 0px;
    }
  }

  .sidebar_open {
    transform: translateX(100%) translateX(-30px);
  }

  .sidebar__input_desktop, .sidebar__desktop-content {
    display: none;
  }

  .sidebar__list {
    height: 100vh;
  }

  .sidebar__item {
    width: 100%;
    height: calc(100vh / 13);
    &:not(:last-child) {
      border-bottom: 1px solid #e4e3e3;
    }
  }

  .sidebar__link {
    position: relative;

    margin-left: 30px;

    text-align: left;
    text-decoration: none;

    color: black;

    font-size: 17px;
    &:before {
    position: absolute;
    top: 0px;
    left: -15px;

    content: url('../img/side-arrow.png');
    }
  }

  .sidebar__text {
    position: relative;
    top: 38%;

    padding-top: 2vh;

    transform: translateY(-50%);
  }
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
  .sidebar {
    position: absolute;
    z-index: 400000;
    top: 0;
    left: 0;

    display: block;

    width: 320px;
    height: 200%;

    transition: transform 1s;
    transform: translateX(-282px);

    background: white;
    &:after {
      position: absolute;
      z-index: 10000;
      top: -1px; right: 0px;

      width: 40px;
      height: 100%;

      content: "";

      background: $primary-color;
    }
  }

  .sidebar_open {
    transform: translateX(0);
  }

 .sidebar_fixed {
   position: fixed;
 }
 .sidebar_absolute {
   position: absolute;
 }

  .sidebar__list_up::before,
  .sidebar__list_up::after {
    right: 15px;
  }

  .rotate_close {
    .sidebar__list_up::before,
    .sidebar__list_up::after {
      right: 7px;
    }
  }

  .sidebar__item,
  .sidebar__input_desktop {
    margin-left: 40px !important;
  }
  .sidebar__desktop-content {
    display: none;
  }
}

@media (min-width:768px) {
  .sidebar__input_desktop {
    position: relative;

    width: 214px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;

    border: none;
    border-bottom: 1px solid $primary-color;
    &:focus {
      outline: none;
    }
    &::placeholder {
      font-size: 13px;
    }
  }

  .sidebar__input_desktop-wrapper {
    &:after {
      position: absolute;
      top: 22px;
      right: 58px;

      width: 20px;
      height: 20px;

      content: "";

      background: url("../img/desc_search.svg");
      background-size: cover;
    }
  }
  .sidebar__kamenolom {
    display: block;

    width: 178px;
    height: 162px;
    margin-top: 40px;
    margin-left: 0px;
  }

  .sidebar__profi {
    display: block;

    width: 128px;
    height: 112px;
    margin-left: 20px;
  }

  .sidebar__item {
    width: 214px;
    margin-left: 23px;
    padding-bottom: 12px;

    border-bottom: 1px solid #e4e3e3;
  }

  .sidebar__text {
    margin-left: 15px;
    padding-top: 12px;
  }

  .sidebar__text a {
    color: #5c3b2c;

    font-weight: bold;

    &:hover {
      color: red;
    }
  }

  .sidebar__link {
    position: relative;

    &:before {
      position: absolute;
      top: 0px;
      left: -18px;

      content: url('../img/side-arrow.png');
    }
  }

  .sidebar__button {
    position: relative;

    display: block;

    width: 252px;
    padding:12px 0;

    text-align: left;
    text-indent: 25px;

    color: white;
    border: 12px;
    background: #a5b82f;

    font-size: 16px;
    font-weight: 600;
    &:after {
      position: absolute;
      top: 0;
      right: -37px;

      content: " ";

      border: 22px solid transparent;
      border-left: 15px solid #a5b82f;
    }
  }

  .sidebar__button_1 {
    margin-top: 50px;
    margin-bottom: 15px;
  }

  .sidebar__list_down {
    margin-top: 30px;
  }
}

@media (min-width: 1000px) {
  .sidebar {
    z-index: 5000;

    transform: translateX(0px);
  }

  .sidebar {
    top: 423px;

    display: block;

    width: 286px;
    margin-right: 0;

    background: white;
  }
}
