/*Настройки слайдера */
.owl-nav button {
  margin-right: 0;
}

.owl-carousel .owl-dots .owl-dot span {
display: block;

width: 10px;
height: 10px;
margin-right: 10px;

border-radius: 50%;
background: #D6D6D6;
}

.owl-dots {
  display: flex;
  justify-content: center;
}

button .active{
  background: red;
}

.owl-carousel .owl-dots .owl-dot.active span,
.owl-carousel .owl-dots .owl-dot:hover span {
  background: red;
}

.owl-dot:hover {
  background: red;
}

.owl-dot:focus {
  border: none;
  outline: none;
}

.slider {
  width: 100%;
  margin-bottom: 50px;
}

.owl-carousel {
  .owl-item {
      width: 710px;
  }
}

.owl-next, .owl-prev {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .owl-carousel2 {
    .owl-stage {
      display: flex;
      align-items: center;

      height: 100px;
    }
  }

  .owl-carousel .owl-dots .owl-dot span {
    margin-right: 0;
  }

  .owl-carousel-news {
    .owl-stage-outer {
      width: 100%;
    }
    .owl-item {
      width: 100% !important;
    }
  }

  .owl-carousel .owl-dots {
    justify-content: space-between;

    width: 93%;
    margin-right: auto;
    margin-left: auto;
  }

  .owl-nav {
    display: none;
  }

  .owl-dots {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
    .owl-carousel .owl-item {
      width: 960px;
    }
    .owl-carousel .owl-nav {
      display: none;
    }

    .owl-carousel .owl-dots {
      justify-content: space-between;

      width: 70%;
      margin-top: 20px;
      margin-right: auto;
      margin-left: auto;
    }

    .owl-carousel .owl-item img {
      width: 960px;
    }
}

@media (min-width: 768px) {
  .owl-carousel2 {
    width: 200px;
    .owl-stage {
      display: flex;

      width: 500px;
    }
    .section__content {
      .owl-stage {
        width: 600px;
      }
    }

    button {
      margin-top: 25px;
      margin-right: 5px;
      margin-left: 0;
      padding-left: 0;

      border: none;
      background: white;
      &:focus {
        border: none;
        outline: none;
      }
    }

      .owl-item {
        width: 100px;
      }
  }

  .owl-carousel-news {
    button {
      margin-top: 25px;
      margin-right: 5px;
      margin-left: 0;
      padding-left: 0;

      border: none;
      background: white;
      &:focus {
        border: none;
        outline: none;
      }
      }
      .owl-stage {
        display: flex;
      }
      .owl-item {
        width: 100px;
      }
  }
}

@media (min-width: 1000px) {
  .owl-dots {
    margin-top: -20px !important;
  }
  .owl-nav {
    margin-top: 15px;
  }
}
