<table class="slide">
<tbody>
	<tr class="thead">
		<td align="center" class="group" colspan="2">Код <span class="table_word_hidden">услуги</span></td>
		<td align="center" class="group">Описание <span class="table_word_hidden">услуги</span></td>
		<td align="center" class="group">Стоимость</td>
	</tr>

	<tr class="start">
		<td align="center" class="group" colspan="4">Хирургия</td>
	</tr>
	<tr class="body">
		<td>20</td>
		<td>1</td>
		<td>Консультативный прием</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>20</td>
		<td>2</td>
		<td>Аноскопия</td>
		<td>700 руб.</td>
	</tr>
	<tr class="body">
		<td>20</td>
		<td>3</td>
		<td>Ректоскопия</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>20</td>
		<td>4</td>
		<td>Взятие мазка из прямой кишки на флору</td>
		<td>200 руб.</td>
	</tr>
	<tr class="body">
		<td>20</td>
		<td>5</td>
		<td>Биопсия полипа (опухоли, без цены гистологии)</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>20</td>
		<td>6</td>
		<td>Консервативное лечение воспалительных заболеванй прямой кишки</td>
		<td>2000 руб.</td>
	</tr>
	<tr class="body">
		<td>20</td>
		<td>7</td>
		<td>Консервативное лечение острой анальной трещины</td>
		<td>4000 руб.</td>
	</tr>
	<tr class="body">
		<td>20</td>
		<td>8</td>
		<td>Удаление полипа петлёй (местная анестезия)</td>
		<td>3000 руб.</td>
	</tr>
	<tr class="body">
		<td>20</td>
		<td>9</td>
		<td>Иссечение крупного полипа  (местная анестезия)</td>
		<td>5000 руб.</td>
	</tr>
	<tr class="body">
		<td>20</td>
		<td>10</td>
		<td>Иссечение кондилом (1 шт.) (местная анестезия)</td>
		<td>3500 руб.</td>
	</tr>
	<tr class="body">
		<td>20</td>
		<td>11</td>
		<td>Иссечение перианальных бахромок (1 шт.) (местная анестезия)</td>
		<td>4000 руб.</td>
	</tr>
	<tr class="body">
		<td>20</td>
		<td>12</td>
		<td>Иссечение анальной трещины (местная анестезия) </td>
		<td>12000 руб.</td>
	</tr>
	<tr class="body">
		<td>20</td>
		<td>13</td>
		<td>Иссечение интрасфинктерного свища (местная анестезия)</td>
		<td>10000 руб.</td>
	</tr>
	<tr class="body">
		<td>20</td>
		<td>14</td>
		<td>Вскрытие подкожного парапроктита (местная анестезия)</td>
		<td>6000 руб.</td>
	</tr>
	<tr class="body">
		<td>20</td>
		<td>15</td>
		<td>Тромбэктомия из геморроидального узла (местная анестезия) - удаление</td>
		<td>5000 руб.</td>
	</tr>
	<tr class="body">
		<td>20</td>
		<td>16</td>
		<td>Лигирование одного геморроидального узла (местная анестезия)</td>
		<td>5000 руб.</td>
	</tr>
	<tr class="body">
		<td>20</td>
		<td>16</td>
		<td>Лигирование одного геморроидального узла (местная анестезия)</td>
		<td>2000 руб.</td>
	</tr>
	<tr class="body">
		<td>20</td>
		<td>17</td>
		<td>Фимоз (у ребенка), обведение</td>
		<td>2500 руб.</td>
	</tr>
	<tr class="body">
		<td>20</td>
		<td>18</td>
		<td>Фимоз (у ребенка, с анестезией)</td>
		<td>3500 руб.</td>
	</tr>
	<tr class="body">
		<td>20</td>
		<td>19</td>
		<td>Фимоз (у ребенка, повтор), рассечение спаек</td>
		<td>800 руб.</td>
	</tr>
	<tr class="body">
		<td>20</td>
		<td>20</td>
		<td>Фимоз (у ребенка,с анестезией, повтор)</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>20</td>
		<td>21</td>
		<td>Вскрытие, дренирование эпителиальных копчиковых ходов </td>
		<td>2000 руб.</td>
	</tr>
	<tr class="body">
		<td>20</td>
		<td>22</td>
		<td>Иссечение эпителиальных копчиковых ходов</td>
		<td>4000 руб.</td>
	</tr>
	<tr class="body">
		<td>20</td>
		<td>23</td>
		<td>Иссечение эпителиальных копчиковых ходов II к/с (стационар)</td>
		<td>6500 руб.</td>
	</tr>
	<tr class="body">
		<td>20</td>
		<td>24</td>
		<td>Иссечение эпителиальных копчиковых ходов III к/с (стационар)</td>
		<td>8000 руб.</td>
	</tr>
	<tr class="body">
		<td>17</td>
		<td>10</td>
		<td>Массаж предстательной железы</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>1</td>
		<td>Проводниковая анестезия при хирургических вмешательствах</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>2</td>
		<td>Вскрытие абсцесса (без анестезии, с наложением асептической повязки)</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>3</td>
		<td>Вскрытие флегмоны (без анестезии, с наложением асептической повязки)</td>
		<td>1500 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>4</td>
		<td>Первая помощь при местных ожогах и обморожениях</td>
		<td>800 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>5.0</td>
		<td>Удаление хирургическим путём ногтевой пластинки</td>
		<td>1500 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>5.1</td>
		<td>Удаление вросшего ногтя радиоволновым методом (аппарат "Фотек")</td>
		<td>2000 руб.</td>
	</tr>
	<tr class="body">
		<td colspan="4"><b> Перевязки</b></td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>6.1</td>
		<td>Перевязка раны I кат.сложности</td>
		<td>250 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>6.2</td>
		<td>Перевязка  раны II кат.сложности</td>
		<td>350 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>6.3</td>
		<td>Перевязка  раны III кат.сложности</td>
		<td>450 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>6.4</td>
		<td>Перевязка раны IV кат.сложности</td>
		<td>550 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>6.5</td>
		<td>Перевязка раны V кат.сложности</td>
		<td>600 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>7</td>
		<td>Наложение швов</td>
		<td>600 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>8</td>
		<td>Швы - снятие</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td colspan="4"><b>Удаление образований кожи</b></td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>9</td>
		<td>Удаление новообразований кожи (папиломы, бородавки и пр.) - 1ед. (без цены гистолог.иссл-я и анестезии) I кат.сложности</td>
		<td>1500 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>9.1</td>
		<td>Удаление новообразований кожи (папиломы, бородавки и пр.) - 1ед. (без цены гистолог.иссл-я и анестезии) 2 кат.сложности</td>
		<td>2500 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>9.2</td>
		<td>Удаление новообразований кожи (папиломы, бородавки и пр.) - 1ед. (без цены гистолог.иссл-я и анестезии) 3 кат.сложности</td>
		<td>2500 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>9.3</td>
		<td>Удаление новообразований кожи (папиломы, бородавки и пр.) - 1ед. (без цены гистолог.иссл-я и анестезии) 4 кат.сложности</td>
		<td>2500 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>10</td>
		<td>Удаление бородавки подошвенной (крио)                              </td>
		<td>2500 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>10.1</td>
		<td>Удаление бородавки подошвенной (крио,химио, радиоволновой способ) без анестезии       1 категория сложности                        </td>
		<td>2500 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>10.2</td>
		<td>Удаление бородавки подошвенной (крио,химио, радиоволновой способ) без анестезии       2 категория сложности                        </td>
		<td>3000 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>10.3</td>
		<td>Удаление бородавки подошвенной (крио,химио, радиоволновой способ) без анестезии       3 категория сложности                        </td>
		<td>3500 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>11</td>
		<td>Удаление кондиломы (местная анестезия) </td>
		<td>2500 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>11.1</td>
		<td>Удаление контагиозного молюска</td>
		<td>800 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>12</td>
		<td>Удаление гигром кисти, стопы 1 категории сложности (местная анестезия)</td>
		<td>2000 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>13</td>
		<td>Удаление гигром кисти, стопы 2 категории сложности (местная анестезия)</td>
		<td>2500 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>14</td>
		<td>Удаление гигром кисти, стопы 3 категории сложности (местная анестезия)</td>
		<td>3500 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>15</td>
		<td>Пункция плевральной полости</td>
		<td>5000 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>16</td>
		<td>Пункция молочной железы  под контролем УЗИ</td>
		<td>3500 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>17</td>
		<td>Вскрытие мастита (местная анестезия)</td>
		<td>3500 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>18</td>
		<td>Вскрытие нагноившейся раны, с дренированием (местная анестезия)</td>
		<td>3500 руб.</td>
	</tr>
	<tr class="body">
		<td colspan="4"><b>Пункция суставов</b></td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>19</td>
		<td>Пункция коленного сустава с введением препарата</td>
		<td>1800 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>20</td>
		<td>Пункция локтевого сустава с введением препарата</td>
		<td>1200 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>21</td>
		<td>Блокада крупных суставов местноанестезирующая</td>
		<td>1500 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>22</td>
		<td>Блокада мелких суставов местноанестезирующая</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>23</td>
		<td>Блокада дугоотросчатых суставов позвоночника(ПВТ)</td>
		<td>2000 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>24</td>
		<td>Блокада сакральная</td>
		<td>2000 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>25</td>
		<td>Прокол ушей пистолетом Caflon (с сережками)</td>
		<td>600 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>26</td>
		<td>Подрезание короткой уздечки языка</td>
		<td>2000 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>27</td>
		<td>Удаление келлоидного рубца d  до 2-х см</td>
		<td>2500 руб.</td>
	</tr>
	<tr class="body">
		<td>6</td>
		<td>28</td>
		<td>Удаление келлоидного рубца d  более 2-х см</td>
		<td>4000 руб.</td>
	</tr>
	<tr class="start">
		<td align="center" class="group" colspan="4">Дерматовенерология</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>1.1</td>
		<td>Консультация перед удалением новообразований</td>
		<td>350 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>1.2</td>
		<td>Манипуляции при акне</td>
		<td>1500 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>1.3</td>
		<td>Манипуляции при нейродермитах</td>
		<td>1200 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>1.4</td>
		<td>Соскоб+ микроскопия кожи / ногтей</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>1.5</td>
		<td>Микроскопия кожи</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>1.6</td>
		<td>Микроскопия волос</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>2.1</td>
		<td>Назначение неспецефического противовоспалительного лечения</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>2.2</td>
		<td>Разработка индивидуальной схемы лечения неосложненного ЗППП</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>2.3</td>
		<td>Разработка индивидуальной схемы лечения осложненных инфекций ЗППП</td>
		<td>1500 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>2.4</td>
		<td>Разработка индивидуальной схемы лечения MIX ЗППП (2 инфекции)</td>
		<td>2000 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>2.5</td>
		<td>Разработка индивидуальной схемы лечения MIX ЗППП (3 инфекции) </td>
		<td>4000 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>2.6</td>
		<td>Разработка индивидуальной схемы лечения MIX ЗППП (4 инфекции)</td>
		<td>6000 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>2.7</td>
		<td>Разработка индивидуальной схемы лечения MIX ЗППП (5 инфекций)</td>
		<td>8000 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>3.1</td>
		<td>Курс лечения 1 ЗППП</td>
		<td>3000 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>3.2</td>
		<td>Курс лечения осложненного ЗППП</td>
		<td>4000 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>3.3</td>
		<td>Курс лечения MIX ЗППП (2 инфекции)</td>
		<td>6000 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>3.4</td>
		<td>Курс лечения MIX ЗППП (3 инфекции)</td>
		<td>7000 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>3.5</td>
		<td>Курс лечения MIX ЗППП (4 инфекции)</td>
		<td>8000 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>3.6</td>
		<td>Курс лечения MIX ЗППП (5 инфекций)</td>
		<td>10000 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>3.7</td>
		<td>Профилактика венерических заболеваний</td>
		<td>3000 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>4.1</td>
		<td>Криомассаж лица(лечение акне)</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>4.2 </td>
		<td>Криомассаж лица(эффект омоложения)</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>4.3</td>
		<td>Криомассаж спины</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>4.4</td>
		<td>Криомассаж лица 5 процедур</td>
		<td>2250 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>4.5</td>
		<td>Криомассаж лица10 процедур</td>
		<td>4000 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>4.6</td>
		<td>Криомассаж спины 5 процедур</td>
		<td>4750 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>4.7</td>
		<td>Криомассаж спины 10 процедур</td>
		<td>9000 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>4.8 </td>
		<td>Анестезия</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>5.1</td>
		<td>Консультация + 5 крио(лицо)+2 дераматоскопии+назначения</td>
		<td>3000 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>5.2</td>
		<td>Консультация + 10 крио(лицо)+2 дераматоскопии+назначения</td>
		<td>5000 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>6.1</td>
		<td>Аугментация зоны G</td>
		<td>25000 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>6.2</td>
		<td>Контурная пластика 1 зоны</td>
		<td>25000 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>6.3</td>
		<td>Контурная пластика 2 зоны</td>
		<td>40000 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>6.4</td>
		<td>Контурная пластика 3 зоны</td>
		<td>60000 руб.</td>
	</tr>
	<tr class="body">
		<td>22</td>
		<td>6.5</td>
		<td>Аугментация зоны G и пластика клитора</td>
		<td>30000 руб.</td>
	</tr>
	<tr class="body">
		<td>9</td>
		<td>52</td>
		<td>Мезотерапия 1 зона</td>
		<td>1500 руб.</td>
	</tr>
	<tr class="start">
		<td align="center" class="group" colspan="4">Медицинский осмотр</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>1</td>
		<td>Осмотр врачом-специалистом</td>
		<td></td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>1.1</td>
		<td>Осмотр врачом-терапевтом</td>
		<td>90 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>1.2</td>
		<td>Осмотр врачом-стоматолог</td>
		<td>70 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>1.3</td>
		<td>Осмотр врачом-дерматологом</td>
		<td>70 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>1.4</td>
		<td>Осмотр врачом-оториноларингологом</td>
		<td>70 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>1.5</td>
		<td>Осмотр врачом- гинекологом</td>
		<td>90 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>1.6</td>
		<td>Осмотр врачом- психиатром</td>
		<td>70 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>1.7</td>
		<td>Освидетельствование врачом- психиатром</td>
		<td>200 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>1.8</td>
		<td>Осмотр врачом- наркологом</td>
		<td>70 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>1.9</td>
		<td>Освидетельствование врачом- наркологом</td>
		<td>200 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>1.10</td>
		<td>Осмотр врачом-хирургом</td>
		<td>70 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>1.11</td>
		<td>Осмотр врачом-окулистом</td>
		<td>70 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>1.12</td>
		<td>Осмотр врачом-неврологом</td>
		<td>70 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>2</td>
		<td>ЭКГ</td>
		<td>90 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>2.1</td>
		<td>Острота зрения</td>
		<td>10 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>2.2</td>
		<td>Поля зрения</td>
		<td>10 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>2.3</td>
		<td>Реовазография сосудов конечностей</td>
		<td>10 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>2.4</td>
		<td>ФГДС</td>
		<td>1100 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>2.5</td>
		<td>Цветоощущение</td>
		<td>30 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>2.6</td>
		<td>Биомикроскопия сред глаз</td>
		<td>30 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>2.7</td>
		<td>Офтальмоскопия глазного дна</td>
		<td>30 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>2.8</td>
		<td>Рост, вес</td>
		<td>10 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>2.9</td>
		<td>Группа крови, резус фактор</td>
		<td>300 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>3</td>
		<td>УЗИ молочной железы (старше 40 лет)</td>
		<td>300 руб.</td>
	</tr>
	<tr class="body">
		<td colspan="4"><b>Пробы</b></td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>4.1</td>
		<td>Мазок на патогенные  энтеробактерии</td>
		<td>300 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>4.2</td>
		<td>Мазок на флору</td>
		<td>50 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>4.3</td>
		<td>Глюкоза крови</td>
		<td>60 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>4.4</td>
		<td>Холестерин</td>
		<td>60 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>4.5</td>
		<td>ОАК</td>
		<td>90 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>4.6</td>
		<td>ОАМ</td>
		<td>60 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>4.7</td>
		<td>Холодовая проба</td>
		<td>50 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>4.8</td>
		<td>Вибрационная проба</td>
		<td>50 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>4.9</td>
		<td>Динамометрия</td>
		<td>50 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>4.10</td>
		<td>Спирометрия</td>
		<td>50 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>4.11</td>
		<td>Вестибулярная проба</td>
		<td>50 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>4.12</td>
		<td>Аудиограмма</td>
		<td>90 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>4.13</td>
		<td>Вакцинация- корь</td>
		<td>1000 руб</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>4.14</td>
		<td>Вакцинация Д АДС- М</td>
		<td>75 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>4.15</td>
		<td>Мазок на АК</td>
		<td>150 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>4.16</td>
		<td>Мазок на Золотистый стафилококк</td>
		<td>300 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>4.17</td>
		<td>Кал на яйца гельминтов</td>
		<td>300 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>4.18</td>
		<td>Серологическая реакция на брюшной тиф</td>
		<td>170 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>5.1</td>
		<td>Микрореакция ОРС</td>
		<td>160 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>5.2</td>
		<td>Флюорография (крупнокадровая) </td>
		<td>220 руб.</td>
	</tr>
	<!--tr class="body">
		<td>19</td>
		<td>5.3</td>
		<td>Оформление ЛМК</td>
		<td>400 руб.</td>
	</tr-->
	<tr class="body">
		<td>19</td>
		<td>5.4</td>
		<td>Заключение профпатолога</td>
		<td>80 руб.</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>6</td>
		<td>Экспресс диагностика наркотических веществ в моче</td>
		<td>1000 руб</td>
	</tr>
	<tr class="body">
		<td>30</td>
		<td>1</td>
		<td>Рентген пазух носа</td>
		<td>550 руб</td>
	</tr>
	<tr class="body">
		<td>30</td>
		<td>1.1</td>
		<td>Рентген пазух носа ( без описания)</td>
		<td>220 руб</td>
	</tr>
	<tr class="body">
		<td>19</td>
		<td>5.2</td>
		<td>Флюорография (крупнокадровая) </td>
		<td>220 руб</td>
	</tr>
	<tr class="start">
		<td align="center" class="group" colspan="4">Гинекология - амбулатория</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>1</td>
		<td>Осмотр гинеколога</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>1.1</td>
		<td>Осмотр ребенка врачом-гинекологом</td>
		<td>700 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>2</td>
		<td>Осмотр перед оперативным вмешательством</td>
		<td>650 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>3</td>
		<td>Интерпертация анализов</td>
		<td>300 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>4</td>
		<td>Взятие мазков во время осмотра</td>
		<td>120 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>5</td>
		<td>Прицельная биопсия  конхотомом</td>
		<td>600 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>6</td>
		<td>Мини-аборт (медикаментозно)- два УЗИ, психолог</td>
		<td>11000 руб.</td>
	</tr>
	<tr class="body">
		<td colspan="4"><b>Дневной стационар</b></td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>9.1</td>
		<td>Криодеструкция шейки матки</td>
		<td>4000 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>9.2</td>
		<td>Пайпель биопсия</td>
		<td>2000 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>12</td>
		<td>Лечение шейки матки радиоволновым методом (аппарат «Фотэк») I категория</td>
		<td>3000 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>12.1</td>
		<td>Лечение шейки матки радиоволновым методом (аппарат «Фотэк») II категория</td>
		<td>5000 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>13</td>
		<td>Биопсия шейки матки радиоволновным скальпелем аппарат «Фотэк»</td>
		<td>1800 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>14</td>
		<td>Удаление остроконечных кондилом радиоволновым скальпелем (аппарат «Фотэк») до 2 см.кв</td>
		<td>2500 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>15</td>
		<td>Удаление остроконечных кондилом радиоволновым скальпелем (аппарат «Фотэк») до 4 см.кв</td>
		<td>4000 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>16</td>
		<td>Удаление кисты шейки матки Д 1киста (аппарат «Фотэк»)</td>
		<td>1800 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>17</td>
		<td>Расширенная кольпоскопия</td>
		<td>1500 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>18</td>
		<td>Кольпоцитология</td>
		<td>150 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>19</td>
		<td>Кольпоцитология, мазок из «C», «V»</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>20</td>
		<td>Инъекции лекарственных средств «Золадекс», Диферелин-депо»</td>
		<td>600 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>21</td>
		<td>Влагалищные ванночки (тампоны)</td>
		<td>300 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>23</td>
		<td>Гинекологический массаж</td>
		<td>300 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>25</td>
		<td>Послеоперационные обработки и манипуляции</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>25.1</td>
		<td>Инстиляция влагалища</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>25.2</td>
		<td>Введение свечей-палочек девочкам(препарат центра)</td>
		<td>150 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>25.3</td>
		<td>Введение свечей-палочек девочкам(препарат свой)</td>
		<td>100 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>26</td>
		<td>Извлечение ВМС</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>27</td>
		<td>Введение  ВМС (без стоимости ВМС)</td>
		<td>1500 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>28</td>
		<td>Обработка эрозии шейки матки «Солковагином» (с препаратом клиники)</td>
		<td>1600 руб.</td>
	</tr>
	<tr class="body">
		<td>16</td>
		<td>29</td>
		<td>Удаление кисты бартолиновой железы</td>
		<td>3000 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>30</td>
		<td>Пластика послеродовых разрывов</td>
		<td>15000 руб.</td>
	</tr>
	<tr class="body">
		<td>16</td>
		<td>30</td>
		<td>Наложение шва на шейку матки</td>
		<td>3000 руб.</td>
	</tr>
	<tr class="body">
		<td>16</td>
		<td>31</td>
		<td>Операция TVT при недержании мочи</td>
		<td>30000 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>31.1</td>
		<td>Разъединение синехий до 1см</td>
		<td>350 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>31.2</td>
		<td>Разъединение синехий до 2см</td>
		<td>700 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>31.3</td>
		<td>Разъединение синехий до 3 см</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>47</td>
		<td>Диспансерное наблюдение женщины, имеющей хроническое гинекологическое заболевание</td>
		<td>15800 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>49</td>
		<td>Программа диспансеризации женщин с патологией шейки матки</td>
		<td>8000 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>53</td>
		<td>Вакцинация от рака шейки матки ("Гардаксил")</td>
		<td>15000 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>54</td>
		<td>Введение влагалищного пессария</td>
		<td>700 руб.</td>
	</tr>
	<tr class="body">
		<td>15</td>
		<td>55</td>
		<td>Удаление влагалищного пессария</td>
		<td>700 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>9</td>
		<td>Забор материала на флору</td>
		<td>150 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>10</td>
		<td>Забор материала на цитологию</td>
		<td>150 руб.</td>
	</tr>
	<tr class="start">
		<td align="center" class="group" colspan="4">Оториноларингология</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>1</td>
		<td>Анемизация слизистой полости носа (установка ватников, капли сложные)</td>
		<td>150 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>2</td>
		<td>Блокада боковых валиков глотки</td>
		<td>350 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>3</td>
		<td>Заушная блокада</td>
		<td>350 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>4</td>
		<td>Массаж ушной пневматический (воронкой Зигля) Д 1 сторона</td>
		<td>250 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>5</td>
		<td>Метод перемещений лекарств с элементами "носового душа"</td>
		<td>600 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>5.1</td>
		<td>Метод перемещений лекарств с элементами "носового душа" (детям до 2-х лет)</td>
		<td>350 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>5.2</td>
		<td>Метод перемещений лекарств с элементами "носового душа" (детям до 2-х лет) до 10 минут</td>
		<td>450 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>5.3</td>
		<td>Метод перемещений лекарств с элементами "носового душа" (детям до 2-х лет) свыше 10 минут</td>
		<td>600 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>6</td>
		<td>Склерозирование нижней носовой раковины (1 позиция)</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>7</td>
		<td>Промывание ручное средного уха (1 позиция )</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>8</td>
		<td>Туалет уха при мезотимпаните, остром отите</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>9</td>
		<td>Обработка (смазывание) слизистой ротоглотки лекарственными средствами</td>
		<td>200 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>10</td>
		<td>Вливание лекарств в гортань (шприц)</td>
		<td>450 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>11</td>
		<td>Удаление инородного тела уха, носа</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>11.1</td>
		<td>Пункция пазухи с установкой катетера</td>
		<td>1600 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>12</td>
		<td>Удаление инородного тела глотки I категории</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>12.1</td>
		<td>Удаление инородного тела глотки II категории</td>
		<td>750 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>12.2</td>
		<td>Удаление инородного тела глотки III категории</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>13</td>
		<td>Пункция верхнечелюстной пазухи</td>
		<td>1250 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>13.1</td>
		<td>Дренирование верхнечелюстной пазухи</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>13.2</td>
		<td>Промывание  верхнечелюстной пазухи через соустье</td>
		<td>1500 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>14</td>
		<td>Хирургическое лечение паратонзиллярного абцесса (вскрытие)</td>
		<td>2000 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>15</td>
		<td>Обработка язычной миндалины (аргентизация)</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>16</td>
		<td>Взятие мазков из носа и нёбных миндалин</td>
		<td>150 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>17</td>
		<td>Вскрытие кист миндалин</td>
		<td>700 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>18</td>
		<td>Туалет уха при полипе уха</td>
		<td>650 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>19</td>
		<td>Метод перемещений лекарственных средств при лечении риносинуситов по Проетцу</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>19.1</td>
		<td>Аппликация медикаментов аппаратом Тонзилор(импрегнация медикаментов)</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>20</td>
		<td>Прижигание полипов уха</td>
		<td>700 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>21</td>
		<td>Вскрытие фурункулов слухового прохода (без анестезии)</td>
		<td>1200 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>22</td>
		<td>Исследование слуха речью и камертоном</td>
		<td>300 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>23</td>
		<td>Исследование функций вестибулярного аппарата</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>24</td>
		<td>Склерозирование сосудов перегородки носа (Фотек)</td>
		<td>850 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>25</td>
		<td>Продувание слуховых труб</td>
		<td>300 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>26</td>
		<td>Удаление серных пробок</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>27</td>
		<td>Вибромассаж барабанных перепонок (1 мин)</td>
		<td>30 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>28</td>
		<td>Парацентез  барабанной перепонки</td>
		<td>3000 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>28.1</td>
		<td>Катетеризация слуховой трубы</td>
		<td>1100 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>29</td>
		<td>Вскрытие гематомы, абсцесса, кисты,  фурункула, атеромы ЛОР органов</td>
		<td>4000 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>30</td>
		<td>Биопсия опухоли гортани  с местной анестезией  (без гистологии)</td>
		<td>3000 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>31</td>
		<td>Биопсия опухоли глотки с местной анестезией (без гистологии)</td>
		<td>2000 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>32</td>
		<td>Прочие операции на глотке, компресс</td>
		<td>700 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>33</td>
		<td>Гипофарингоскопия, удаление инородного тела из гортаноглотки</td>
		<td>2000 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>34</td>
		<td>Вскрытие фурункула, карбункула носа</td>
		<td>2000 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>35</td>
		<td>Лазерокриодеструкция, ультразвуковая дезинтеграция, диатермокоагуляция нижних носовых раковин с местной анестезией</td>
		<td>3800 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>35.1</td>
		<td>Лазерокриодеструкция, ультразвуковая дезинтеграция, диатермокоагуляция образований глотки с местной анестезией</td>
		<td>4500 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>36</td>
		<td>Лечение аппаратом «Фотэк»</td>
		<td>3500 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>37</td>
		<td>Обработка образований носа аппаратом «Фотэк»</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>38</td>
		<td>Удаление образований полости рта, миндалин аппаратом «Фотэк»</td>
		<td>2000 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>39</td>
		<td>Носовые кровотечения Д передняя тампонада, туширование сосуда прижигающими средствами, коагуляция сосуда</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>40</td>
		<td>Носовые кровотечения Д задняя тампонада</td>
		<td>4000 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>41</td>
		<td>Полипотомия носа I категория</td>
		<td>2000 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>42</td>
		<td>Полипотомия носа II категория</td>
		<td>3000 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>43</td>
		<td>Полипотомия носа III категория</td>
		<td>4000 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>44</td>
		<td>Полипотомия носа IV категория</td>
		<td>5000 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>45</td>
		<td>Введение лекарственных препаратов на турундах</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>46</td>
		<td>Промывание лакун нёбных миндалин (ручным способом)</td>
		<td>800 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>47</td>
		<td>Промывание лакун небных миндалин (аппаратный способ) Д 1процедура</td>
		<td>700 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>48</td>
		<td>Оперативное вмешательство по поводу синехий в полости носа с местной анестезией (1 ед)</td>
		<td>3500 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>50</td>
		<td>Назофарингеальное промывание («носовой душ»)</td>
		<td>600 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>51.1</td>
		<td>Аденотомия(1 категория)</td>
		<td>18000 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>51.2</td>
		<td>Аденотомия(2 категория)</td>
		<td>20000 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>51.3</td>
		<td>Аденотомия (3 категория)</td>
		<td>25000 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>62</td>
		<td>Один день курсового лечения (ЛОР-пациента)</td>
		<td>1100 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>63</td>
		<td>Удаление доброкачественной папилломы  небной миндалины (без гистологии)</td>
		<td>3000 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>64.1</td>
		<td>Беспункционный метод лечения риносинуситов «Ямик-системой», первичная манипуляция</td>
		<td>2500 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>64.2</td>
		<td>Беспункционный метод лечения риносинуситов «Ямик-системой», повторная манипуляция</td>
		<td>1200 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>65</td>
		<td>Увулотомия методом радиоволновой хирургии (Фотек)</td>
		<td>10000 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>66</td>
		<td>Обработка полости рта</td>
		<td>200 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>67</td>
		<td>Гомотоксикология по точкам Д 1 сеанс (без стоимости препарата)</td>
		<td>600 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>68</td>
		<td>Эндовидеоскопия носа и носоглотки</td>
		<td>800 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>68.1</td>
		<td>Эндовидеоскопия носа и носоглотки с видеофиксацией(флеш-носитель пациента)</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>69</td>
		<td>Эндовидеоскопия наружного слухового прохода </td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>69.1</td>
		<td>Эндовидеоскопия наружного слухового прохода с видеофиксацией(флеш-носитель пациента) </td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>70</td>
		<td>Аргентизация слизистой полости носа</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>71</td>
		<td>Аргентизация слизистой ротовой полости</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>14</td>
		<td>72</td>
		<td>Аудиограмма</td>
		<td>300 руб.</td>
	</tr>
	<tr class="start">
		<td align="center" class="group" colspan="4">Ультразвуковая  диагностика</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>1</td>
		<td>УЗИ селезенки</td>
		<td>170 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>2 </td>
		<td>УЗИ выявление свободной жидкости в брюшной полости</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>7</td>
		<td>УЗИ почек</td>
		<td>600 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>8</td>
		<td>УЗИ мочеточников</td>
		<td>170 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>9</td>
		<td>Комплексное обследование мочевыделительной системы(почки, мочеточники, мочевой пузырь с определением остаточной мочи)</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>9.1</td>
		<td>Комплексное обследование мочевыделительной системы(почки, мочеточники,предстательная железа, мочевой пузырь с определением остаточной мочи)</td>
		<td>1400 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>10</td>
		<td>УЗИ семенных пузырьков</td>
		<td>110 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>11</td>
		<td>Допплерометрия сосудов мошонки</td>
		<td>550 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>12</td>
		<td>УЗИ печени</td>
		<td>350 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>13</td>
		<td>УЗИ желчного пузыря с нагрузкой (при комплексном обследовании органов брюшной полости)</td>
		<td>300 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>14</td>
		<td>УЗИ поджелудочной железы</td>
		<td>350 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>15</td>
		<td>УЗИ селезенки</td>
		<td>170 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>16</td>
		<td>УЗИ вен нижних конечностей</td>
		<td>1100 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>17</td>
		<td>УЗИ вен верхних конечностей</td>
		<td>1100 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>18</td>
		<td>УЗИ артерий нижних конечностей</td>
		<td>1350 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>19</td>
		<td>УЗИ артерий верхних конечностей</td>
		<td>1100 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>20</td>
		<td>УЗИ молочной железы</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>21</td>
		<td>УЗИ подмышечных лимфоузлов</td>
		<td>170 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>22</td>
		<td>УЗИ надключичных лимфоузлов</td>
		<td>170 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>23</td>
		<td>УЗИ подключичных лимфоузлов</td>
		<td>170 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>24</td>
		<td>Комплексное обследование-3 позиции
(молочные железы+2 области лимфоузлов)</td>
		<td>800 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>25</td>
		<td>Комплексное обследование-4 позиции
(молочные железы+3 области лимфоузлов)</td>
		<td>720 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>28</td>
		<td>УЗИ коленного сустава</td>
		<td>550 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>29</td>
		<td>УЗИ тазобедренного сустава</td>
		<td>600 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>29.1</td>
		<td>УЗИ тазобедренного сустава у детей от 1-3 лет </td>
		<td>550 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>30</td>
		<td>УЗИ придаточных пазух носа</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>31</td>
		<td>УЗИ околоушных желез</td>
		<td>550 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>32</td>
		<td>УЗИ орбит глаз</td>
		<td>550 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>33</td>
		<td>Трипплексное исследование сосудов орбит глаз</td>
		<td>660 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>34</td>
		<td>УЗИ голеностопного сустава</td>
		<td>550 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>35</td>
		<td>УЗИ ахиллового сухожилия</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>36</td>
		<td>УЗИ  мягких тканей</td>
		<td>450 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>37</td>
		<td>УЗИ мышц (1 единица)</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>38</td>
		<td>УЗИ желчного пузыря</td>
		<td>350 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>39</td>
		<td>УЗИ желчного пузыря с определением функции</td>
		<td>450 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>40</td>
		<td>УЗИ печени (с допплерографией сосудов)</td>
		<td>450 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>41</td>
		<td>УЗИ органов брюшной полости (печень, поджелудочная железа, желчный пузырь, селезенка)</td>
		<td>1100 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>41.1</td>
		<td>Компелексное УЗИ органов брюшной полости с определением функции желчного пузыря(печень,желчный пузырь,поджелудочная железа, селезенка</td>
		<td>1400 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>42</td>
		<td>Обзорное УЗИ органов брюшной полости (для пациентов в стационаре)</td>
		<td>300 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>43</td>
		<td>УЗИ предстательной железы (трансабдоминально)</td>
		<td>660 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>44</td>
		<td>УЗИ почек (с допплерографией сосудов)</td>
		<td>1250 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>45</td>
		<td>УЗИ предстательной железы (трансректально)</td>
		<td>850 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>46</td>
		<td>УЗИ предстательной железы (с допплерографией сосудов)</td>
		<td>950 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>47</td>
		<td>УЗИ мочевого пузыря с определением остаточной мочи</td>
		<td>300 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>47.1</td>
		<td>УЗИ предстательной железы и мочевого пузыря с определением остаточной мочи(абдоминальрный датчик)</td>
		<td>900 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>48</td>
		<td>УЗИ органов мошонки</td>
		<td>550 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>49</td>
		<td>УЗИ органов мошонки (с допплерографией сосудов)</td>
		<td>700 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>50</td>
		<td>УЗДГ сосудов полового члена при эректильной   дисфункции</td>
		<td>1650 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>51</td>
		<td>УЗИ органов малого таза (трансабдоминально)</td>
		<td>700 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>52</td>
		<td>УЗИ органов малого таза (трансвагинально)</td>
		<td>1300 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>53</td>
		<td>УЗИ органов малого таза (с допплерографией сосудов)</td>
		<td>1400 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>54</td>
		<td>УЗ фолликулометрия</td>
		<td>450 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>55</td>
		<td>УЗИ до 10 недель беременности</td>
		<td>660 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>55.1</td>
		<td>УЗИ в 1 триместре беременности до 12 недель(абдоминально)</td>
		<td>700 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>55.2</td>
		<td>УЗИ в 1 триместре беременности до 12 недель(трансвагинально)</td>
		<td>800 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>56</td>
		<td>УЗИ в 10-14 недель беременности</td>
		<td>850 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>57</td>
		<td>УЗИ во II триместре беременности (20-24 недели)</td>
		<td>950 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>58</td>
		<td>УЗИ в III триместре беременности (30-34 недели)</td>
		<td>950 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>59</td>
		<td>УЗИ при многоплодной беременности II-III триместр</td>
		<td>1100 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>60</td>
		<td>УЗДГ маточно-плацентарно-плодового кровотока</td>
		<td>660 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>61</td>
		<td>УЗИ щитовидной железы (с допплерографией сосудов)</td>
		<td>700 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>62</td>
		<td>УЗИ паховых лимфатических узлов</td>
		<td>170 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>63</td>
		<td>УЗИ во II триместре беременности с УЗДГ маточно-плацентарно-плодового кровотока</td>
		<td>1550 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>64</td>
		<td>УЗИ в III триместре беременности с УЗДГ маточно-плацентарно-плодового кровотока</td>
		<td>1550 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>65</td>
		<td>Триплексное сканирование интракраниального отдела брахиоцефальных артерий</td>
		<td>1350 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>66</td>
		<td>Триплексное сканирование экстракраниального отдела брахиоцефальных артерий</td>
		<td>1100 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>67</td>
		<td>Пункционная биопсия объемных образований щитовидной железы под контролем УЗ</td>
		<td>660 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>68</td>
		<td>Пункционная биопсия объемных образований молочной железы под контролем УЗ</td>
		<td>660 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>69</td>
		<td>Пункционная биопсия объемных образований предстательной железы под контролем УЗ</td>
		<td>660 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>70</td>
		<td>Пункционная биопсия объемных образований яичников  под контролем УЗ</td>
		<td>660 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>71</td>
		<td>Запись исследования на электронные носители </td>
		<td>660 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>72</td>
		<td>УЗИ надпочечников</td>
		<td>300 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>73</td>
		<td>УЗИ шейных лимфатических узлов </td>
		<td>170 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>74</td>
		<td>УЗИ лимфатических узлов забрюшинного пространства</td>
		<td>170 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>75</td>
		<td>УЗИ подколенных  лимфатических узлов </td>
		<td>170 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>76</td>
		<td>УЗИ сердца (взрослого)</td>
		<td>1100 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>77</td>
		<td>УЗИ сердца (ребёнка)</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>78</td>
		<td>УЗИ плечевого сустава</td>
		<td>550 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>79</td>
		<td>УЗИ вилочковой железы</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>80</td>
		<td>НСГ (электросонограмма с допплерографией сосудов)</td>
		<td>600 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>80.1</td>
		<td>НСГ (электросонограмма) транскраниально </td>
		<td>650 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>81</td>
		<td>Комплексное исследование детей до 1 года (НСГ, сердце, почки, брюшная полость, тазобедренные суставы)</td>
		<td>2200 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>82</td>
		<td>УЗИ брюшного отдела аорты и ее ветвей</td>
		<td>1100 руб.</td>
	</tr>
	<tr class="body">
		<td>13</td>
		<td>83</td>
		<td>УЗИ шейного отдела позвоночника</td>
		<td>660 руб.</td>
	</tr>
	<tr class="start">
		<td align="center" class="group" colspan="4">Занятие с логопедом</td>
	</tr>
	<tr class="body">
		<td>12</td>
		<td>0</td>
		<td>Первичный прием логопеда и тестирование</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>12</td>
		<td>1</td>
		<td>Занятие с логопедом (легкая степень речевого нарушения) Д 30 мин.</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>12</td>
		<td>2</td>
		<td>Занятие с логопедом (средняя степень речевого нарушения) Д 30 мин.</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>12</td>
		<td>3</td>
		<td>Занятие с логопедом (тяжелая степень речевого нарушения) Д 30 мин.</td>
		<td>650 руб.</td>
	</tr>
	<tr class="start">
		<td align="center" class="group" colspan="4"> Физиотерапия</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>1</td>
		<td>Биопротон  (до5 мин.)</td>
		<td>70 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>2</td>
		<td>Биопротон  (более 5 мин.)</td>
		<td>100 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>3</td>
		<td>Парафиновые аппликации (1 единица)</td>
		<td>500 руб.</td>
	</tr>
	<!--tr class="body">
		<td>11</td>
		<td>6</td>
		<td>Сеанс гирудотерапии (1 единица)</td>
		<td>400 руб.</td>
	</tr-->
	<tr class="body">
		<td>11</td>
		<td>7</td>
		<td>Паравертебральная блокада</td>
		<td>700 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>7.1</td>
		<td>Блокада седалищного нерва</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>7.2</td>
		<td>Лечебно-диагностическая блокада</td>
		<td>1500 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>8.0</td>
		<td>Тейпирование I кат. Сложности</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>8.1</td>
		<td>Тейпирование II кат. Сложности</td>
		<td>700 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>8.2</td>
		<td>Тейпирование III кат. Сложности</td>
		<td>800 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>9.0</td>
		<td>Сегментарное и пароартекулярное введение лекарственных средств I категории</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>9.1</td>
		<td>Сегментарное и пароартекулярное введение лекарственных средств II категории</td>
		<td>800 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>9.2</td>
		<td>Сегментарное и пароартекулярное введение лекарственных средств III категории</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>10</td>
		<td>КУФ эндоназально (1 сеанс)</td>
		<td>120 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>10.1</td>
		<td>УФО полями (1 поле)</td>
		<td>100 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>11</td>
		<td>КУФ глотки, уха ,носа (1 сеанс)</td>
		<td>120 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>12</td>
		<td>Лазер и магнит (Витязь)

	</td>
		<td>250 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>13</td>
		<td>Ультразвуковая терапия (1 сеанс) ("Ретон")</td>
		<td>250 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>13.1</td>
		<td>Аренда аппарата «Ретон»</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>14</td>
		<td>Электрофорез с препаратом (1 сеанс)</td>
		<td>320 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>14.1</td>
		<td>Электрофорез 3 электродами</td>
		<td>450 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>15</td>
		<td>УВЧ</td>
		<td>350 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>18</td>
		<td>Магнит «Алмаг» (10 мин.)</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>18.1</td>
		<td>Магнитотерапия на аппарате «Амо-Атос» (5 мин) (транстемпоральная)</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>19</td>
		<td>ДЙАрсонваль (1 сеанс)</td>
		<td>250 руб.</td>
	</tr>
	<tr class="body">
		<td colspan="4"><b>Ингаляции</b></td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>20</td>
		<td>Ингаляция через небулайзер </td>
		<td>150 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>20.1</td>
		<td>Ингаляция через небулайзер с флуимуцилом</td>
		<td>220 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>20.2</td>
		<td>Ингаляция через небулайзер с лазолваном</td>
		<td>200 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>20.3</td>
		<td>Ингаляция через небулайзер с лазолваном и беродуалом</td>
		<td>180 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>20.4</td>
		<td>Ингаляция через небулайзер с пульмикортом</td>
		<td>220 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>20.5</td>
		<td>Ингаляция через небулайзер с флуимуцилом антибиотиком</td>
		<td>250 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>20.6</td>
		<td>Ингаляция через небулайзер с Задитеном</td>
		<td>170 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>20.7</td>
		<td>Ингаляция через небулайзер с кромо СТ</td>
		<td>170 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>20.8</td>
		<td>Ингаляция с вентолином</td>
		<td>200 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>21</td>
		<td>Ингаляция Д теплая</td>
		<td>200 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>22</td>
		<td>Солевая ингаляция на аппарате «Галонеб»(10 мин)</td>
		<td>300 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>23</td>
		<td>«Мавит» до 30 минут</td>
		<td>350 руб.</td>
	</tr>
	<tr class="body">
		<td colspan="4"><b>Массаж лечебный</b></td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>28</td>
		<td>Массаж взрослому (1 зона )</td>
		<td>350 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>29</td>
		<td>Массаж перкуссионный ребенку</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>29.1</td>
		<td>Массаж перкуссионный взрослому</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>30</td>
		<td>Массаж баночный ребенку</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>30.1</td>
		<td>Массаж баночный взрослому</td>
		<td>600 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>31</td>
		<td>Лечебный массаж ребенку (от 0 лет до 1 года)</td>
		<td>600 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>32</td>
		<td>Лечебный массаж ребенку (от 1 года до 10 лет)</td>
		<td>800 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>33</td>
		<td>Массаж общий</td>
		<td>1300 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>34</td>
		<td>Перкуссионный баночный массаж</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>34.1</td>
		<td>Массаж I категория сложности (1 грудь)</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>34.2</td>
		<td> Массаж II категория сложности (1 грудь)</td>
		<td>700 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>34.3</td>
		<td>Массаж III категория сложности (1 грудь)</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td colspan="4"><b>Программа ФТЛ</b></td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>35</td>
		<td>Массаж детский (от 0 до 5 лет)</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>36</td>
		<td>Массаж детский (от 6 до 14 лет)</td>
		<td>700 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>37</td>
		<td>Антицеллюлитный массаж (общий)</td>
		<td>2500 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>37.1</td>
		<td>Антицеллюлитный массаж (живот)</td>
		<td>800 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>38</td>
		<td>Вакуумный массаж (общий)</td>
		<td>1800 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>38.1</td>
		<td>Вакуумный массаж 1 зона</td>
		<td>450 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>39</td>
		<td>Массаж лица</td>
		<td>450 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>39.1</td>
		<td>Массаж головы</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>39.2</td>
		<td>Массаж шеи</td>
		<td>550 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>40</td>
		<td>Массаж спины (от 7 шейного до 1 поясничного позвонка)</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>40.1</td>
		<td>Массаж спины (от 7 шейного до основания крестца)</td>
		<td>750 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>41</td>
		<td>Массаж нижней конечности </td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>41.1</td>
		<td>Массаж нижней конечности и поясницы</td>
		<td>700 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>41.2</td>
		<td>Массаж тазобедренного сустава и ягодичной области</td>
		<td>700 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>42</td>
		<td>Массаж коленного сустава</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>42.1</td>
		<td>Массаж голеностопного сустава</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>42.2</td>
		<td>Массаж голени и стоп (детский до 10 лет)</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>42.3</td>
		<td>Массаж голени и стоп (старше 10 лет)</td>
		<td>700 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>44</td>
		<td>Массаж воротниковой зоны</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>45</td>
		<td>Массаж верхней конечности</td>
		<td>600 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>46</td>
		<td>Массаж верхней конечности с захватом лопатки</td>
		<td>700 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>47</td>
		<td>Массаж плечевого сустава</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>48</td>
		<td>Массаж локтевого сустава</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>49</td>
		<td>Сегментарный массаж шейно-грудного отдела</td>
		<td>800 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>50</td>
		<td>Сеанс кислородотерапии (200г)</td>
		<td>280 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>51</td>
		<td>Сеанс кислородотерапии с добавками (200г)</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>52</td>
		<td>Фито- лечение (200 мл)</td>
		<td>200 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>53</td>
		<td>Остеопатическая процедура</td>
		<td>950 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>54</td>
		<td>Иглорефлексотерапия</td>
		<td>800 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>54.1</td>
		<td>Су-Джок иглотерапия 1 процедура</td>
		<td>800 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>55</td>
		<td>Скэнар-терапия</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>56</td>
		<td>Аурикорефлексотерапия</td>
		<td>800 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>57.1</td>
		<td>Сеанс СПА терапии (30 минут)</td>
		<td>300 руб.</td>
	</tr>
	<tr class="body">
		<td>11</td>
		<td>57.2</td>
		<td>Сеанс СПА терапии (40 минут)</td>
		<td>400 руб.</td>
	</tr>
	<tr class="start">
		<td align="center" class="group" colspan="4">Отделение функциональной диагностики</td>
	</tr>
	<tr class="body">
		<td>10</td>
		<td>1</td>
		<td>ЭКГ в покое  (+ расшифровка)</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>10</td>
		<td>3</td>
		<td>ЭКГ с физической нагрузкой   (+расшифровка)</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>10</td>
		<td>4</td>
		<td>ЭКГ с  лекарственной нагрузкой  (+расшифровка)</td>
		<td>850 руб.</td>
	</tr>
	<tr class="body">
		<td>10</td>
		<td>5</td>
		<td>ЭКГ на дому</td>
		<td>1800 руб.</td>
	</tr>
	<tr class="body">
		<td>10</td>
		<td>6</td>
		<td>Тимпанометрия</td>
		<td>300 руб.</td>
	</tr>
	<tr class="body">
		<td>10</td>
		<td>7</td>
		<td>ЭКГ без расшифровки</td>
		<td>200 руб.</td>
	</tr>
	<tr class="body">
		<td>10</td>
		<td>8</td>
		<td>Расшифровка ЭКГ</td>
		<td>300 руб.</td>
	</tr>
	<tr class="body">
		<td>10</td>
		<td>9</td>
		<td>Анализ ЭКГ в динамике (с резюме)</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>10</td>
		<td>10</td>
		<td>Реоэнцефалограмма </td>
		<td>1100 руб.</td>
	</tr>
	<tr class="body">
		<td>10</td>
		<td>10.1</td>
		<td>Электроэнцефалограмма</td>
		<td>1300 руб.</td>
	</tr>
	<tr class="body">
		<td>10</td>
		<td>11</td>
		<td>Холтер ЭКГ</td>
		<td>1500 руб.</td>
	</tr>
	<tr class="body">
		<td>10</td>
		<td>12</td>
		<td>Холтер АД</td>
		<td>1300 руб.</td>
	</tr>
	<tr class="body">
		<td>10</td>
		<td>13</td>
		<td>Исследование функции внешнего дыхания</td>
		<td>800 руб.</td>
	</tr>
	<tr class="body">
		<td>10</td>
		<td>13.1</td>
		<td>Исследование жизненной ёмкости легких  (спирография)</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>10</td>
		<td>13.2</td>
		<td>Исследование форсированного выдоха (выявление бронхоспазма)</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>10</td>
		<td>13.3</td>
		<td>Исследование форсированного выдоха в динамике с лекарственными или провокационными пробами (2 или 4 пробы)</td>
		<td>600 руб.</td>
	</tr>
	<tr class="body">
		<td>10</td>
		<td>13.4</td>
		<td>Максимальная вентиляция легких (проба для ИВЛ)</td>
		<td>250 руб.</td>
	</tr>
	<tr class="body">
		<td>10</td>
		<td>13.5</td>
		<td>Экспресс тест Д форсированный выдох  (скрининг тест)</td>
		<td>300 руб.</td>
	</tr>
	<tr class="body">
		<td>10</td>
		<td>13.6</td>
		<td>Механическая пикфлоуметрия (3 попытки)</td>
		<td>150 руб.</td>
	</tr>
	<tr class="body">
		<td>10</td>
		<td>14</td>
		<td>Фоновая запись вариабельности ритма сердца   (Международный стандарт 1996 г.)</td>
		<td>800 руб.</td>
	</tr>
	<tr class="body">
		<td>10</td>
		<td>15</td>
		<td>Ортопроба  с записью вариабельности ритма сердца (6 минут  и 5 минут фоновой)</td>
		<td>1200 руб.</td>
	</tr>
	<tr class="body">
		<td>10</td>
		<td>16</td>
		<td>Отдельная кардиоваскулярная проба с записью вариабельности ритма сердца  (Чермака-Геринга, Даньини-Ашнера, Нилена-Барани, Вальсальвы)</td>
		<td>1500 руб.</td>
	</tr>
	<tr class="body">
		<td>10</td>
		<td>17</td>
		<td>Кардиоваскулярные тесты  (стандарт Сан-Антонио 1988 Д 5 тестов): вальсальвы, дыхательная,  ортостатическая, изометрическая, фоновая запись</td>
		<td>2200 руб.</td>
	</tr>
	<tr class="start">
		<td align="center" class="group" colspan="4">СПА</td>
	</tr>
	<tr class="body">
		<td>9</td>
		<td>6.1</td>
		<td>Программа «Тонус и упругость»</td>
		<td>3000 руб.</td>
	</tr>
	<tr class="body">
		<td>9</td>
		<td>6.2</td>
		<td>Программа «Омоложение и упругость»</td>
		<td>3000 руб.</td>
	</tr>
	<tr class="body">
		<td>9</td>
		<td>6.3</td>
		<td>Программа «Антицеллюлитное дренажное обертывание»</td>
		<td>3000 руб.</td>
	</tr>
	<tr class="body">
		<td>9</td>
		<td>6.4</td>
		<td>Програма «Долголение»</td>
		<td>2350 руб.</td>
	</tr>
	<tr class="body">
		<td>9</td>
		<td>6.5</td>
		<td>Программа «Антистресс»</td>
		<td>2870 руб.</td>
	</tr>
	<tr class="body">
		<td>9</td>
		<td>6.6</td>
		<td>Программа «Скрабирование и питание»</td>
		<td>3000 руб.</td>
	</tr>
	<tr class="body">
		<td>9</td>
		<td>6.7</td>
		<td>Программа «Ароматерапия»</td>
		<td>5000 руб.</td>
	</tr>
	<tr class="body">
		<td>9</td>
		<td></td>
		<td></td>
		<td>23 руб.</td>
	</tr>
	<tr class="body">
		<td>9</td>
		<td>7.1</td>
		<td>Программа «Похудение с озоном № 1/1 живот»</td>
		<td>5000 руб.</td>
	</tr>
	<tr class="body">
		<td>9</td>
		<td></td>
		<td>Программа «Похудение с озоном №  1/2живот»</td>
		<td>6000 руб.</td>
	</tr>
	<tr class="body">
		<td>9</td>
		<td>7.4</td>
		<td>Программа «Похудение с озоном № 2/1 спина»</td>
		<td>5000 руб.</td>
	</tr>
	<tr class="body">
		<td>9</td>
		<td>7.5</td>
		<td>Программа «Похудение с озоном № 2/2спина»</td>
		<td>6000 руб.</td>
	</tr>
	<tr class="body">
		<td>9</td>
		<td>7.6</td>
		<td>Программа «Похудение с озоном № 3/1 холка»</td>
		<td>4000 руб.</td>
	</tr>
	<tr class="body">
		<td>9</td>
		<td>7.7</td>
		<td>Программа «Похудение с озоном № 3/2 холка»</td>
		<td>4500 руб.</td>
	</tr>
	<tr class="body">
		<td>9</td>
		<td>7.8</td>
		<td>Программа «Похудение с озоном № 4/1 руки»</td>
		<td>4800 руб.</td>
	</tr>
	<tr class="body">
		<td>9</td>
		<td>7.9</td>
		<td>Программа «Похудение с озоном № 4/2 руки»</td>
		<td>7000 руб.</td>
	</tr>
	<tr class="body">
		<td>9</td>
		<td>7.10</td>
		<td>Программа «Похудение с озоном № 5/1 ноги»</td>
		<td>8000 руб.</td>
	</tr>
	<tr class="body">
		<td>9</td>
		<td>52</td>
		<td>Мезотерапия 1 зона</td>
		<td>1500 руб.</td>
	</tr>
	<tr class="body">
		<td>9</td>
		<td>54</td>
		<td>Плазмолифтинг волосистой части головы</td>
		<td>2500 руб.</td>
	</tr>

	<tr class="start">
		<td align="center" class="group" colspan="4">Травматология</td>
	</tr>
	<tr class="body">
		<td>7</td>
		<td>1</td>
		<td>Наложение иммобилизующих повязок из композиционных материалов (материал центра) 1 категории</td>
		<td>3900 руб.</td>
	</tr>
	<tr class="body">
		<td>7</td>
		<td>2</td>
		<td>Наложение иммобилизующих повязок из композиционных материалов (материал центра) 2 категории</td>
		<td>5000 руб.</td>
	</tr>
	<tr class="body">
		<td>7</td>
		<td>3</td>
		<td>Наложение гипсовых повязок (материал центра)  1 категории</td>
		<td>2500 руб.</td>
	</tr>
	<tr class="body">
		<td>7</td>
		<td>4</td>
		<td>Наложение гипсовых повязок (материал центра)  2 категории</td>
		<td>4000 руб.</td>
	</tr>
	<tr class="body">
		<td>7</td>
		<td>5</td>
		<td>Закрытая репозиция, закрытое вправление вывиха</td>
		<td>2500 руб.</td>
	</tr>
	<tr class="body">
		<td>7</td>
		<td>6</td>
		<td>Параартикулярная местноанестезирующая блокада</td>
		<td>1500 руб.</td>
	</tr>
	<tr class="body">
		<td>7</td>
		<td>7</td>
		<td>Параартикулярная местноанестезирующая блокада с введением лекарственного препарата</td>
		<td>2000 руб.</td>
	</tr>
	<tr class="body">
		<td>7</td>
		<td>8</td>
		<td>Прочие манипуляции 1 категории сложности</td>
		<td>3000 руб.</td>
	</tr>
	<tr class="body">
		<td>7</td>
		<td>9</td>
		<td>Удаление келлоидного рубца до 2 см</td>
		<td>1300 руб.</td>
	</tr>
	<tr class="body">
		<td>7</td>
		<td>10</td>
		<td>Удаление келлоидного рубца более 2 см</td>
		<td>2500 руб.</td>
	</tr>
	<tr class="body">
		<td colspan="4"><b>Экспертная работа</b></td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>1</td>
		<td>Справка ГСУ ф-ма 01 (при наличии справок от психиатра и нарколога, анализов)</td>
		<td>1250 руб.</td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>2.1</td>
		<td>Медицинское  заключение от педиатра для посещения спортивной секции ( при наличии у пациента ОАК и ЭКГ-годностью до1 месяца)</td>
		<td>350 руб.</td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>3</td>
		<td>Справка ф-ма 086-У   (при наличии справок от психиатра и нарколога,  ФЛО и анализов)</td>
		<td>1200 руб.</td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>4</td>
		<td>Справка и проведение Стреп-теста</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>5.1</td>
		<td>Выписка по адвокатскому запросу</td>
		<td>3000 руб.</td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>6.1</td>
		<td>Справка в лечебное учреждение с выпиской из амбулаторной карты  </td>
		<td>850 руб.</td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>7</td>
		<td>Водительская справка </td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>7.1</td>
		<td>ЭЭГ(водительская справка)</td>
		<td>600 руб.</td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>8.1</td>
		<td>Выписки на вынос</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>9</td>
		<td>Справка от психиатра</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>10</td>
		<td>Справка от нарколога</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>11</td>
		<td>Справка в бассейн</td>
		<td>350 руб.</td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>12</td>
		<td>Справка в ДДУ и школы</td>
		<td>200 руб.</td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>13</td>
		<td>Справка в ДДУ и школы с заключением ВК</td>
		<td>600 руб.</td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>14</td>
		<td>Справка для получения сан.-кур. Путевки</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>15</td>
		<td>Оформление санаторно-курортной карты (без учета анализов и ЭКГ)</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>16</td>
		<td>Справка для студента ф-ма 095-У</td>
		<td>300 руб.</td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>17</td>
		<td>Справка, составляющая  государственную тайну </td>
		<td>1200 руб.</td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>19</td>
		<td>Справка по эпид окружению                                                           </td>
		<td>250 руб.</td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>20</td>
		<td>Справка для получения лицензии на приобретения оружия ф-ма 046/1   (без справки от психолога, нарколога)</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>22</td>
		<td>Справка водительская (союз)</td>
		<td>850 руб.</td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>23</td>
		<td>Медицинская карта ребенка (ф-ма 026/у) в ДДУ</td>
		<td>2950 руб.</td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>24</td>
		<td>Медицинская карта ребенка (ф-ма 026/у) в школу</td>
		<td>4700 руб.</td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>24.1</td>
		<td>Медицинская карта ребенка (ф-ма 026/у) в школы (при наличии УЗИ и ЭКГ)</td>
		<td>2700 руб.</td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>25</td>
		<td>Направление на МСЭ, ф-ма 088/у-06 Д заключение ВК</td>
		<td>2000 руб.</td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>26</td>
		<td>Оформление сертификата о профилактических прививках</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>27</td>
		<td>Справка для выезда заграницу, ф-ма 082/у</td>
		<td>3500 руб.</td>
	</tr>
	<tr class="body">
		<td>5</td>
		<td>28</td>
		<td>Анализ мочи на содержание наркотиков</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="start">
		<td align="center" class="group" colspan="4">Лечебно-диагностический приём</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>1</td>
		<td>Первичный д.м.н.</td>
		<td>1500 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>2</td>
		<td>Повторный д.м.н.</td>
		<td>1200 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>3</td>
		<td>Первичный к.м.н. (хирургический профиль)</td>
		<td>1200 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>3.1</td>
		<td>Первичный к.м.н (терапевтический профиль)</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>4</td>
		<td>Повторный к.м.н. (хирургический профиль)</td>
		<td>900 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>4.1</td>
		<td>Повторный к.м.н. (терапевтический профиль)</td>
		<td>800 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>4.2</td>
		<td>Консультация ребенка по вопросам вскармливания (1 час)</td>
		<td>1600 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>4.3</td>
		<td>Консультация ребенка первого года жизни по вопросам ухода, кормления и прививок(1 час)</td>
		<td>1700 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>4.4</td>
		<td>Внутрибольничная консультация специалиста клиники</td>
		<td>700 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>5.1</td>
		<td>Первичный прием врача высшей категории</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>6.1</td>
		<td>Повторный прием врача высшей категории</td>
		<td>800 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>7</td>
		<td>Первичный прием врача I-II категории</td>
		<td>850 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>8</td>
		<td>Повторный прием врача I-II категории</td>
		<td>700 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>9</td>
		<td>Первичная  консультация врача-психиатра</td>
		<td>2500 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>10.01.17</td>
		<td>Прием врача ИРТ</td>
		<td>800 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>11</td>
		<td>Консультация врача по вопросам озонотерапии</td>
		<td>380 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>12</td>
		<td>Консультация логопеда первичная</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>13</td>
		<td>Консультация логопеда повторная</td>
		<td>350 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>14.1</td>
		<td>Прием врача-гомеопата </td>
		<td>3000 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>12</td>
		<td>Консультация логопеда первичная</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>15</td>
		<td>Консультация терапевта перед оперативным вмешательством</td>
		<td>700 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>16</td>
		<td>Консультация  специалиста клиники перед оперативным вмешательством (анестезиологическое пособие)</td>
		<td>650 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>17</td>
		<td>Медико-социально посещение (совет), интерпретация анализов</td>
		<td>300 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>17.1</td>
		<td>Расчет калоража питания и подбор индивидуальной диеты</td>
		<td>1200 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>18.1</td>
		<td>Консультация  педиатра перед госпитализацией с выдачей выписки</td>
		<td>900 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>19</td>
		<td>Консилиум (1 специалист)</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td colspan="4"><b>Профилактический осмотр врачей специалистов</b></td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>20</td>
		<td>К.м.н., д.м.н.</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>21</td>
		<td>Высшей категории </td>
		<td>300 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>22</td>
		<td>Врача специалиста </td>
		<td>250 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>23</td>
		<td>Консультация специалиста по Skype(15 мин)</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td colspan="4"><b>Выезд на дом (цена услуги по коду специалиста)</b></td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>24.1</td>
		<td>Вызов врача на дом                                                       (Ленинский, Ж/д, Советский, Батайск)</td>
		<td>3000 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>24.2</td>
		<td>Вызов врача на дом (Октябрьский, Первомайский р-ны, г. Аксай)</td>
		<td>2500 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>24.3</td>
		<td>Вызов врача на дом (Ворошиловский р-он)</td>
		<td>2000 руб.</td>
	</tr>
	<tr class="body">
		<td>4</td>
		<td>25</td>
		<td>Осмотр врача-педиатра (терапевта) перед вакцинацией</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="start">
		<td align="center" class="group" colspan="4">Офтальмология</td>
	</tr>
	<tr class="body">
		<td>3</td>
		<td>1</td>
		<td>Подбор простых очков</td>
		<td>300 руб.</td>
	</tr>
	<tr class="body">
		<td>3</td>
		<td>2</td>
		<td>Подбор сложных очков</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>3</td>
		<td>3</td>
		<td>Периметрия</td>
		<td>350 руб.</td>
	</tr>
	<tr class="body">
		<td>3</td>
		<td>4</td>
		<td>Тонометрия</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>3</td>
		<td>4.1</td>
		<td>Динамическая тонометрия</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>3</td>
		<td>5</td>
		<td>Тонография</td>
		<td>200 руб.</td>
	</tr>
	<tr class="body">
		<td>3</td>
		<td>6</td>
		<td>Удаление инородного тела роговицы</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>3</td>
		<td>7</td>
		<td>Промывание слезных путей (1 глаз)</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>3</td>
		<td>8</td>
		<td>Массаж век стеклянной палочкой</td>
		<td>100 руб.</td>
	</tr>
	<tr class="body">
		<td>3</td>
		<td>8.1</td>
		<td>Вакуумный массаж глаз</td>
		<td>140 руб.</td>
	</tr>
	<tr class="body">
		<td>3</td>
		<td>9</td>
		<td>Гониоскопия    </td>
		<td>250 руб.</td>
	</tr>
	<tr class="body">
		<td>3</td>
		<td>10</td>
		<td>Снятие швов</td>
		<td>300 руб.</td>
	</tr>
	<tr class="body">
		<td>3</td>
		<td>11</td>
		<td>Эпиляция ресниц при трихиазе</td>
		<td>200 руб.</td>
	</tr>
	<tr class="body">
		<td>3</td>
		<td>12</td>
		<td>Зондирование носо-слезного канала</td>
		<td>2500 руб.</td>
	</tr>
	<tr class="body">
		<td>3</td>
		<td>13</td>
		<td>Удаление птеригиума, халазиона, новообразований век, конъюнктивита (простое)</td>
		<td>3000 руб.</td>
	</tr>
	<tr class="body">
		<td>3</td>
		<td>14</td>
		<td>Удаление птеригиума, халазиона, новообразований век, конъюнктивита (усложненное)</td>
		<td>4500 руб.</td>
	</tr>
	<!--<tr class="body">
		<td>3</td>
		<td>15</td>
		<td>Обтурация слезных каналов</td>
		<td>4000 руб.</td>
	</tr>
	<tr class="body">
		<td>3</td>
		<td>16</td>
		<td>Ретросклеропломбирование</td>
		<td>4000 руб.</td>
	</tr>
	<tr class="body">
		<td>3</td>
		<td>17</td>
		<td>Вазорекоструктивная операция</td>
		<td>6000 руб.</td>
	</tr>-->
	<tr class="body">
		<td>3</td>
		<td>18</td>
		<td>Миостимуляция (массаж, очки)  (1 сеанс)</td>
		<td>100 руб.</td>
	</tr>
	<tr class="body">
		<td>3</td>
		<td>19</td>
		<td>Электростимуляция (1 сеанс)</td>
		<td>200 руб.</td>
	</tr>
	<tr class="body">
		<td>3</td>
		<td>20</td>
		<td>Лазерстимуляция (1 сеанс)</td>
		<td>150 руб.</td>
	</tr>
	<tr class="body">
		<td>3</td>
		<td>21</td>
		<td>Свето- магнитостиму на аппарате АМО АТОС (1 сеанс)</td>
		<td>100 руб.</td>
	</tr>
	<tr class="body">
		<td>3</td>
		<td>22</td>
		<td>Аппаратное лечение аккомодации  (1 сеанс)</td>
		<td>50 руб.</td>
	</tr>
	<tr class="body">
		<td>3</td>
		<td>23</td>
		<td>Офтальмомиостимуляция  при помощи компьютерных программ  (1 сеанс)</td>
		<td>100 руб.</td>
	</tr>
	<tr class="body">
		<td>3</td>
		<td>24</td>
		<td>Комплексное физиолечение с использованием всех программ и аппаратов (1 сеанс)</td>
		<td>450 руб.</td>
	</tr>
	<tr class="body">
		<td>3</td>
		<td>25</td>
		<td>Осмотр глазного дна (в рамках оформления формы 026/у)</td>
		<td>200 руб.</td>
	</tr>
	<tr class="start">
		<td align="center" class="group" colspan="4">Процедурный кабинет</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>0</td>
		<td>Cito! (срочное проведение анализа)</td>
		<td>50 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>1</td>
		<td>Инъекции в/в струйно (без стоимости препарата)</td>
		<td>150 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>2</td>
		<td>Инъекции в/в через внутривенный катетер  (без стоимости препарата)</td>
		<td>300 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>3</td>
		<td>Инъекции в/м, п/к  (без стоимости препарата)</td>
		<td>100 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>4</td>
		<td>Забор крови на анализы</td>
		<td>150 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>4.1</td>
		<td>Забор и предварительная обработка венозной крови</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>5</td>
		<td>Выезд на дом с программой инфузионной терапии- врач,м/с( дополнительно-стоимость манипуляции)- Ворошиловский район , 1 час</td>
		<td>3500 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>6</td>
		<td>Забор на дому анализов и проведение исследований (дополнительно: стоимость забора материала и стоимость анализа)- Ворошиловский р-он-м/с</td>
		<td>1200 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>7</td>
		<td>Забор на дому анализов и проведение исследований Г др. Отдаленные р-ны.</td>
		<td>1700 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>8</td>
		<td>Забор материала на кишечную группу </td>
		<td>150 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>9</td>
		<td>Забор материала на флору</td>
		<td>150 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>10</td>
		<td>Забор материала на цитологию</td>
		<td>150 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>11</td>
		<td>Озонотерапия Д натрия хлорид 0,9% (физраствор) 200</td>
		<td>380 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>12</td>
		<td>Озонотерапия Д натрия хлорид 0,9% (физраствор) 400</td>
		<td>700 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>13.1</td>
		<td>Озонирование трисоли, дисоли 5% АКК(100-200)</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>14</td>
		<td>Забор крови на дому(лонцет)</td>
		<td>200 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>15</td>
		<td>Иньекция парабульбарная, подконъюктивальная</td>
		<td>180 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>16</td>
		<td>Медикаментозная аккупунктура</td>
		<td>800 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>17</td>
		<td>Курс лимфотропной терапии</td>
		<td>6000 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>18</td>
		<td>Субконъюктивальная инъекция</td>
		<td>350 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>19</td>
		<td>Суббульбарная инъекция</td>
		<td>350 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>20</td>
		<td>Ретробульбарная инъекция</td>
		<td>450 руб.</td>
	</tr>
	<tr class="body">
		<td colspan="4"><b>Озонотерапия</b></td>
	</tr>
	<tr class="body">
		<td>18</td>
		<td>1</td>
		<td>Озонотерапия (волосистая часть головы) без мази для обезболевания</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>18</td>
		<td>2</td>
		<td>Озонотерапия (холка) без мази для обезболевания</td>
		<td>350 руб.</td>
	</tr>
	<tr class="body">
		<td>18</td>
		<td>3</td>
		<td>Озонотерапия(шея и декольте) без мази для обезболевания</td>
		<td>600 руб.</td>
	</tr>
	<tr class="body">
		<td>18</td>
		<td>4</td>
		<td>Озонотерапия(лицо) без мази для обезболевания</td>
		<td>800 руб.</td>
	</tr>
	<tr class="body">
		<td>18</td>
		<td>5</td>
		<td>Озонотерапия (Живот) без мази для обезболевания</td>
		<td>600 руб.</td>
	</tr>
	<tr class="body">
		<td>18</td>
		<td>6</td>
		<td>Озонотерапия (Спина) без мази для обезболевания</td>
		<td>600 руб.</td>
	</tr>
	<tr class="body">
		<td>18</td>
		<td>7</td>
		<td>Озонотерапия(руки) без мази для обезболевания</td>
		<td>400 руб.</td>
	</tr>
	<tr class="body">
		<td>18</td>
		<td>8</td>
		<td>Озонотерапия (ноги) без мази для обезболевания</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>18</td>
		<td>9.1</td>
		<td>Озонотерапия по болевым точкам (руки, плечи) без мази для обезболевания</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>18</td>
		<td>9.2</td>
		<td>Озонотерпия по болевым точкам (Позвоночник) без мази для обезболевания</td>
		<td>650 руб.</td>
	</tr>
	<tr class="body">
		<td colspan="4"><b> Аллерговакцинация</b></td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>30</td>
		<td>Кожный прик-тест (аллерго-обследование)</td>
		<td>450 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>31</td>
		<td>Проведение вакцинации (аллергеном)</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>32</td>
		<td>Аллерговакинация (пыльца) Ж 1 инициация </td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>33</td>
		<td>Аллерговакинация (пыльца) Ж 2 поддерживающая</td>
		<td>2500 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>34</td>
		<td>Аллерговакинация (клещи) Ж 1 инициация </td>
		<td>1500 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>35</td>
		<td>Аллерговакинация (клщи) Ж 2 поддерживающая </td>
		<td>3000 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>36</td>
		<td>Инициирующий набор для пероральной аллерготер</td>
		<td>8000 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>37</td>
		<td>Поддерживающий набор (3 флакона)СЛИТ</td>
		<td>10000 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>38</td>
		<td>Набор (10 разведений) СЛИТ пр-во Россия</td>
		<td>5000 руб.</td>
	</tr>
	<tr class="body">
		<td colspan="4"><b>Профилактическая вакцинация</b></td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>40</td>
		<td>Полиомиелит (ОПВ)</td>
		<td>1600 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>41</td>
		<td>Краснуха, корь, паротит («Приорикс»)</td>
		<td>1800 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>42</td>
		<td>Гепатит B</td>
		<td>1700 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>43</td>
		<td>Коклюш, дифтерия, столбняк («Инфанрикс»- детская)</td>
		<td>2700 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>43.1</td>
		<td>Коклюш, дифтерия, столбняк, полиомиелит без гемофильной   (« Пентаксим») </td>
		<td>3200 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>44.1</td>
		<td>Столбняк (взрослая)</td>
		<td>1300 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>45.1</td>
		<td>Ротовирусная «Рототек»</td>
		<td>4000 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>45.2</td>
		<td>Пневмококковая («Пнемовакс»)</td>
		<td>3500 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>46</td>
		<td>Туберкулинодиагностика</td>
		<td>1750 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>46.1</td>
		<td>Диаскинтест</td>
		<td>3000 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>48</td>
		<td>Вакцинация гепатита В (детям)</td>
		<td>1700 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>49</td>
		<td>Вакцинация гепатита В (взрослым)</td>
		<td>1800 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>50</td>
		<td>Вакцинация «Инфанрикс» АКДС</td>
		<td>2700 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>51</td>
		<td>Вакцинация «Тетраксим» АКДС + полиомиелит</td>
		<td>3800 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>52</td>
		<td>Вакцинация «Пентаксим» АКДС + полиомиелит + гемофильная</td>
		<td>3200 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>53</td>
		<td>Вакцинация «Приорикс» (корь, паротит, краснуха)</td>
		<td>1800 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>54</td>
		<td>Вакцинация АДС-М</td>
		<td>1650 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>55</td>
		<td>Вакцинация «Варилрикс» (ветряная оспа)</td>
		<td>4500 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>56</td>
		<td>Вакцинация «Превенар» (пневмококковая инфекция)</td>
		<td>3000 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>57</td>
		<td>Вакцинация «Пневмо 23» (пневмококковая инфекция )</td>
		<td>4000 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>58</td>
		<td>Вакцинация «Хаврикс» (взрослому) (гепатит А)</td>
		<td>4000 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>59</td>
		<td>Вакцинация «Хаврикс» (ребенку)</td>
		<td>2500 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>60</td>
		<td>Вакцинация «Окавакс» (ветряная оспа)</td>
		<td>4000 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>61</td>
		<td>Вакцинация «Аваксим»</td>
		<td>3500 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>62</td>
		<td>Вакцинация от кори (взрослая)</td>
		<td>2000 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>63</td>
		<td>Вакцинация от кори (детская)</td>
		<td>1800 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>64</td>
		<td>Вакцинация против гриппа</td>
		<td>800 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>70</td>
		<td>Снятие острой аллергической реакции (в/м инъекция) Ж 1</td>
		<td>200 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>71</td>
		<td>Снятие острой аллергической реакции (в/м инъекция) Ж 2</td>
		<td>350 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>72</td>
		<td>Снятие острой аллергической реакции (в/в струйно) </td>
		<td>1500 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>73</td>
		<td>Снятие острой аллергической реакции (в/в капельно) </td>
		<td>2750 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>74</td>
		<td>Снятие острой аллергической реакции и детоксикация (в/в капельно) </td>
		<td>2850 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>75</td>
		<td>Снятие острой аллергической реакции Ж 1</td>
		<td>450 руб.</td>
	</tr>
	<tr class="body">
		<td>2</td>
		<td>76</td>
		<td>Снятие острой аллергической реакции Ж 2</td>
		<td>550 руб.</td>
	</tr>
	<tr class="start">
		<td align="center" class="group" colspan="4">Анестезиологическое пособие</td>
	</tr>
	<tr class="body">
		<td>1</td>
		<td>1</td>
		<td>Премедикация внутримышечная для проведения операции под местной анестезией</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>1</td>
		<td>1.1</td>
		<td>Местная проводниковая анестезия </td>
		<td>550 руб.</td>
	</tr>
	<tr class="body">
		<td>1</td>
		<td>2.1</td>
		<td>Аппликационная анестезия слизистой (носа, рта) </td>
		<td>350 руб.</td>
	</tr>
	<tr class="body">
		<td>1</td>
		<td>3.1</td>
		<td>Мазевая анестезия «Эмла»  (косметология) 1 тюбик</td>
		<td>650 руб.</td>
	</tr>
	<tr class="body">
		<td>1</td>
		<td>4.1</td>
		<td>Мазь с анестезином  </td>
		<td>450 руб.</td>
	</tr>
	<tr class="body">
		<td>1</td>
		<td>7</td>
		<td>Пребывание в палате пробуждения до 1 часа </td>
		<td>2000 руб.</td>
	</tr>
	<!--<tr class="body">
		<td>1</td>
		<td>2</td>
		<td>Анестезиологическое сопровождение операций под местной анестезией (премедикация, атаралгезия, мониторный контроль)</td>
		<td>550 руб.</td>
	</tr>
	<tr class="body">
		<td>1</td>
		<td>3</td>
		<td>В/в наркоз до 30 минут</td>
		<td>4000 руб.</td>
	</tr>
	<tr class="body">
		<td>1</td>
		<td>4</td>
		<td>в/в наркоз до 1 чаа</td>
		<td>5500 руб.</td>
	</tr>
	<tr class="body">
		<td>1</td>
		<td>5</td>
		<td>Спинальная анестезия</td>
		<td>8500 руб.</td>
	</tr>
	<tr class="body">
		<td>1</td>
		<td>6</td>
		<td>Эпидуральная анестезия</td>
		<td>8500 руб.</td>
	</tr>
	<tr class="body">
		<td>1</td>
		<td>7</td>
		<td>Пребывание в палате пробуждения до 1 часа</td>
		<td>2000 руб.</td>
	</tr>-->
	<tr class="start">
		<td align="center" class="group" colspan="4">Урологические манипуляции</td>
	</tr>
	<tr class="body">
		<td>8</td>
		<td>1.1</td>
		<td>Круговое иссечение крайней плоти (Circumcision) 1 кат сложности</td>
		<td>6000 руб.</td>
	</tr>
	<tr class="body">
		<td>8</td>
		<td>1.2</td>
		<td>Круговое иссечение крайней плоти (Circumcision) 2 кат сложности</td>
		<td>7000 руб.</td>
	</tr>
	<tr class="body">
		<td>8</td>
		<td>1.3</td>
		<td>Круговое иссечение крайней плоти (Circumcision) 3 кат сложности</td>
		<td>8500 руб.</td>
	</tr>
	<tr class="body">
		<td>8</td>
		<td>20.17</td>
		<td>Фимоз (у ребенка), обведение</td>
		<td>2500 руб.</td>
	</tr>
	<tr class="body">
		<td>8</td>
		<td>20.18</td>
		<td>Фимоз (у ребенка, с анестезией)</td>
		<td>3500 руб.</td>
	</tr>
	<tr class="body">
		<td>8</td>
		<td>20.19</td>
		<td>Фимоз (у ребенка, повтор), рассечение спаек</td>
		<td>800 руб.</td>
	</tr>
	<tr class="body">
		<td>8</td>
		<td>20.20</td>
		<td>Фимоз (у ребенка,с анестезией, повтор)</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="body">
		<td>8</td>
		<td>4</td>
		<td>Массаж предстательной железы</td>
		<td>800 руб.</td>
	</tr>
	<tr class="start">
		<td align="center" class="group" colspan="4">Массаж медицинский</td>
	</tr>
	<tr class="body">
		<td>23</td>
		<td>1</td>
		<td>Массаж взрослому (1 зона)</td>
		<td>250 руб.</td>
	</tr>
	<tr class="body">
		<td>23</td>
		<td>2</td>
		<td>Перкуссионный+баночный</td>
		<td>350 руб.</td>
	</tr>
	<tr class="body">
		<td>23</td>
		<td>3</td>
		<td>Лечебный (детский от 1 года до 7 лет) спина (от затылка до копчика)</td>
		<td>550 руб.</td>
	</tr>
	<tr class="body">
		<td>23</td>
		<td>4</td>
		<td>Лечебный (взрослый) спина (от затылка до копчика)</td>
		<td>650 руб.</td>
	</tr>
	<tr class="body">
		<td>23</td>
		<td>5</td>
		<td>Воротниковая зона (2 зоны)</td>
		<td>500 руб.</td>
	</tr>
	<tr class="body">
		<td>23</td>
		<td>6</td>
		<td>Мануальная терапия (1 сеанс)</td>
		<td>1000 руб.</td>
	</tr>
	<tr class="start">
		<td align="center" class="group" colspan="4">Дневной стационар</td>
	</tr>
	<tr class="body">
		<td>0</td>
		<td>1</td>
		<td>Один койко-день до 2-х часов (без питания)</td>
		<td>1100 руб. (в т.ч.  Медикаменты -300 руб.)</td>
	</tr>
	<tr class="body">
		<td>0</td>
		<td>2</td>
		<td>Один койко-день до 2-х часов без учета стоимости медикаментов (без питания)</td>
		<td>800 руб.</td>
	</tr>
	<tr class="body">
		<td>0</td>
		<td>3</td>
		<td>Один койко-день до 2-х часов (с питанием)</td>
		<td>1200 руб. (300 руб медикаменты, питание -100 руб.)</td>
	</tr>
	<tr class="body">
		<td>0</td>
		<td>4.1</td>
		<td>Каждый  час свыше 2х часов  (без питания) </td>
		<td>200 руб.</td>
	</tr>
	<tr class="body">
		<td>0</td>
		<td>5.1</td>
		<td>Проведение химиотерпии ( препараты пациента)</td>
		<td>3500 руб.</td>
	</tr>
	<tr class="body">
		<td>0</td>
		<td>6.1</td>
		<td>Один койко-день (для пациентов, находящихся на диспансерном обследовании) Чек-ап</td>
		<td>1800 руб. </td>
	</tr>
	<tr class="body">
		<td>0</td>
		<td>7</td>
		<td>Дюбаж</td>
		<td>1650 руб. </td>
	</tr>
	</table>
	</tbody>
