<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="./static/img/favicon.ico" />
    <title>О центре</title>
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="../libs/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../libs/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/css/about.min.css">
  </head>
  <body>
    <div class="container">
      <!--Мобильный попап кнопки вызова -->
      {% include "phone_popup.html" %}
      <!--Мобильный попап записи на приём -->
      {% include "visit_popup.html" %}
      <!--Мобильный попап заказа справки -->
      {% include "reference_popup.html" %}
      <div class="content">
          {% block content %}
          {% include "header.html" %}

        <div class="wrapper">
          <main class="main">
            <!--Главная навигация сайта -->
            {% include "navigation.html"%}

            <div class="container-flex">
              <!--Сайдбар -->
              {% include "sidebar.html" %}

                <!--Главный контент-->
              <div class="main-content-section">
                <nav class="bread-crumbs">
                  <span class="home__link nav__link nav__link_home"><a href="index.html">Медицинский центр</a></span>
                  <span class="specialists__link nav__link nav__link_active">| О центре</span>
                </nav>

                  <!--Секция специалистов-->
                <section class="specialists">
                  <h2 class="main-conent-section__title">О центре</h2>

                    <img src="static/img/about_doctor.png" alt="" class="director" align="left">
                    <p class="bold">Добро пожаловать в «Семейный медицинский центр» — многопрофильное медицинское учреждение, где к каждому пациенту относятся как к члену семьи!</p>
                    <p>Мы верим, что здоровье — одна из важнейших ценностей современного мира. Поэтому задача нашего центра — помочь каждому пациенту сохранить, восстановить и приумножить здоровье.
                      Эту проблему мы решаем, используя самые современные медицинские технологии в сочетании с опытом и знаниями наших врачей.</p>
                    <p>  К вашим услугам все виды исследований,необходимых для постановки диагноза — УЗИ, РЭГ, ЭЭГ, ЭКГ, ФЛО, эндоскопическая стойка. Мы проводим периодические осмотры, выдаем листки нетрудоспособности,
                      водительские справки и медицинские книжки, а также предоставляем документы для оформления санаторно–курортного лечения, справок для госслужбы, гостайну. Все специалисты нашего центра сертифицированы,
                       имеют возможность участвовать в научных конференциях, повышать квалификацию. Полученные навыки и знания они применяют на практике.</p>

                   <h4 class="bold title_boss"><span class="title">Катеринчева Ольга Александровна</span><br>
                    Директор «Семейного медицинского центра»</h4>

                  <h4 class="bold title">Комплексность диагностики и лечения</h4>
                  <p>Формат нашего центра позволяет обеспечить комплексный подход к диагностике и лечению пациента. За один прием вы можете получить консультацию нескольких врачей, сдать анализы и провести дополнительные исследования.
                    Решение о вашем лечении будет продуманным и согласованным — каждый специалист выскажет свое мнение, после чего лечащий врач подберет терапию. Кроме того, в «Семейном медицинском центре» приняты такие формы работы,
                    как совместное ведение пациента несколькими врачам, кураторство во время лечения и консилиумы по особо сложным случаям. Мы понимаем, что время наших пациентов стоит очень дорого, поэтому создаем все условия,
                    чтобы вы получили медицинское обслуживание в оптимальные сроки и в одном центре,в том числе и в вечернее время 7 дней в неделю.</p>
                    <div class="container-flex">
                      <img src="static/img/picture1.jpg" alt="">
                      <img src="static/img/picture2.png" alt="">
                    </div>

                    <h4 class="bold title">C заботой о вашем комфорте</h4>
                    <p>Если врач назначил срочные манипуляции, в вашем распоряжении комфортабельный дневной стационар для взрослых, оборудованный удобными креслами-реклайнерами. А для маленьких пациентов предусмотрена просторная комната
                      с удобной детской мебелью, разнообразными игрушками, интересными книжками и любимыми мультфильмами! В случае, если по каким-то причинам вы не можете посетить центр, любой из наших специалистов приедет к вам домой для
                      диагностики и лечения. Также мы практикуем профилактические программы по диспансеризации в рамках «одного дня» детей, взрослых, пожилых, спортсменов и будущих родителей.</p>
                      <div class="container-flex">
                        <img src="static/img/picture3.png" alt="">
                        <img src="static/img/picture4.png" alt="">
                      </div>
                      <h4 class="bold title">К детям особый подход!</h4>
                      <p>Прием детей проводится в спокойной и доброжелательной атмосфере опытными врачами-педиатрами,за плечами которых многолетняя практика работы в муниципальных лпу. Для удобства маленьких пациентов были разработаны комплексные
                       программы наблюдения и обследования:</p>
                      <ul>
                        <li><p>программа для часто болеющих детей с участием врача аллерголога-иммунологаи возможностью иммунологического обследования;</p></li>
                        <li><p>программа для детей с перинатальным поражением центральной нервной
                         системыс наблюдением у врача-невролога.</p></li>
                      </ul>
                       <p>Прием специалистов осуществляется по предварительной записи, что позволяет пройти обследование и получить консультацию максимально быстро.</p>
                       <div class="container-flex">
                         <img src="static/img/picture6.jpg" alt="">
                         <img src="static/img/picture5.png" alt="">
                       </div>

                       <h4 class="bold title">У нас только вежливый и внимательный персонал</h4>
                       <p>Болезнь — состояние само по себе неприятное. Поэтому очень важно, чтобы к больному человеку относились с пониманием. Специалисты нашего центра заинтересованы в успехе лечения и имеют возможность оказать пациенту максимум внимания.
                        Мы гарантируем заботливое отношение и качественное обслуживание!</p>
                       <div class="container-flex">
                         <img src="static/img/picture7.png" alt="">
                         <img src="static/img/picture8.png" alt="">
                       </div>

                       <h4 class="bold title">Честность - в основе нашей политики</h4>
                       <p>Комплексный подход к диагностике позволяет врачу максимально полно проинформировать пациента о состоянии его здоровья и возможных вариантах лечения. Располагая необходимой информацией, пациент сам решает,
                        где ему лечиться и сколько за это платить</p>
                        <div class="container-flex">
                          <img src="static/img/picture9.png" alt="">
                          <img src="static/img/picture10.jpg" alt="">
                        </div>

                        <h4 class="bold title">В постоянном развитии</h4>
                        <p>Время течет, все изменяется, и мы тоже не стоим на месте! В апреле 2015 года распахнул свои двери филиал «Семейного медицинского центра» в поселке Каменоломни. А уже 1 ноября состоится открытие дополнительного отделения на третьем этаже
                           в здании на Комарова 7а/16а,     где будут располагаться кабинеты невролога, офтальмолога, терапевта, косметолога и многих других специалистов</p>

                        <p class="bold title_conclusion_left">Мы работаем и развиваемся, чтобы здоровье поселилось в Ваших семьях! Будьте здоровы!</p>
                        <p class="bold title_conclusion_right">С любовью, ваш «Семейный медицинский центр»</p>

                        <iframe
                          src="https://www.google.com/maps/embed?pb=!1m0!4v1499255658755!6m8!1m7!1sF%3A-W6gGo6rK0zA%2FWVEC8yD0Y_I%2FAAAAAAAKC1A%2FtvxlFKfaGqMvHAzxcmF_-ICfyjwpjbQSgCLIBGAYYCw!2m2!1d47.28701189563244!2d39.7049163351204!3f0!4f0!5f0.7820865974627469"
                          class="iframe_3d"
                           height="450" frameborder="0" style="border:0" allowfullscreen="">
                        </iframe>
                </section>
              </div>
            </div>
          </main>

        <!--Секция партнеров -->
        <section class="section section__partners section__slider">
          <h2 class="title section__title title_common">Наши партнеры</h2>
          <div class="section__content owl-carousel2">
            <div><img src="./static/img/alians.png" alt="Альянс-Мед" class="partners__image partners__image_alliance"></div>
            <div><img src="./static/img/relax.png" alt="Курортный отдых" class="partners__image partners__image_relax"></div>
          </div>
        </section>

        <!--Противопоказания -->
        <div class="against">
          <hr class="hr against__hr_up">
          <p class="title title_size_m against__title">возможны противопоказания. необходима консультация специалиста</p>
          <hr class="hr against__hr_down">
        </div>

          {% include "footer.html" %}
          {% endblock %}
        </div>
      </div>
    </div>

    <div class="site__service">
      <div>
        <img src="./static/img/immelman.png" alt="Иммельман" class="airplane">
        <p class="text text_size_xs footer__text_service">Обслуживание сайта - immelman.ru</p>
      </div>
      <div>
        <p class="text text_size_xs footer__text_rights">© 2018 ООО «Семейный Медицинский Центр»<br>
          Все права защищены.</p>
      </div>
    </div>


    <script src="../libs/jQuery/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script src="../libs/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script src="static/js/all.min.js" charset="utf-8"></script>
  </body>
</html>
