<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="./static/img/favicon.ico" />
    <title>Контакты</title>
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="../libs/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../libs/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/css/contacts.min.css">
  </head>
  <body>
    <div class="container">
      <!--Мобильный попап кнопки вызова -->
      {% include "phone_popup.html" %}
      <!--Мобильный попап записи на приём -->
      {% include "visit_popup.html" %}
      <!--Мобильный попап заказа справки -->
      {% include "reference_popup.html" %}

      <div class="content">
          {% block content %}
          {% include "header.html" %}

        <div class="wrapper">
          <main class="main">
            <!--Главная навигация сайта -->
            {% include "navigation.html"%}

            <div class="container-flex">
              <!--Сайдбар -->
              {% include "sidebar.html" %}

                <!--Главный контент-->
              <div class="main-content-section">
                <nav class="bread-crumbs">
                  <span class="home__link nav__link nav__link_home"><a href="index.html">Медицинский центр</a></span>
                  <span class="specialists__link nav__link nav__link_active">| Контакты</span>
                </nav>

                <section class="contacts">
                  <h2 class="main-content-section__title">Контакты</h2>
                  <div class="contacts__content">
                    <div class="contacts__info">
                      <h4>Ростов-на-Дону</h4>
                      <p class="work-time">Часы работы:</p>
                      <span>пн-сб 8:00-20:00<br>
                        вс 8:00-18:00</span>
                        <div class="number-block">
                          <a href="tel:+7 (800) 555-80-62" class="link_number">+7 (800) 555-80-62</a>
                          <a href="tel:+7 (863) 230-04-30" class="link_number">+7 (800) 555-80-62</a>
                          <a href="tel:+7 (863) 230-04-33" class="link_number">+7 (800) 555-80-62</a>
                          <a href="tel:+7 (863) 310-91-31" class="link_number">+7 (800) 555-80-62</a>
                        </div>
                    <span class="mail_span">E-mail: <a href="mailto:smc-dok@bk.ru" class="mail_link">smc-dok@bk.ru</a> </span>
                    </div>

                    <div class="map">
                      <div id="ymap" class="ymap"></div>
                      <span class="location__section_note">пр. Комарова 7а/16а <br>(здание бывшей «Северянки», напротив гипермаркета «Окей») </span>
                    </div>


                    <div class="contacts__info">
                      <h4>п. Каменоломни</h4>
                      <p class="work-time">Часы работы:</p>
                      <span>пн-сб 8:00-18:00<br>
                        вс выходной</span>
                      <div class="number-block">
                        <a href="tel:+7 (800) 555-80-62" class="link_number">+7 (800) 555-80-62</a>
                        <a href="tel:+7 (86360) 2-03-62" class="link_number">+7 (86360) 2-03-62</a>
                        <a href="tel:+7 (86360) 2-10-60" class="link_number">+7 (86360) 2-10-60</a>
                        <a href="tel:+7 (86360) 2-08-63" class="link_number">+7 (86360) 2-08-63</a>
                      </div>
                    </div>
                    <div class="map">
                      <div id="ymap1" class="ymap"></div>
                      <span class="location__section_note">ул.Шоссейная 7А </span>
                    </div>
                  </div>

                  <h4>Обратная связь</h4>
                  <form action="">
                    <input type="text"    class="input text_input" placeholder="Имя">
                    <input type="text"    class="input text_input" placeholder="Номер">
                    <input type="e-email" class="input text_input" placeholder="E-mail">
                    <input type="text"    class="input text_input input_big" placeholder="Текст сообщения">

                      <label class="flex_label checkbox__label feedback__label">
                        Согласие на обработку персональных данных*
                        <input type="checkbox">
                        <span class="checkbox__custom"></span>
                      </label>
                    <button class="submit">Отправить</button>
                  </form>
                </section>
              </div>
            </div>
          </main>

        <!--Секция партнеров -->
        <section class="section section__partners section__slider">
          <h2 class="title section__title title_common">Наши партнеры</h2>
          <div class="section__content owl-carousel2">
            <div><img src="./static/img/alians.png" alt="Альянс-Мед" class="partners__image partners__image_alliance"></div>
            <div><img src="./static/img/relax.png" alt="Курортный отдых" class="partners__image partners__image_relax"></div>
          </div>
        </section>

        <!--Противопоказания -->
        <div class="against">
          <p class="title title_size_m against__title">возможны противопоказания. необходима консультация специалиста</p>
        </div>

          {% include "footer.html" %}
          {% endblock %}
        </div>
      </div>
    </div>

    <div class="site__service">
      <div>
        <img src="./static/img/immelman.png" alt="Иммельман" class="airplane">
        <p class="text text_size_xs footer__text_service">Обслуживание сайта - immelman.ru</p>
      </div>
      <div>
        <p class="text text_size_xs footer__text_rights">© 2018 ООО «Семейный Медицинский Центр»<br>
          Все права защищены.</p>
      </div>
    </div>

    <script type="text/javascript">
    function fid(ymaps) {
      var map = new ymaps.Map("ymap", {
        center: [39.705419, 47.287075],
        zoom: 16,
        type: "yandex#map"
      });
      map.controls.add("zoomControl").add("mapTools").add(new ymaps.control.TypeSelector(["yandex#map", "yandex#satellite", "yandex#hybrid", "yandex#publicMap"]));
      map.geoObjects.add(new ymaps.Placemark([39.705344, 47.287199], {
        balloonContent: "Семейный медицинский центр"
      }, {
        draggable: false,
        iconImageHref: './static/img/logomap.png',
        iconImageSize: [82, 65],
        iconImageOffset: [-10, -65]
      }));
      var map1 = new ymaps.Map("ymap1", {
        center: [40.21227422, 47.67066511],
        zoom: 15,
        type: "yandex#map"
      });
      map1.controls.add("zoomControl").add("mapTools").add(new ymaps.control.TypeSelector(["yandex#map", "yandex#satellite", "yandex#hybrid", "yandex#publicMap"]));
      map1.geoObjects.add(new ymaps.Placemark([40.216695, 47.67023], {
        balloonContent: "Семейный медицинский центр, филиал"
      }, {
        draggable: false,
        iconImageHref: './static/img/logomap.png',
        iconImageSize: [82, 65],
        iconImageOffset: [-10, -65]
      }));
    };
    // ]]>
  </script>

    <script type="text/javascript" src="http://api-maps.yandex.ru/2.0/?coordorder=longlat&amp;load=package.full&amp;wizard=constructor&amp;lang=ru-RU&amp;onload=fid"></script>
    <script src="../libs/jQuery/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script src="../libs/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script src="static/js/all.min.js" charset="utf-8"></script>
  </body>
</html>
