<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="./static/img/favicon.ico" />
    <title>Main page</title>
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="../libs/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../libs/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/css/main.min.css">
  </head>
  <body>
    <div class="container">
      <!--Мобильный попап кнопки вызова -->
      {% include "phone_popup.html" %}
      <!--Мобильный попап записи на приём -->
      {% include "visit_popup.html" %}
      <!--Мобильный попап заказа справки -->
      {% include "reference_popup.html" %}
      <!-- Основной контент -->
      <div class="content">
          {% block content %}
          {% include "header.html" %}


    <div class="wrapper">
      <main class="main">
        {% include "navigation.html" %}
      <div class="container-flex">
        <!--Сайдбар -->
        {% include "sidebar.html" %}

        <div class="main-content-section">
          <!--Главный контент-->
          {% include "main/content.html" %}

            <!--Секция партнеров -->
            <section class="section section__partners section__slider">
              <h2 class="title section__title title_common">Наши партнеры</h2>
              <div class="section__content owl-carousel2">
              <div><img src="./static/img/alians.png" alt="Альянс-Мед" class="partners__image partners__image_alliance"></div>
              <div><img src="./static/img/relax.png" alt="Курортный отдых" class="partners__image partners__image_relax"></div>
              </div>
            </section>

            <!--Секция прогресса -->
            <section class="section section__progress section__progress_desktop_hidden section__slider">
              <h2 class="title section__title title_common">Наши достижения</h2>
              <div class="section__content section__content_progress owl-carousel2">
                <div><img src="./static/img/clinics.png" alt="Лучшие клиники РФ" class="progress__image progress__image_medicine"></div>
                <div><img src="./static/img/reputation1.png" alt="Надежная репутация" class="progress__image progress__image_reputation"></div>
              </div>
            </section>

            <!--Секция наград -->
            <section class="section section__rewards section__slider">
              <h2 class="title section__title title_common">Грамоты и благодарности</h2>
              <div class="owl-carousel2 section__content">
                <div class="rew_cont"><img src="./static/img/desk_rew-img1.jpg" alt="Сертификат" class="reward__image reward__image_1"></div>
                <div class="rew_cont"><img src="./static/img/desk_rew-img2.jpg" alt="Сертификат" class="reward__image reward__image_2"></div>
              </div>
            </section>
          </div>
        </div>
      </main>

        <!--Противопоказания -->
        <div class="against">
          <p class="title title_size_m against__title">возможны противопоказания. необходима консультация специалиста</p>
        </div>

          {% include "footer.html" %}
        {% endblock %}
      </div>
    </div>
  </div>

    <div class="site__service">
      <div>
        <img src="./static/img/immelman.png" alt="Иммельман" class="airplane">
        <p class="text text_size_xs footer__text_service">Обслуживание сайта - immelman.ru</p>
      </div>
      <div>
        <p class="text text_size_xs footer__text_rights">© 2018 ООО «Семейный Медицинский Центр»<br>
          Все права защищены.</p>
        </div>
    </div>


    <script src="../libs/jQuery/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script src="../libs/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script src="static/js/all.min.js" charset="utf-8"></script>
  </body>
</html>
