<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="./static/img/favicon.ico" />
    <title>Новости</title>
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="../libs/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../libs/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/css/news.min.css">
  </head>
  <body>
    <div class="container">
      <!--Мобильный попап кнопки вызова -->
      {% include "phone_popup.html" %}
      <!--Мобильный попап записи на приём -->
      {% include "visit_popup.html" %}
      <!--Мобильный попап заказа справки -->
      {% include "reference_popup.html" %}
      <div class="content">
          {% block content %}
          {% include "header.html" %}

        <div class="wrapper">
          <main class="main">
            <!--Главная навигация сайта -->
            {% include "navigation.html"%}

            <div class="container-flex">
              <!--Сайдбар -->
              {% include "sidebar.html" %}

                <!--Главный контент-->
              <div class="main-content-section">
                <nav class="bread-crumbs">
                  <span class="home__link nav__link nav__link_home"><a href="index.html">Медицинский центр</a></span>
                  <span class="specialists__link nav__link nav__link_active">| Новости</span>
                </nav>

                  <!--Секция специалистов-->
                <section class="specialists">
                  <h2 class="title main-conent-section__title">Новости</h2>
                    <div class="news__block">
                      <p class="news__date">02.08.2018</p>
                      <h4 class="news__subtitle">Как сделать летнее плавание безопасным для детей</h4>
                      <p class="news__content">Купание в водоемах поможет укрепить здоровье ребенка, но только при соблюдении
                      нескольких правил.</p>
                    </div>

                    <div class="news__block">
                      <p class="news__date">27.07.2018</p>
                      <h4 class="news__subtitle">Оказание первой помощи</h4>
                      <p class="news__content">Базовые принципы, которые должен знать каждый.</p>
                    </div>

                    <div class="news__block">
                      <p class="news__date">20.06.2018</p>
                      <h4 class="news__subtitle">Вниманию водителей и работадателей!</h4>
                      <p class="news__content">Ужесточились требования по проведению предрейсовых и послерейсовых медицинских осмотров.</p>
                    </div>
                </section>
              </div>
            </div>
          </main>

        <!--Секция партнеров -->
        <section class="section section__partners section__slider">
          <h2 class="title section__title title_common">Наши партнеры</h2>
          <div class="section__content owl-carousel2">
            <div><img src="./static/img/alians.png" alt="Альянс-Мед" class="partners__image partners__image_alliance"></div>
            <div><img src="./static/img/relax.png" alt="Курортный отдых" class="partners__image partners__image_relax"></div>
          </div>
        </section>

        <!--Противопоказания -->
        <div class="against">
          <p class="title title_size_m against__title">возможны противопоказания. необходима консультация специалиста</p>
        </div>

          {% include "footer.html" %}
          {% endblock %}
        </div>
      </div>
    </div>

    <div class="site__service">
      <div>
        <img src="./static/img/immelman.png" alt="Иммельман" class="airplane">
        <p class="text text_size_xs footer__text_service">Обслуживание сайта - immelman.ru</p>
      </div>
      <div>
        <p class="text text_size_xs footer__text_rights">© 2018 ООО «Семейный Медицинский Центр»<br>
          Все права защищены.</p>
      </div>
    </div>


    <script src="../libs/jQuery/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script src="../libs/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script src="static/js/all.min.js" charset="utf-8"></script>
  </body>
</html>
